### Mounting Google Drive

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [2]:
cd 'drive/MyDrive/IIT J Summer Internship 2022/Code/Neural-Uncertainty-Representation/'

/content/drive/.shortcut-targets-by-id/1h_oF16bG32l75GPobgHe_9HgdUduLFxT/IIT J Summer Internship 2022/Code/Neural-Uncertainty-Representation

### Importing Necessary Libraries

In [3]:
import numpy as np
import pandas as pd
from openpyxl import load_workbook

import tensorflow as tf

from tensorflow.keras.layers import Dense, Dropout, LSTM, TimeDistributed
from tensorflow.keras.models import Sequential
from tensorflow.keras.optimizers import Adam

from sklearn.preprocessing import MinMaxScaler

import matplotlib.pyplot as plt
import os

### Importing Data
We import the data of a young subject's 3D-Tensor Data of dimensions (TR, Voxel, Number of Subjects) for the 5 different ROIs as follows:
- **Prefrontal areas:** dlPFC, vlPFC, lOFC, dmPFC, mPFC, mOFC
- **Default-mode areas:** mPFC, ACC, PCC, Precuneus, mOFC
- **Sensory areas:** VC
- **Multisensory area:** pSTS
- **Some other areas:** TP, IPL, mCC, Put, PCG, Nac, INS

In [4]:
file_names = [name for name in os.listdir('/content/drive/MyDrive/IIT J Summer Internship 2022/Hitchcock/Data/YOUNG/Voxel_BOLD/Numpy') if name.endswith("npy") and ("(1)" not in name)]
file_names = [name for name in file_names if ("537" not in name)]

In [5]:
ROI_names = [file_name.replace("data_","").replace(".npy","") for file_name in file_names]

In [6]:
data_ori = list()
for file_name in file_names:
  data_ori.append(np.load('/content/drive/MyDrive/IIT J Summer Internship 2022/Hitchcock/Data/YOUNG/Voxel_BOLD/Numpy/'+file_name))

### Data Preparation

Now, here we prepare the data to be fed to the Neural Network Architechtures. We can't predict the time ahead upto which the subjects are predicting correctly so, we will take a bit round about way to predict the BOLD values ahead in time(for several choices of time points e.g. 1 time point ahead, 2 time point ahead, etc) and will compare the results for young and old subjects.

Right from the starting we decide some of the data preparation parameters, so that we can use them as we require.

In [7]:
TRAIN_BATCH_SIZE = 20
TEST_BATCH_SIZE = 10
LOOK_AHEAD = 1
NUM_TEST_SUBS = 10

We will start a basic data preparation where we will average across all the voxels for a ROI and fit the model which predicts this average BOLD value. Later we will avoid doing an average since, all voxels in a ROI is not equally important and hence we will want to predict the BOLD values of several voxels simultaneously.

In [8]:
data = [np.mean(dat, axis=1, keepdims=True) for dat in data_ori]

Let's Start the Data Preparation for lOFC later we will iterate the same procedure for the other ROIs.

In [9]:
print(ROI_names[-1], "Average BOLD Shape:", data[-1].shape)

lOFC Average BOLD Shape: (189, 1, 111)

Below, we see the average BOLD time series plot for all the ROIs.

We have changed the data in the form (Number of Subjects, TR, Voxels) below.

In [10]:
data = [np.transpose(dat, (2,0,1)) for dat in data]

In [11]:
print(ROI_names[-1], "Average BOLD Shape:", data[-1].shape)

lOFC Average BOLD Shape: (111, 189, 1)

We split the dataset of 111 young subjects into 101 subjects in the training data and 10 subject in the test data.

In [12]:
train_data_unscaled = [dat[:-NUM_TEST_SUBS] for dat in data]
test_data_unscaled = [dat[-NUM_TEST_SUBS:] for dat in data]

We scaled the BOLD values of each voxel in the train data between 0 and 1 for each voxel. We use the same MinMaxScaler fit on the train data on the test data.

In [13]:
scalers = list()
for i in range(len(ROI_names)):
  scalers.append(MinMaxScaler(feature_range = (0, 1)))
train_data = [sc.fit_transform(dat[:,:,0]) for sc, dat in zip(scalers, train_data_unscaled)] 
test_data = [sc.transform(dat[:,:,0]) for sc, dat in zip(scalers, test_data_unscaled)]

In [14]:
train_data = [np.expand_dims(dat, axis = -1) for dat in train_data]
test_data = [np.expand_dims(dat, axis = -1) for dat in test_data]

In [15]:
print(ROI_names[-1], "Train Data Shape: ", train_data[-1].shape)
print(ROI_names[-1], "Test Data Shape: ", test_data[-1].shape)

lOFC Train Data Shape:  (101, 189, 1)
lOFC Test Data Shape:  (10, 189, 1)

We now build a data generator which would produce mini-batches during the training of the neural network.

In [16]:
class KerasBatchGenerator(object):
    def __init__(self, data, num_TRs, batch_size, look_ahead=1):
        self.data = data
        self.num_TRs = num_TRs
        self.batch_size = batch_size
        self.current_idx = 0
        self.look_ahead = look_ahead

    def generate(self):
        while True:
            if self.current_idx + self.batch_size >= self.data.shape[0]:
              self.current_idx = 0
            x = self.data[self.current_idx:(self.current_idx+self.batch_size),:(-self.look_ahead),:]
            y = self.data[self.current_idx:(self.current_idx+self.batch_size),self.look_ahead:,:]
            self.current_idx = self.current_idx + self.batch_size
            yield x, y

In [17]:
train_data_generator = [KerasBatchGenerator(dat, dat.shape[1], TRAIN_BATCH_SIZE, LOOK_AHEAD) for dat in train_data]
test_data_generator = [KerasBatchGenerator(dat, dat.shape[1], TEST_BATCH_SIZE, LOOK_AHEAD) for dat in test_data]

In [18]:
batch_x, batch_y = next(train_data_generator[-1].generate())
print(ROI_names[-1], "Train Batch X Shape: ", batch_x.shape)
print(ROI_names[-1], "Train Batch y Shape: ", batch_y.shape)

lOFC Train Batch X Shape:  (20, 188, 1)
lOFC Train Batch y Shape:  (20, 188, 1)

In [19]:
batch_x, batch_y = next(test_data_generator[-1].generate())
print(ROI_names[-1], "Test Batch X Shape: ", batch_x.shape)
print(ROI_names[-1], "Test Batch y Shape: ", batch_y.shape)

lOFC Test Batch X Shape:  (10, 188, 1)
lOFC Test Batch y Shape:  (10, 188, 1)

#### Model-1

We will start off by building a LSTM Model:
- `Number of LSTM Layers = 1`
- `Number of Dense Layers = 1`
- `hidden units = 8`
- `dropout = 0.3`

In [20]:
HIDDEN_UNITS = 8
DROPOUT_PROB = 0.3
LSTM_LAYERS = 1
DENSE_LAYERS = 1

In [21]:
def avg_bold_model():
  model = Sequential()
  for _ in range(LSTM_LAYERS):
    model.add(LSTM(HIDDEN_UNITS, return_sequences=True))
  model.add(Dropout(0.3))
  for _ in range(DENSE_LAYERS-1):
    model.add(TimeDistributed(Dense(HIDDEN_UNITS)))
  model.add(TimeDistributed(Dense(1)))
  return model

In [22]:
sample_model = avg_bold_model()
sample_model.build(input_shape=batch_x.shape)
sample_model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 lstm (LSTM)                 (10, 188, 8)              320

 dropout (Dropout)           (10, 188, 8)              0

 time_distributed (TimeDistr  (10, 188, 1)             9
 ibuted)

=================================================================
Total params: 329
Trainable params: 329
Non-trainable params: 0
_________________________________________________________________

In [23]:
models = [avg_bold_model() for _ in range(len(ROI_names))]

In [24]:
for i in range(len(ROI_names)):
  models[i].compile(optimizer = 'adam', loss = 'mean_squared_error')

In [25]:
for i in range(len(ROI_names)):
  models[i].load_weights(f"./Models/YOUNG/LSTM/AVG-BOLD/{ROI_names[i]}/model_weights-{LSTM_LAYERS}L-{HIDDEN_UNITS}H-{DENSE_LAYERS}D-{int(DROPOUT_PROB*10)}Drop-{LOOK_AHEAD}Ahead-{ROI_names[i]}")

In [ ]:
preds = [models[i].predict(next(test_data_generator[i].generate())[0]) for i in range(len(ROI_names))]

In [27]:
a_TRs = np.array([56, 67, 73, 81, 134, 142, 155, 167, 174, 180])
d_TRs = np.array([67, 72, 85, 89, 145, 154, 168, 174, 180, 188])
and_TRs = np.union1d(a_TRs, d_TRs)

In [28]:
def generate_each_sub_n_overall_pred_corr(preds):
  
  print("***Each Test Subject's Correlation Coefficient between predicted and actual average BOLD values of each Ascent and Descent for ROIs***")
  print()
  avg_r = list()
  for i in range(len(ROI_names)):
    df = pd.DataFrame({"Subs":[], "A1":[], "A2":[], "A3":[], "A4":[], "A5":[], "D1":[], "D2":[], "D3":[], "D4":[], "D5":[], "Avg_Asc":[], "Avg_Des":[], "Overall":[]})
    actual_test_data_output = np.squeeze(test_data_unscaled[i])[:,LOOK_AHEAD:] 
    pred_test_data_output = scalers[i].inverse_transform(np.hstack([preds[i][:,:,0], preds[i][:,:LOOK_AHEAD,0]]))[:,:-LOOK_AHEAD]
    for j in range(NUM_TEST_SUBS):
      df_dict = dict()
      df_dict['Subs'] = j+1
      df_dict['Overall'] = np.round(np.corrcoef(actual_test_data_output[j,:], pred_test_data_output[j,:])[0,1], 2)
      sum_as = 0 # stores the sum of each the subject's avg BOLD 5 ascents correlation between actual and preds 
      sum_des = 0 # stores the sum of each the subject's avg BOLD 5 descents correlation between actual and preds 
      for k in range(5):
        a = np.round(np.corrcoef(actual_test_data_output[j,a_TRs[2*k]:a_TRs[2*k+1]], pred_test_data_output[j,a_TRs[2*k]:a_TRs[2*k+1]])[0,1], 2)
        d = np.round(np.corrcoef(actual_test_data_output[j,d_TRs[2*k]:d_TRs[2*k+1]], pred_test_data_output[j,d_TRs[2*k]:d_TRs[2*k+1]])[0,1], 2)
        df_dict['A'+str(k+1)] = a
        df_dict['D'+str(k+1)] = d
        sum_as += a
        sum_des += d
      df_dict['Avg_Asc'] = np.round(sum_as/5, 2)
      df_dict['Avg_Des'] = np.round(sum_des/5, 2)
      df = df.append(df_dict, ignore_index = True)
    print()
    print(f"***{ROI_names[i]}***")
    display(df)
    path = f"./Model-Inference/YOUNG/LSTM/AVG-BOLD/{LSTM_LAYERS}L-{HIDDEN_UNITS}H-{DENSE_LAYERS}D-{int(DROPOUT_PROB*10)}Drop-{LOOK_AHEAD}Ahead-Each-Test-Sub-Corr.xlsx"
    if os.path.isfile(path):  
      with pd.ExcelWriter(path, mode='a') as writer:
        df.to_excel(writer, sheet_name= ROI_names[i])
    else:
      with pd.ExcelWriter(path) as writer:
        df.to_excel(writer, sheet_name= ROI_names[i])



  print("***Average across test subjects Correlation Coefficient between predicted and actual average BOLD values of each Ascent and Descent for ROIs***")
  print()
  df = pd.DataFrame({"ROIs":[], "A1":[], "A2":[], "A3":[], "A4":[], "A5":[], "D1":[], "D2":[], "D3":[], "D4":[], "D5":[], "Avg_Asc":[], "Avg_Des":[], "Overall":[]})
  for i in range(len(ROI_names)):
    actual_test_data_output = np.squeeze(test_data_unscaled[i])[:,LOOK_AHEAD:] 
    pred_test_data_output = scalers[i].inverse_transform(np.hstack([preds[i][:,:,0], preds[i][:,:LOOK_AHEAD,0]]))[:,:-LOOK_AHEAD]
    sum_r = 0 # stores the sum of all the subjects avg BOLD correlation between actual and preds
    sum_a = np.zeros(5) # stores the sum of all the subjects avg BOLD 5 ascents correlation between actual and preds
    sum_d = np.zeros(5) # stores the sum of all the subjects avg BOLD 5 descents between actual and preds
    for j in range(NUM_TEST_SUBS):
      sum_r += np.corrcoef(actual_test_data_output[j,:], pred_test_data_output[j,:])[0,1]
      for k in range(5):
        sum_a[k] += np.corrcoef(actual_test_data_output[j,a_TRs[2*k]:a_TRs[2*k+1]], pred_test_data_output[j,a_TRs[2*k]:a_TRs[2*k+1]])[0,1]
        sum_d[k] += np.corrcoef(actual_test_data_output[j,d_TRs[2*k]:d_TRs[2*k+1]], pred_test_data_output[j,d_TRs[2*k]:d_TRs[2*k+1]])[0,1]
    df.loc[len(df.index)] = [ROI_names[i], *np.round(sum_a / NUM_TEST_SUBS, 2), *np.round(sum_d / NUM_TEST_SUBS, 2), np.round(np.mean(sum_a / NUM_TEST_SUBS), 2), np.round(np.mean(sum_d / NUM_TEST_SUBS), 2), np.round(sum_r / NUM_TEST_SUBS, 2)]
  display(df)
  path = f"./Model-Inference/YOUNG/LSTM/AVG-BOLD/{LSTM_LAYERS}L-{HIDDEN_UNITS}H-{DENSE_LAYERS}D-{int(DROPOUT_PROB*10)}Drop-{LOOK_AHEAD}Ahead-All-ROI-Corr-Avg-Across-Test-Subs.xlsx"
  if os.path.isfile(path):  
    with pd.ExcelWriter(path, mode='a') as writer:
      df.to_excel(writer, sheet_name= ROI_names[i])
  else:
    with pd.ExcelWriter(path) as writer:
      df.to_excel(writer, sheet_name= ROI_names[i])

In [29]:
generate_each_sub_n_overall_pred_corr(preds)

***Each Test Subject's Correlation Coefficient between predicted and actual average BOLD values of each Ascent and Descent for ROIs***


***dmPFC***

,Subs,A1,A2,A3,A4,A5,D1,D2,D3,D4,D5,Avg_Asc,Avg_Des,Overall
0,1.0,0.10,-0.14,0.44,-0.13,0.03,0.04,0.43,0.12,-0.10,0.59,0.06,0.22,0.16
1,2.0,0.62,-0.38,-0.46,0.25,-0.18,-0.58,-0.46,0.05,0.66,0.26,-0.03,-0.01,0.34
2,3.0,0.43,-0.63,-0.82,-0.11,-0.38,-0.50,-0.66,-0.54,-0.69,0.02,-0.30,-0.47,0.36
3,4.0,-0.72,-0.25,-0.48,0.03,-0.23,-0.28,-0.68,-0.38,0.48,-0.40,-0.33,-0.25,0.20
4,5.0,-0.33,-0.65,-0.39,0.35,-0.30,0.11,0.67,0.22,-0.12,-0.84,-0.26,0.01,0.21
5,6.0,-0.25,-0.47,0.27,-0.17,-0.17,-0.76,-0.39,-0.54,0.64,0.07,-0.16,-0.20,0.36
6,7.0,0.51,-0.45,0.29,0.07,0.09,0.85,-0.92,-0.76,0.12,0.52,0.10,-0.04,0.11
7,8.0,0.33,-0.54,-0.20,0.06,0.24,0.27,-0.30,0.29,0.17,0.12,-0.02,0.11,0.35
8,9.0,-0.13,0.25,-0.36,-0.03,-0.28,-0.05,-0.48,-0.16,-0.24,0.09,-0.11,-0.17,0.27
9,10.0,0.42,-0.67,0.57,0.36,-0.76,0.70,-0.60,-0.43,-0.13,-0.53,-0.02,-0.20,0.06

***ACC***

,Subs,A1,A2,A3,A4,A5,D1,D2,D3,D4,D5,Avg_Asc,Avg_Des,Overall
0,1.0,0.18,0.12,-0.58,0.44,-0.07,0.18,-0.44,0.19,-0.29,-0.67,0.02,-0.21,0.23
1,2.0,-0.18,-0.03,-0.19,0.01,0.09,-0.59,-0.53,0.34,-0.08,-0.23,-0.06,-0.22,0.51
2,3.0,0.38,-0.63,-0.32,0.22,0.59,0.60,0.84,-0.52,-0.28,0.40,0.05,0.21,0.15
3,4.0,-0.29,-0.10,-0.42,-0.01,0.57,0.40,0.33,0.11,-0.43,0.05,-0.05,0.09,0.45
4,5.0,0.22,0.54,-0.64,0.62,0.62,0.63,-0.77,0.73,-0.26,-0.65,0.27,-0.06,0.34
5,6.0,-0.13,-0.59,-0.28,-0.02,0.24,0.91,0.13,0.27,0.43,-0.67,-0.16,0.21,0.40
6,7.0,-0.16,-0.48,-0.77,0.46,-0.27,0.49,0.01,-0.18,-0.47,-0.48,-0.24,-0.13,0.34
7,8.0,0.38,-0.47,-0.18,-0.75,0.00,0.21,-0.23,0.32,0.48,-0.17,-0.20,0.12,0.53
8,9.0,-0.30,0.72,-0.19,0.78,0.20,-0.65,-0.50,-0.37,0.54,0.01,0.24,-0.19,0.19
9,10.0,-0.57,-0.36,-0.28,0.35,0.53,-0.05,-0.31,0.05,0.11,-0.37,-0.07,-0.11,0.30

***AMY***

,Subs,A1,A2,A3,A4,A5,D1,D2,D3,D4,D5,Avg_Asc,Avg_Des,Overall
0,1.0,-0.46,-0.44,0.40,-0.10,-0.04,0.52,0.33,0.06,0.25,0.49,-0.13,0.33,0.29
1,2.0,-0.44,0.44,-0.26,0.24,-0.03,-0.39,-0.93,-0.09,-0.48,-0.19,-0.01,-0.42,0.36
2,3.0,0.02,-0.25,0.45,0.03,0.28,0.49,0.35,-0.32,0.46,-0.50,0.11,0.10,0.74
3,4.0,-0.35,0.13,-0.31,0.24,-0.63,0.13,-0.71,0.38,0.38,-0.43,-0.18,-0.05,0.21
4,5.0,0.14,-0.72,0.32,0.36,0.38,0.90,-0.53,0.09,0.43,0.53,0.10,0.28,0.11
5,6.0,-0.03,-0.36,0.26,-0.39,-0.48,0.65,0.07,0.13,-0.42,0.21,-0.20,0.13,0.55
6,7.0,0.11,-0.45,0.43,0.18,0.41,0.80,0.29,-0.46,-0.66,-0.37,0.14,-0.08,0.26
7,8.0,-0.62,0.11,0.25,0.07,-0.74,-0.29,0.68,-0.25,-0.44,0.66,-0.19,0.07,0.54
8,9.0,0.06,0.52,0.58,0.34,-0.21,-0.81,-0.43,-0.34,0.06,-0.37,0.26,-0.38,0.10
9,10.0,-0.19,-0.08,0.21,-0.01,0.43,0.22,0.11,0.19,-0.87,-0.29,0.07,-0.13,0.15

***Cau***

,Subs,A1,A2,A3,A4,A5,D1,D2,D3,D4,D5,Avg_Asc,Avg_Des,Overall
0,1.0,0.13,0.69,-0.07,0.04,0.49,0.15,-0.84,0.24,0.01,0.51,0.26,0.01,-0.01
1,2.0,0.51,0.61,-0.43,0.24,0.07,-0.01,0.66,0.56,0.73,0.29,0.20,0.45,0.45
2,3.0,-0.36,-0.24,-0.76,0.34,0.79,-0.84,-0.40,-0.16,-0.58,0.72,-0.05,-0.25,0.12
3,4.0,0.08,0.51,0.31,0.12,-0.52,-0.46,-0.80,0.29,-0.72,0.10,0.10,-0.32,0.15
4,5.0,0.29,-0.15,-0.03,0.21,-0.16,-0.52,-0.74,-0.14,-0.58,0.55,0.03,-0.29,0.59
5,6.0,-0.05,0.18,-0.27,-0.09,-0.28,0.66,0.88,-0.50,-0.64,-0.50,-0.10,-0.02,0.11
6,7.0,-0.70,-0.01,0.63,0.13,0.74,-0.01,0.85,0.07,-0.59,0.06,0.16,0.08,0.14
7,8.0,0.03,0.41,0.47,-0.05,-0.22,0.06,0.77,0.19,-0.47,0.36,0.13,0.18,0.24
8,9.0,-0.21,0.73,-0.09,0.20,0.38,0.84,0.52,0.68,-0.40,-0.53,0.20,0.22,0.34
9,10.0,0.10,0.10,0.06,-0.08,-0.17,0.11,0.85,0.35,-0.33,0.48,0.00,0.29,-0.09

***dlPFC***

,Subs,A1,A2,A3,A4,A5,D1,D2,D3,D4,D5,Avg_Asc,Avg_Des,Overall
0,1.0,0.20,-0.83,0.00,0.09,0.65,-0.27,-0.63,-0.56,-0.63,0.47,0.02,-0.32,0.04
1,2.0,-0.18,0.20,0.01,0.26,-0.32,0.36,0.94,0.60,0.21,0.26,-0.01,0.47,0.38
2,3.0,-0.31,-0.36,0.32,0.35,0.90,-0.01,0.67,-0.39,-0.48,0.51,0.18,0.06,0.43
3,4.0,-0.80,0.43,0.21,-0.03,0.08,0.12,1.00,-0.11,0.05,0.44,-0.02,0.30,0.51
4,5.0,-0.18,-0.17,-0.23,-0.43,-0.51,-0.98,0.76,0.24,-0.66,-0.26,-0.30,-0.18,0.50
5,6.0,0.20,-0.29,0.35,0.20,-0.02,-0.05,0.44,-0.30,-0.62,-0.27,0.09,-0.16,0.11
6,7.0,0.04,0.62,-0.23,0.24,-0.79,0.05,0.73,-0.20,0.66,0.15,-0.02,0.28,0.02
7,8.0,-0.55,-0.40,0.43,0.36,-0.27,-0.48,0.80,-0.25,0.18,-0.32,-0.09,-0.01,0.32
8,9.0,0.09,-0.23,0.09,-0.29,-0.87,-0.04,0.97,0.35,0.14,-0.72,-0.24,0.14,0.07
9,10.0,0.59,0.17,0.38,0.42,0.11,0.70,0.86,0.33,0.40,0.46,0.33,0.55,0.27

***INS***

,Subs,A1,A2,A3,A4,A5,D1,D2,D3,D4,D5,Avg_Asc,Avg_Des,Overall
0,1.0,0.54,-0.63,0.84,-0.47,-0.59,-0.15,0.54,0.03,0.08,0.31,-0.06,0.16,0.08
1,2.0,0.35,0.58,0.77,0.65,0.67,0.44,-0.91,0.01,0.45,-0.01,0.60,-0.00,0.55
2,3.0,0.45,-0.50,0.64,-0.20,0.86,-0.08,0.87,0.36,0.43,0.70,0.25,0.46,0.23
3,4.0,0.17,0.43,0.65,0.01,-0.74,0.03,0.78,0.27,0.42,0.20,0.10,0.34,0.39
4,5.0,0.09,0.17,0.78,-0.24,0.64,-0.77,-0.14,0.25,0.83,0.26,0.29,0.09,0.42
5,6.0,0.32,-0.09,-0.28,-0.00,-0.19,-0.23,0.18,0.02,-0.81,0.67,-0.05,-0.03,0.11
6,7.0,0.15,-0.14,0.53,0.39,-0.06,-0.40,0.43,0.26,-0.47,0.12,0.17,-0.01,0.45
7,8.0,0.04,0.55,0.92,-0.07,-0.75,0.40,-0.69,0.23,0.66,0.13,0.14,0.15,0.24
8,9.0,-0.24,-0.30,0.77,-0.39,0.67,0.38,-0.88,-0.35,0.07,-0.61,0.10,-0.28,0.24
9,10.0,0.67,-0.35,0.76,0.33,-0.81,0.33,0.07,-0.29,0.83,0.40,0.12,0.27,0.07

***IPL***

,Subs,A1,A2,A3,A4,A5,D1,D2,D3,D4,D5,Avg_Asc,Avg_Des,Overall
0,1.0,0.23,0.18,0.37,-0.21,-0.06,0.68,0.90,-0.08,-0.06,0.00,0.10,0.29,0.39
1,2.0,0.66,0.31,-0.02,-0.10,0.85,0.11,0.78,0.32,-0.72,0.12,0.34,0.12,-0.02
2,3.0,0.57,-0.54,0.39,-0.61,-0.45,0.05,0.81,-0.05,-0.26,0.22,-0.13,0.15,0.41
3,4.0,-0.10,-0.36,0.69,0.22,-0.34,0.55,0.89,0.32,-0.57,0.23,0.02,0.28,0.31
4,5.0,0.49,0.41,0.17,0.53,0.73,-0.63,0.78,0.55,-0.10,0.13,0.47,0.15,0.18
5,6.0,-0.00,-0.10,0.63,-0.44,-0.19,0.85,0.99,0.25,0.38,0.13,-0.02,0.52,0.29
6,7.0,0.67,0.10,-0.75,-0.24,0.92,0.70,0.98,-0.03,-0.59,-0.23,0.14,0.17,0.38
7,8.0,0.46,0.44,0.31,-0.64,0.21,0.94,1.00,0.25,-0.45,-0.55,0.16,0.24,0.34
8,9.0,-0.10,-0.10,0.24,-0.42,0.37,0.22,0.87,-0.02,0.01,-0.78,-0.00,0.06,0.24
9,10.0,0.39,0.45,0.62,0.42,0.29,0.58,0.53,-0.44,-0.60,-0.31,0.43,-0.05,0.27

***mCC***

,Subs,A1,A2,A3,A4,A5,D1,D2,D3,D4,D5,Avg_Asc,Avg_Des,Overall
0,1.0,-0.22,0.10,-0.57,-0.38,0.04,-0.38,0.05,-0.71,-0.12,0.46,-0.21,-0.14,0.06
1,2.0,-0.03,-0.19,0.13,0.72,0.09,-0.32,-0.67,-0.07,0.47,0.23,0.14,-0.07,-0.07
2,3.0,-0.21,-0.08,0.58,0.09,-0.52,0.35,0.06,-0.49,0.28,0.45,-0.03,0.13,0.07
3,4.0,0.24,0.16,-0.20,0.32,-0.23,-0.64,0.81,-0.49,0.16,-0.19,0.06,-0.07,0.22
4,5.0,0.04,-0.70,-0.24,0.11,0.14,-0.64,-0.43,0.11,0.41,-0.84,-0.13,-0.28,0.46
5,6.0,0.03,0.16,0.55,-0.04,0.33,-0.33,-0.58,0.08,0.69,0.51,0.21,0.07,0.71
6,7.0,-0.36,0.56,-0.60,-0.15,-0.27,-0.97,-0.33,0.31,0.29,0.21,-0.16,-0.10,0.09
7,8.0,0.10,0.15,-0.35,-0.20,0.19,-0.74,0.94,-0.02,-0.17,-0.16,-0.02,-0.03,0.44
8,9.0,-0.28,-0.25,0.21,-0.14,0.15,0.68,-0.72,-0.04,-0.02,-0.54,-0.06,-0.13,0.29
9,10.0,-0.11,-0.17,-0.78,-0.17,0.06,-0.84,-0.62,0.05,0.37,-0.11,-0.23,-0.23,0.07

***Nac***

,Subs,A1,A2,A3,A4,A5,D1,D2,D3,D4,D5,Avg_Asc,Avg_Des,Overall
0,1.0,0.10,0.66,0.37,-0.03,0.38,0.42,-0.87,0.10,-0.12,0.29,0.30,-0.04,0.08
1,2.0,0.10,0.77,0.04,0.10,0.08,0.14,0.64,0.68,0.57,0.14,0.22,0.43,0.33
2,3.0,0.27,-0.02,-0.48,0.53,0.14,-0.55,-0.64,-0.03,-0.59,0.49,0.09,-0.26,0.34
3,4.0,0.13,0.37,0.28,0.02,-0.52,-0.27,-0.72,-0.02,-0.54,-0.34,0.06,-0.38,0.34
4,5.0,0.46,-0.56,-0.01,0.09,-0.01,-0.50,-0.36,-0.13,-0.44,0.33,-0.01,-0.22,0.47
5,6.0,0.36,-0.04,-0.32,0.32,0.06,-0.21,-0.03,-0.60,-0.89,-0.54,0.08,-0.45,0.07
6,7.0,-0.65,-0.06,0.32,-0.02,0.54,-0.29,0.46,0.01,-0.63,0.16,0.03,-0.06,0.22
7,8.0,0.24,0.49,0.42,0.16,0.07,0.12,0.70,0.20,-0.84,0.12,0.28,0.06,0.29
8,9.0,-0.12,0.84,0.26,0.26,0.30,0.87,0.18,0.77,0.06,-0.16,0.31,0.34,0.73
9,10.0,0.03,0.27,0.23,-0.18,0.36,-0.24,0.79,0.41,-0.12,0.18,0.14,0.20,0.12

***PCC***

,Subs,A1,A2,A3,A4,A5,D1,D2,D3,D4,D5,Avg_Asc,Avg_Des,Overall
0,1.0,-0.65,-0.12,0.47,-0.27,0.74,0.75,0.79,0.02,0.24,0.73,0.03,0.51,0.06
1,2.0,-0.70,-0.41,-0.58,-0.23,0.33,-0.85,-0.22,0.28,-0.48,0.13,-0.32,-0.23,0.24
2,3.0,-0.78,-0.53,-0.37,-0.13,0.86,0.88,-0.43,-0.44,-0.11,0.42,-0.19,0.06,0.21
3,4.0,0.56,-0.28,0.15,0.29,0.87,0.63,0.78,0.47,0.82,-0.77,0.32,0.39,0.58
4,5.0,-0.02,-0.14,-0.61,0.52,0.38,0.66,0.82,-0.40,-0.58,-0.36,0.03,0.03,0.29
5,6.0,0.29,-0.10,0.19,0.44,-0.10,0.86,-0.99,0.11,0.39,-0.77,0.14,-0.08,0.53
6,7.0,-0.33,0.04,0.15,0.20,0.20,-0.04,-0.71,0.41,0.66,-0.23,0.05,0.02,0.32
7,8.0,-0.78,-0.77,0.56,0.49,0.12,0.87,-0.70,0.42,0.02,0.00,-0.08,0.12,0.44
8,9.0,-0.57,-0.32,-0.75,-0.22,0.58,-0.56,-0.38,-0.17,-0.06,-0.45,-0.26,-0.32,0.24
9,10.0,-0.28,-0.13,0.64,0.57,0.83,0.68,-0.75,-0.36,0.06,-0.07,0.33,-0.09,0.20

***PCG***

,Subs,A1,A2,A3,A4,A5,D1,D2,D3,D4,D5,Avg_Asc,Avg_Des,Overall
0,1.0,-0.34,-0.36,-0.40,0.73,0.89,-0.57,0.40,0.19,0.00,0.76,0.10,0.16,0.30
1,2.0,0.59,0.50,-0.30,-0.49,0.85,0.35,-0.12,-0.08,-0.35,0.27,0.23,0.01,0.31
2,3.0,0.46,-0.10,0.88,0.03,-0.84,-0.49,-0.23,0.19,0.34,0.59,0.09,0.08,0.65
3,4.0,0.05,0.26,-0.03,-0.65,0.58,0.44,-0.95,-0.00,-0.06,0.40,0.04,-0.03,0.49
4,5.0,0.44,0.51,-0.33,-0.44,-0.96,-0.62,0.47,0.69,-0.66,-0.50,-0.16,-0.12,0.30
5,6.0,0.16,-0.04,0.01,-0.25,0.45,-0.00,0.69,0.57,-0.70,0.49,0.07,0.21,0.49
6,7.0,-0.04,0.28,-0.70,0.07,-0.21,-0.03,-0.01,0.08,0.28,0.43,-0.12,0.15,0.23
7,8.0,0.34,-0.21,-0.46,-0.16,0.70,0.05,0.26,0.63,0.04,-0.14,0.04,0.17,0.60
8,9.0,-0.48,-0.13,-0.45,-0.38,-0.12,-0.05,-0.01,0.56,0.74,-0.21,-0.31,0.21,0.46
9,10.0,0.17,0.77,-0.56,-0.25,0.92,0.98,0.08,-0.05,0.09,0.33,0.21,0.29,0.48

***Prec***

,Subs,A1,A2,A3,A4,A5,D1,D2,D3,D4,D5,Avg_Asc,Avg_Des,Overall
0,1.0,-0.03,-0.63,0.66,0.47,0.35,0.63,-0.80,-0.58,0.80,-0.05,0.16,0.00,0.13
1,2.0,-0.46,-0.23,-0.54,0.20,-0.45,-0.85,0.85,-0.74,-0.30,-0.12,-0.30,-0.23,0.35
2,3.0,0.03,-0.18,0.09,0.85,0.91,0.90,0.69,-0.65,0.64,0.72,0.34,0.46,0.30
3,4.0,-0.65,0.00,0.72,0.40,0.78,0.10,-0.99,-0.67,-0.30,0.58,0.25,-0.26,0.44
4,5.0,-0.46,-0.60,0.61,0.60,0.91,0.86,0.08,-0.28,0.64,0.61,0.21,0.38,0.28
5,6.0,-0.20,-0.66,0.33,-0.04,0.27,-0.04,0.49,-0.61,-0.51,-0.50,-0.06,-0.23,0.49
6,7.0,0.26,-0.58,0.80,0.24,0.22,-0.52,0.93,0.39,-0.71,-0.28,0.19,-0.04,0.39
7,8.0,-0.32,-0.46,0.75,0.30,0.58,0.86,-0.17,0.43,-0.61,0.63,0.17,0.23,0.50
8,9.0,0.15,0.35,-0.12,0.78,0.86,-0.60,-0.33,-0.41,0.00,-0.06,0.40,-0.28,0.39
9,10.0,-0.31,-0.41,0.55,0.32,0.55,0.57,-0.28,-0.33,-0.89,0.59,0.14,-0.07,0.21

***TP***

,Subs,A1,A2,A3,A4,A5,D1,D2,D3,D4,D5,Avg_Asc,Avg_Des,Overall
0,1.0,0.17,0.37,-0.26,-0.31,0.36,0.23,-0.14,-0.19,-0.77,-0.67,0.07,-0.31,0.48
1,2.0,0.24,0.43,0.15,0.27,-0.08,0.38,0.82,0.06,0.45,0.73,0.20,0.49,0.34
2,3.0,-0.54,0.17,0.41,0.09,0.11,0.16,0.39,0.37,-0.91,0.46,0.05,0.09,0.33
3,4.0,0.04,0.38,0.43,-0.28,-0.13,0.45,-0.43,0.11,0.47,0.22,0.09,0.16,0.39
4,5.0,0.01,0.38,0.37,-0.50,-0.26,-0.40,-0.95,-0.40,-0.31,-0.54,0.00,-0.52,0.60
5,6.0,0.03,0.15,-0.38,0.43,-0.24,0.14,0.70,-0.55,0.46,-0.28,-0.00,0.09,0.34
6,7.0,-0.55,-0.10,-0.39,0.52,0.18,-0.99,0.66,0.56,0.06,-0.04,-0.07,0.05,0.35
7,8.0,-0.60,-0.09,0.50,-0.22,-0.44,0.01,-0.19,0.69,0.87,0.57,-0.17,0.39,0.60
8,9.0,-0.23,0.00,0.53,-0.26,-0.64,0.44,-0.86,0.55,-0.71,-0.42,-0.12,-0.20,0.71
9,10.0,-0.41,-0.55,0.21,0.20,-0.05,0.43,-0.28,-0.04,0.69,0.48,-0.12,0.26,0.47

***Put***

,Subs,A1,A2,A3,A4,A5,D1,D2,D3,D4,D5,Avg_Asc,Avg_Des,Overall
0,1.0,-0.12,-0.16,-0.63,-0.67,-0.07,0.37,-0.36,0.04,-0.68,0.40,-0.33,-0.05,-0.08
1,2.0,-0.32,-0.24,-0.50,0.03,-0.69,0.35,0.57,-0.29,-0.31,-0.00,-0.34,0.06,-0.06
2,3.0,0.15,0.10,-0.21,-0.09,0.76,0.57,0.72,-0.08,-0.20,0.39,0.14,0.28,-0.14
3,4.0,0.28,-0.28,-0.39,-0.13,0.40,0.30,-0.49,0.18,-0.07,-0.60,-0.02,-0.14,0.10
4,5.0,-0.13,0.78,-0.39,-0.28,-0.04,-0.77,0.02,0.16,0.70,-0.49,-0.01,-0.08,0.38
5,6.0,0.38,0.09,0.00,-0.33,-0.80,-0.45,-0.35,-0.32,0.82,-0.47,-0.13,-0.15,0.27
6,7.0,0.33,0.21,-0.34,-0.05,0.44,-0.97,0.66,0.43,0.04,0.63,0.12,0.16,0.03
7,8.0,-0.37,-0.42,0.42,0.39,-0.55,-0.57,0.89,0.61,0.23,0.14,-0.11,0.26,0.29
8,9.0,-0.47,-0.20,-0.76,-0.34,0.27,0.68,0.23,0.02,-0.81,-0.38,-0.30,-0.05,0.10
9,10.0,-0.61,-0.33,-0.29,-0.05,-0.22,-0.14,0.96,-0.18,-0.43,-0.39,-0.30,-0.04,-0.24

***pSTS***

,Subs,A1,A2,A3,A4,A5,D1,D2,D3,D4,D5,Avg_Asc,Avg_Des,Overall
0,1.0,0.09,0.14,-0.71,0.29,0.03,0.34,0.27,0.36,0.59,0.24,-0.03,0.36,0.17
1,2.0,-0.20,0.04,0.01,-0.45,0.52,0.61,0.57,0.16,0.39,0.04,-0.02,0.35,-0.06
2,3.0,0.67,-0.63,0.27,0.29,-0.82,-0.28,0.53,0.02,-0.69,0.45,-0.04,0.01,0.40
3,4.0,-0.66,-0.31,-0.02,0.34,-0.64,0.15,0.63,0.18,0.89,-0.34,-0.26,0.30,0.17
4,5.0,0.19,0.12,-0.27,0.16,-0.01,-0.03,0.88,-0.32,0.11,-0.56,0.04,0.02,0.11
5,6.0,-0.51,-0.05,-0.18,-0.11,-0.76,0.16,0.99,0.08,0.47,-0.60,-0.32,0.22,0.33
6,7.0,0.43,0.35,-0.22,0.38,0.37,0.25,0.79,0.18,0.67,-0.40,0.26,0.30,0.45
7,8.0,0.07,0.14,0.43,0.27,0.21,0.09,0.66,0.10,0.61,0.10,0.22,0.31,0.44
8,9.0,0.31,-0.18,0.07,0.48,-0.21,0.53,0.88,-0.32,-0.18,-0.24,0.09,0.13,0.10
9,10.0,0.55,0.94,0.72,0.60,0.60,0.83,0.69,0.14,0.73,0.11,0.68,0.50,-0.17

***VC***

,Subs,A1,A2,A3,A4,A5,D1,D2,D3,D4,D5,Avg_Asc,Avg_Des,Overall
0,1.0,-0.07,-0.50,0.19,0.46,-0.65,0.89,-0.43,0.33,-0.36,0.75,-0.11,0.24,0.36
1,2.0,0.12,0.86,0.13,-0.49,-0.33,0.86,-0.33,0.77,0.10,0.01,0.06,0.28,0.26
2,3.0,0.84,0.67,-0.82,-0.34,0.43,-0.44,-0.96,0.74,-0.46,0.91,0.16,-0.04,0.71
3,4.0,0.10,0.64,0.51,0.29,-0.29,0.54,-0.53,0.57,-0.20,0.67,0.25,0.21,0.52
4,5.0,0.57,-0.12,0.72,0.41,0.87,-0.26,0.06,0.40,-0.38,0.49,0.49,0.06,0.31
5,6.0,0.61,-0.38,0.59,0.31,-0.19,0.70,-0.60,0.35,-0.52,-0.11,0.19,-0.04,0.72
6,7.0,0.05,0.55,-0.19,0.07,-0.96,0.93,-0.33,-0.08,0.15,0.27,-0.10,0.19,0.35
7,8.0,0.65,0.29,0.59,0.37,0.46,-0.64,0.34,0.27,-0.36,-0.84,0.47,-0.25,0.51
8,9.0,-0.82,0.32,0.32,-0.21,0.77,0.61,-0.56,0.51,0.23,-0.55,0.08,0.05,0.35
9,10.0,0.48,0.79,0.47,0.62,0.27,0.96,0.42,0.72,0.05,0.47,0.53,0.52,0.39

***vlPFC***

,Subs,A1,A2,A3,A4,A5,D1,D2,D3,D4,D5,Avg_Asc,Avg_Des,Overall
0,1.0,0.22,-0.19,0.04,0.56,0.23,-0.55,-0.34,-0.56,-0.00,0.47,0.17,-0.20,0.52
1,2.0,0.49,0.10,0.17,-0.07,-0.01,-0.02,0.71,-0.14,0.35,0.49,0.14,0.28,0.54
2,3.0,0.84,-0.52,0.80,0.52,0.47,-0.44,0.40,0.79,0.71,0.07,0.42,0.31,0.68
3,4.0,0.04,0.19,0.37,0.05,-0.62,0.28,0.34,0.04,0.40,0.76,0.01,0.36,0.72
4,5.0,-0.05,0.34,0.54,-0.66,0.11,-0.96,0.97,0.14,0.11,0.34,0.06,0.12,0.29
5,6.0,0.43,0.15,0.29,-0.30,-0.80,0.59,0.75,0.62,-0.66,0.09,-0.05,0.28,0.29
6,7.0,0.51,0.40,0.03,0.13,0.47,0.17,0.84,-0.07,-0.27,0.45,0.31,0.22,0.55
7,8.0,0.64,-0.13,0.36,-0.02,-0.36,0.57,0.91,0.22,-0.27,-0.34,0.10,0.22,0.54
8,9.0,0.42,0.45,0.33,0.16,-0.17,0.17,1.00,0.18,-0.55,0.25,0.24,0.21,0.67
9,10.0,0.58,0.18,0.68,0.35,-0.28,0.33,0.99,0.51,0.39,0.54,0.30,0.55,0.14

***mOFC***

,Subs,A1,A2,A3,A4,A5,D1,D2,D3,D4,D5,Avg_Asc,Avg_Des,Overall
0,1.0,0.08,-0.34,0.29,-0.12,0.30,0.30,0.94,-0.15,-0.58,0.22,0.04,0.15,0.53
1,2.0,0.02,0.17,0.35,-0.14,0.77,-0.32,-0.06,0.20,-0.57,-0.06,0.23,-0.16,0.68
2,3.0,-0.43,0.08,-0.55,0.25,0.75,0.07,0.49,-0.01,0.93,-0.53,0.02,0.19,0.89
3,4.0,0.11,0.40,0.64,0.31,-0.69,0.66,0.86,0.17,0.13,0.11,0.15,0.39,0.92
4,5.0,0.39,0.15,-0.20,0.37,0.67,0.16,0.63,-0.16,0.60,0.40,0.28,0.33,0.74
5,6.0,0.36,0.88,-0.11,-0.15,0.18,0.98,-0.49,-0.42,0.11,-0.59,0.23,-0.08,0.59
6,7.0,-0.55,-0.50,-0.49,0.50,0.21,0.06,-0.69,0.46,-0.68,0.28,-0.17,-0.11,-0.07
7,8.0,0.08,-0.31,-0.66,-0.28,-0.51,0.99,-0.07,0.76,0.43,0.12,-0.34,0.45,0.75
8,9.0,-0.37,0.90,-0.77,-0.16,0.68,-0.92,0.65,0.29,0.22,0.08,0.06,0.06,0.85
9,10.0,0.04,-0.29,-0.38,0.40,-0.37,0.14,-0.67,0.19,0.36,-0.13,-0.12,-0.02,0.04

***mPFC***

,Subs,A1,A2,A3,A4,A5,D1,D2,D3,D4,D5,Avg_Asc,Avg_Des,Overall
0,1.0,0.24,-0.22,0.56,-0.41,-0.35,0.89,0.54,0.07,-0.48,-0.06,-0.04,0.19,0.14
1,2.0,0.51,0.44,-0.43,-0.09,-0.49,-0.90,-0.22,0.04,-0.17,-0.54,-0.01,-0.36,0.09
2,3.0,0.65,-0.68,-0.46,0.22,-0.02,0.77,0.28,-0.51,-0.03,0.42,-0.06,0.19,0.49
3,4.0,-0.28,-0.18,0.39,-0.09,0.39,0.93,-0.56,0.27,0.30,0.66,0.05,0.32,0.43
4,5.0,-0.45,-0.11,0.31,0.16,0.32,0.28,0.69,0.46,0.06,-0.27,0.05,0.24,0.22
5,6.0,-0.36,-0.07,0.37,0.01,0.01,0.40,-0.59,0.17,0.27,-0.81,-0.01,-0.11,0.09
6,7.0,0.31,0.20,0.70,-0.08,0.27,0.41,0.01,0.14,0.78,-0.11,0.28,0.25,0.16
7,8.0,-0.14,-0.06,0.70,-0.18,-0.20,0.95,0.43,0.75,0.67,0.31,0.02,0.62,0.65
8,9.0,0.15,-0.45,0.20,-0.45,-0.15,-0.78,-0.79,-0.42,-0.21,-0.97,-0.14,-0.63,0.07
9,10.0,0.67,0.55,0.83,0.66,-0.08,0.83,-0.85,0.30,0.50,0.55,0.53,0.27,-0.10

***lOFC***

,Subs,A1,A2,A3,A4,A5,D1,D2,D3,D4,D5,Avg_Asc,Avg_Des,Overall
0,1.0,0.51,-0.54,-0.44,-0.40,-0.18,0.57,0.79,0.36,-0.64,-0.05,-0.21,0.21,0.46
1,2.0,0.53,-0.17,-0.43,-0.34,-0.58,-0.43,0.07,0.74,-0.85,0.16,-0.20,-0.06,0.16
2,3.0,-0.43,0.37,0.14,0.53,-0.38,-0.07,-0.99,0.24,0.23,-0.25,0.05,-0.17,0.14
3,4.0,-0.41,0.16,0.42,0.39,0.31,0.22,-0.16,-0.01,0.30,0.02,0.17,0.07,0.61
4,5.0,-0.63,-0.43,-0.81,0.26,0.23,-0.28,-0.92,-0.09,0.11,0.66,-0.28,-0.10,0.17
5,6.0,0.53,-0.03,-0.14,-0.00,-0.25,0.48,-0.29,-0.37,-0.37,0.19,0.02,-0.07,-0.05
6,7.0,0.06,-0.21,-0.40,0.58,0.36,0.63,-0.20,-0.22,0.00,-0.19,0.08,0.00,0.11
7,8.0,0.03,0.35,0.29,0.30,-0.61,0.53,-0.06,-0.05,-0.22,-0.31,0.07,-0.02,0.62
8,9.0,0.22,0.85,-0.64,-0.34,0.28,0.23,0.34,-0.35,0.50,-0.85,0.07,-0.03,0.44
9,10.0,0.37,0.62,0.01,0.64,-0.02,-0.55,-0.97,0.41,0.26,-0.13,0.32,-0.20,-0.18

***Average across test subjects Correlation Coefficient between predicted and actual average BOLD values of each Ascent and Descent for ROIs***

,ROIs,A1,A2,A3,A4,A5,D1,D2,D3,D4,D5,Avg_Asc,Avg_Des,Overall
0,dmPFC,0.10,-0.39,-0.11,0.07,-0.19,-0.02,-0.34,-0.21,0.08,-0.01,-0.11,-0.10,0.24
1,ACC,-0.05,-0.13,-0.39,0.21,0.25,0.21,-0.15,0.09,-0.02,-0.28,-0.02,-0.03,0.34
2,AMY,-0.18,-0.11,0.23,0.10,-0.06,0.22,-0.08,-0.06,-0.13,-0.03,-0.00,-0.01,0.33
3,Cau,-0.02,0.28,-0.02,0.11,0.11,-0.00,0.18,0.16,-0.36,0.20,0.09,0.04,0.21
4,dlPFC,-0.09,-0.09,0.13,0.12,-0.10,-0.06,0.66,-0.03,-0.08,0.07,-0.01,0.11,0.27
5,INS,0.25,-0.03,0.64,-0.00,-0.03,-0.01,0.02,0.08,0.25,0.22,0.17,0.11,0.28
6,IPL,0.33,0.08,0.27,-0.15,0.23,0.41,0.85,0.11,-0.30,-0.10,0.15,0.19,0.28
7,mCC,-0.08,-0.03,-0.13,0.02,-0.00,-0.38,-0.15,-0.13,0.23,0.00,-0.04,-0.08,0.23
8,Nac,0.09,0.27,0.11,0.13,0.14,-0.05,0.01,0.14,-0.35,0.07,0.15,-0.04,0.30
9,PCC,-0.33,-0.28,-0.01,0.17,0.48,0.39,-0.18,0.03,0.10,-0.14,0.01,0.04,0.31
10,PCG,0.13,0.15,-0.24,-0.18,0.22,0.01,0.06,0.28,-0.03,0.24,0.02,0.11,0.43
11,Prec,-0.20,-0.34,0.39,0.41,0.50,0.19,0.05,-0.35,-0.12,0.21,0.15,-0.00,0.35
12,TP,-0.18,0.11,0.16,-0.01,-0.12,0.09,-0.03,0.12,0.03,0.05,-0.01,0.05,0.46
13,Put,-0.09,-0.05,-0.31,-0.15,-0.05,-0.06,0.29,0.06,-0.07,-0.08,-0.13,0.03,0.07
14,pSTS,0.09,0.06,0.01,0.23,-0.07,0.26,0.69,0.06,0.36,-0.12,0.06,0.25,0.19
15,VC,0.25,0.31,0.25,0.15,0.04,0.41,-0.29,0.46,-0.17,0.21,0.20,0.12,0.45
16,vlPFC,0.41,0.10,0.36,0.07,-0.10,0.01,0.66,0.17,0.02,0.31,0.17,0.24,0.49
17,mOFC,-0.03,0.11,-0.19,0.10,0.20,0.21,0.16,0.13,0.09,-0.01,0.04,0.12,0.59
18,mPFC,0.13,-0.06,0.32,-0.02,-0.03,0.38,-0.11,0.13,0.17,-0.08,0.07,0.10,0.22
19,lOFC,0.08,0.10,-0.20,0.16,-0.08,0.13,-0.24,0.07,-0.07,-0.08,0.01,-0.04,0.25

#### Model-2

We will start off by building a LSTM Model:
- `Number of LSTM Layers = 1`
- `Number of Dense Layers = 1`
- `hidden units = 16`
- `dropout = 0.3`

In [30]:
HIDDEN_UNITS = 16
DROPOUT_PROB = 0.3
LSTM_LAYERS = 1
DENSE_LAYERS = 1

In [31]:
sample_model = avg_bold_model()
sample_model.build(input_shape=batch_x.shape)
sample_model.summary()

Model: "sequential_21"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 lstm_21 (LSTM)              (10, 188, 16)             1152

 dropout_21 (Dropout)        (10, 188, 16)             0

 time_distributed_21 (TimeDi  (10, 188, 1)             17
 stributed)

=================================================================
Total params: 1,169
Trainable params: 1,169
Non-trainable params: 0
_________________________________________________________________

In [32]:
models = [avg_bold_model() for _ in range(len(ROI_names))]

In [ ]:
for i in range(len(ROI_names)):
  models[i].compile(optimizer = 'adam', loss = 'mean_squared_error')

In [34]:
for i in range(len(ROI_names)):
  models[i].load_weights(f"./Models/YOUNG/LSTM/AVG-BOLD/{ROI_names[i]}/model_weights-{LSTM_LAYERS}L-{HIDDEN_UNITS}H-{DENSE_LAYERS}D-0{int(DROPOUT_PROB*10)}Drop-{LOOK_AHEAD}Ahead-{ROI_names[i]}")

In [35]:
preds = [models[i].predict(next(test_data_generator[i].generate())[0]) for i in range(len(ROI_names))]

In [36]:
generate_each_sub_n_overall_pred_corr(preds)

***Each Test Subject's Correlation Coefficient between predicted and actual average BOLD values of each Ascent and Descent for ROIs***


***dmPFC***

,Subs,A1,A2,A3,A4,A5,D1,D2,D3,D4,D5,Avg_Asc,Avg_Des,Overall
0,1.0,0.10,-0.19,0.48,0.26,-0.02,-0.04,0.36,-0.35,0.30,0.48,0.13,0.15,0.22
1,2.0,0.59,-0.30,-0.52,0.15,-0.15,-0.76,-0.54,-0.07,0.53,0.16,-0.05,-0.14,0.42
2,3.0,0.58,-0.46,-0.17,0.30,0.10,-0.47,-0.59,0.42,-0.65,0.19,0.07,-0.22,0.60
3,4.0,-0.35,-0.13,-0.37,-0.07,-0.18,-0.29,-0.69,-0.29,0.51,-0.36,-0.22,-0.22,0.30
4,5.0,-0.27,-0.85,-0.24,0.38,-0.07,0.07,0.61,-0.03,0.13,-0.80,-0.21,-0.00,0.27
5,6.0,-0.39,-0.44,0.18,-0.23,-0.15,-0.67,-0.41,-0.58,0.62,-0.10,-0.21,-0.23,0.38
6,7.0,0.71,-0.50,0.26,0.15,0.29,0.80,-0.96,-0.75,0.00,0.39,0.18,-0.10,0.17
7,8.0,0.50,-0.48,-0.13,0.15,0.13,0.28,-0.39,0.16,0.06,0.17,0.03,0.06,0.50
8,9.0,0.20,0.12,-0.12,0.04,-0.25,-0.20,-0.49,0.43,-0.72,0.37,-0.00,-0.12,0.34
9,10.0,0.51,-0.62,0.54,0.34,-0.68,0.78,-0.65,-0.45,-0.07,-0.41,0.02,-0.16,0.06

***ACC***

,Subs,A1,A2,A3,A4,A5,D1,D2,D3,D4,D5,Avg_Asc,Avg_Des,Overall
0,1.0,0.16,0.06,-0.50,0.19,-0.07,0.01,-0.32,0.15,-0.18,-0.73,-0.03,-0.21,0.19
1,2.0,-0.18,-0.04,-0.42,-0.06,0.06,-0.67,-0.53,0.32,-0.05,-0.17,-0.13,-0.22,0.42
2,3.0,0.41,-0.45,-0.54,0.06,0.50,0.59,0.73,-0.46,-0.33,0.52,-0.00,0.21,0.45
3,4.0,-0.10,-0.11,-0.11,-0.06,0.58,0.42,0.25,0.32,-0.45,0.07,0.04,0.12,0.40
4,5.0,0.08,0.53,-0.79,0.59,0.60,0.58,-0.81,0.69,-0.34,-0.73,0.20,-0.12,0.28
5,6.0,-0.16,-0.63,-0.18,-0.03,0.18,0.89,0.06,0.25,0.48,-0.66,-0.16,0.20,0.32
6,7.0,-0.16,-0.45,-0.56,0.35,-0.32,0.38,-0.04,-0.14,-0.40,-0.48,-0.23,-0.14,0.31
7,8.0,0.28,-0.49,-0.25,-0.89,0.02,0.27,-0.28,0.41,0.42,-0.12,-0.27,0.14,0.53
8,9.0,-0.18,0.67,-0.34,0.69,0.06,-0.75,-0.85,-0.26,0.38,-0.17,0.18,-0.33,0.35
9,10.0,-0.52,-0.37,-0.35,0.33,0.48,-0.16,-0.27,0.04,0.07,-0.42,-0.09,-0.15,0.31

***AMY***

,Subs,A1,A2,A3,A4,A5,D1,D2,D3,D4,D5,Avg_Asc,Avg_Des,Overall
0,1.0,-0.57,-0.44,0.33,-0.07,-0.04,0.48,0.32,0.14,0.15,0.37,-0.16,0.29,0.27
1,2.0,-0.27,0.31,0.04,0.20,-0.22,-0.68,-0.89,-0.18,-0.52,-0.03,0.01,-0.46,0.47
2,3.0,0.14,-0.22,0.59,-0.08,0.28,0.42,0.12,-0.24,-0.60,-0.48,0.14,-0.16,0.75
3,4.0,-0.43,0.00,-0.36,0.28,-0.65,-0.05,-0.68,0.41,0.31,-0.32,-0.23,-0.07,0.29
4,5.0,0.30,-0.52,0.41,0.27,0.37,0.72,-0.53,0.05,0.43,0.51,0.17,0.24,0.11
5,6.0,0.24,-0.47,0.03,-0.53,-0.51,0.52,-0.12,0.13,-0.61,0.13,-0.25,0.01,0.62
6,7.0,-0.02,-0.33,0.32,0.09,0.28,0.81,0.14,-0.48,-0.34,-0.36,0.07,-0.05,0.29
7,8.0,-0.64,0.08,0.33,0.24,-0.80,-0.36,0.66,-0.30,-0.68,0.60,-0.16,-0.02,0.66
8,9.0,0.05,0.60,0.70,0.28,-0.24,-0.79,-0.37,-0.09,0.14,-0.60,0.28,-0.34,0.26
9,10.0,-0.16,-0.26,0.18,0.15,0.64,0.05,-0.12,0.01,-0.62,-0.27,0.11,-0.19,0.18

***Cau***

,Subs,A1,A2,A3,A4,A5,D1,D2,D3,D4,D5,Avg_Asc,Avg_Des,Overall
0,1.0,0.12,0.62,-0.05,-0.03,0.49,0.18,-0.84,0.19,0.01,0.49,0.23,0.01,0.01
1,2.0,0.47,0.63,-0.40,0.26,0.06,-0.05,0.58,0.57,0.70,0.24,0.20,0.41,0.47
2,3.0,-0.35,-0.24,-0.75,0.28,0.80,-0.87,-0.41,-0.17,-0.58,0.67,-0.05,-0.27,0.27
3,4.0,0.07,0.49,0.31,0.11,-0.55,-0.51,-0.79,0.28,-0.70,-0.09,0.09,-0.36,0.13
4,5.0,0.24,-0.13,-0.06,0.12,-0.25,-0.52,-0.73,-0.12,-0.55,0.49,-0.02,-0.29,0.49
5,6.0,-0.10,0.04,-0.28,-0.11,-0.29,0.64,0.87,-0.55,-0.63,-0.59,-0.15,-0.05,0.07
6,7.0,-0.71,-0.05,0.62,0.04,0.70,-0.02,0.82,0.08,-0.62,0.03,0.12,0.06,0.11
7,8.0,-0.03,0.42,0.50,-0.03,-0.21,-0.02,0.73,0.15,-0.47,0.35,0.13,0.15,0.25
8,9.0,-0.21,0.71,-0.07,0.14,0.43,0.87,0.49,0.65,-0.40,-0.54,0.20,0.21,0.39
9,10.0,0.04,-0.06,0.19,-0.05,-0.16,0.09,0.83,0.35,-0.34,0.34,-0.01,0.25,-0.03

***dlPFC***

,Subs,A1,A2,A3,A4,A5,D1,D2,D3,D4,D5,Avg_Asc,Avg_Des,Overall
0,1.0,0.19,-0.66,0.15,0.06,0.73,-0.37,-0.62,-0.60,-0.62,0.40,0.09,-0.36,0.25
1,2.0,-0.20,0.13,0.18,0.20,-0.22,0.27,0.85,0.50,0.14,0.29,0.02,0.41,0.30
2,3.0,-0.11,-0.75,0.40,0.31,0.86,-0.31,0.68,-0.07,-0.61,0.53,0.14,0.04,0.58
3,4.0,-0.78,0.29,0.20,-0.10,0.01,-0.01,1.00,-0.03,0.07,0.43,-0.08,0.29,0.47
4,5.0,-0.12,-0.02,-0.21,-0.37,-0.45,-0.98,0.72,0.16,-0.75,-0.28,-0.23,-0.23,0.33
5,6.0,0.19,-0.07,0.38,0.16,-0.23,-0.07,0.24,-0.05,-0.65,-0.14,0.09,-0.13,0.11
6,7.0,-0.01,0.59,-0.27,0.16,-0.73,0.05,0.70,-0.29,0.72,0.14,-0.05,0.26,0.07
7,8.0,-0.55,-0.86,0.51,0.35,-0.23,-0.57,0.75,-0.22,0.20,-0.32,-0.16,-0.03,0.31
8,9.0,0.17,-0.06,0.26,-0.33,-0.79,-0.07,-0.16,0.36,0.12,-0.74,-0.15,-0.10,0.20
9,10.0,0.64,0.16,0.42,0.40,-0.08,0.69,0.76,0.24,0.38,0.43,0.31,0.50,0.26

***INS***

,Subs,A1,A2,A3,A4,A5,D1,D2,D3,D4,D5,Avg_Asc,Avg_Des,Overall
0,1.0,0.53,-0.65,0.84,-0.41,-0.58,-0.15,0.61,-0.03,0.05,0.28,-0.05,0.15,0.19
1,2.0,0.39,0.58,0.76,0.64,0.68,0.38,-0.92,0.01,0.44,0.00,0.61,-0.02,0.61
2,3.0,0.50,-0.57,0.63,-0.13,0.88,-0.09,0.92,0.35,0.46,0.69,0.26,0.47,0.37
3,4.0,0.17,0.41,0.65,0.08,-0.74,-0.02,0.83,0.28,0.42,0.13,0.11,0.33,0.42
4,5.0,0.05,0.18,0.73,-0.23,0.61,-0.77,-0.14,0.25,0.81,0.26,0.27,0.08,0.15
5,6.0,0.45,-0.08,-0.31,-0.02,-0.26,-0.24,-0.06,-0.10,-0.82,0.69,-0.04,-0.11,0.17
6,7.0,0.12,-0.13,0.52,0.37,-0.11,-0.40,0.34,0.25,-0.49,0.11,0.15,-0.04,0.18
7,8.0,0.28,0.37,0.93,-0.04,-0.76,0.34,-0.78,0.29,0.63,0.10,0.16,0.12,0.33
8,9.0,-0.25,-0.35,0.77,-0.39,0.63,0.37,-0.87,-0.36,0.05,-0.62,0.08,-0.29,0.16
9,10.0,0.68,-0.38,0.74,0.39,-0.81,0.35,-0.07,-0.32,0.80,0.34,0.12,0.22,0.13

***IPL***

,Subs,A1,A2,A3,A4,A5,D1,D2,D3,D4,D5,Avg_Asc,Avg_Des,Overall
0,1.0,0.18,0.16,0.36,0.05,-0.60,0.70,0.90,-0.15,0.08,-0.10,0.03,0.29,0.47
1,2.0,0.64,0.32,-0.24,0.01,0.83,0.22,0.78,0.56,-0.71,0.17,0.31,0.20,0.06
2,3.0,0.74,-0.68,0.28,-0.45,-0.24,0.00,0.83,0.09,-0.11,0.19,-0.07,0.20,0.56
3,4.0,-0.17,-0.42,0.66,0.26,-0.79,0.52,0.86,0.39,-0.57,-0.03,-0.09,0.23,0.38
4,5.0,0.51,0.40,0.09,0.63,0.66,-0.53,0.79,0.62,0.16,0.11,0.46,0.23,0.19
5,6.0,-0.01,-0.11,0.50,-0.50,-0.18,0.89,0.99,0.27,0.51,0.02,-0.06,0.54,0.35
6,7.0,0.67,0.09,-0.74,-0.27,0.91,0.73,0.97,-0.03,-0.64,-0.25,0.13,0.16,0.48
7,8.0,0.49,-0.34,0.29,-0.55,0.07,0.90,0.99,0.58,-0.62,-0.59,-0.01,0.25,0.48
8,9.0,-0.09,-0.12,0.17,-0.47,0.25,0.26,0.87,-0.01,-0.01,-0.83,-0.05,0.06,0.34
9,10.0,0.21,0.52,0.40,0.57,0.10,0.69,0.44,-0.03,-0.62,-0.35,0.36,0.03,0.24

***mCC***

,Subs,A1,A2,A3,A4,A5,D1,D2,D3,D4,D5,Avg_Asc,Avg_Des,Overall
0,1.0,-0.22,0.06,-0.50,0.06,-0.06,-0.43,0.15,-0.46,-0.15,0.34,-0.13,-0.11,0.20
1,2.0,-0.09,-0.31,-0.04,0.63,-0.00,-0.30,-0.59,-0.18,0.06,0.13,0.04,-0.18,-0.00
2,3.0,0.46,-0.19,0.58,0.27,-0.50,0.38,0.56,-0.33,0.53,0.53,0.12,0.33,0.36
3,4.0,0.18,0.08,-0.32,0.17,-0.12,-0.39,0.86,-0.50,0.04,-0.41,-0.00,-0.08,0.30
4,5.0,-0.07,-0.74,-0.18,0.13,0.10,-0.63,-0.65,0.14,0.40,-0.84,-0.15,-0.32,0.53
5,6.0,0.06,0.12,0.39,-0.12,0.26,-0.54,-0.98,-0.05,0.61,0.31,0.14,-0.13,0.81
6,7.0,-0.52,0.45,-0.60,0.00,-0.32,-0.86,-0.57,0.33,0.23,0.19,-0.20,-0.14,0.07
7,8.0,0.56,-0.22,-0.37,-0.10,0.20,-0.52,0.40,0.00,-0.34,-0.24,0.01,-0.14,0.50
8,9.0,-0.29,-0.45,0.30,-0.06,0.11,0.68,-0.60,0.05,-0.41,-0.24,-0.08,-0.10,0.36
9,10.0,0.02,-0.39,-0.64,-0.12,0.09,-0.72,-0.62,0.07,0.43,-0.37,-0.21,-0.24,0.20

***Nac***

,Subs,A1,A2,A3,A4,A5,D1,D2,D3,D4,D5,Avg_Asc,Avg_Des,Overall
0,1.0,0.18,0.68,0.30,-0.20,0.42,0.39,-0.84,0.13,-0.09,0.30,0.28,-0.02,0.02
1,2.0,0.15,0.76,-0.15,0.15,0.14,0.10,0.66,0.67,0.55,0.20,0.21,0.44,0.30
2,3.0,0.10,-0.11,-0.60,0.35,0.21,-0.63,-0.68,-0.18,-0.75,0.50,-0.01,-0.35,0.24
3,4.0,0.03,0.40,0.25,0.02,-0.51,-0.27,-0.72,0.06,-0.61,-0.34,0.04,-0.38,0.32
4,5.0,0.49,-0.50,-0.12,0.07,-0.07,-0.54,-0.34,-0.20,-0.44,0.34,-0.03,-0.24,0.44
5,6.0,0.42,0.02,-0.32,0.33,0.11,-0.15,0.00,-0.66,-0.87,-0.44,0.11,-0.42,0.06
6,7.0,-0.76,0.02,0.38,-0.08,0.51,-0.27,0.73,-0.03,-0.50,0.15,0.01,0.02,0.22
7,8.0,0.03,0.51,0.45,0.22,0.09,0.11,0.74,0.22,-0.81,0.15,0.26,0.08,0.28
8,9.0,-0.31,0.86,0.26,0.18,0.43,0.88,0.34,0.81,-0.20,-0.36,0.28,0.29,0.61
9,10.0,-0.01,0.26,0.15,-0.17,0.33,-0.24,0.81,0.36,-0.07,0.19,0.11,0.21,0.01

***PCC***

,Subs,A1,A2,A3,A4,A5,D1,D2,D3,D4,D5,Avg_Asc,Avg_Des,Overall
0,1.0,-0.60,0.22,0.44,0.23,0.79,0.73,0.78,0.19,0.20,0.74,0.22,0.53,0.24
1,2.0,-0.81,-0.30,-0.58,-0.22,0.28,-0.82,-0.26,0.23,-0.60,0.07,-0.33,-0.28,0.33
2,3.0,-0.11,-0.37,-0.35,0.35,0.86,0.89,0.08,0.35,0.12,0.57,0.08,0.40,0.44
3,4.0,0.58,-0.30,0.03,0.23,0.86,0.69,0.69,0.44,0.75,-0.56,0.28,0.40,0.65
4,5.0,-0.05,-0.20,-0.65,0.49,0.32,0.59,-0.17,-0.50,-0.57,-0.20,-0.02,-0.17,0.37
5,6.0,0.20,-0.08,0.11,0.42,-0.06,0.88,-0.99,0.20,0.38,-0.77,0.12,-0.06,0.57
6,7.0,-0.29,-0.07,0.04,0.32,0.24,0.08,-0.79,0.34,0.63,-0.23,0.05,0.01,0.37
7,8.0,-0.63,-0.82,0.48,0.62,0.17,0.86,-0.68,0.35,0.05,0.02,-0.04,0.12,0.52
8,9.0,-0.49,-0.01,-0.78,-0.02,0.53,-0.39,-0.30,0.39,-0.14,0.00,-0.15,-0.09,0.34
9,10.0,-0.38,-0.15,0.54,0.52,0.83,0.64,-0.83,-0.27,0.01,-0.03,0.27,-0.10,0.33

***PCG***

,Subs,A1,A2,A3,A4,A5,D1,D2,D3,D4,D5,Avg_Asc,Avg_Des,Overall
0,1.0,-0.42,-0.35,-0.47,0.69,0.89,-0.67,0.38,0.14,-0.02,0.78,0.07,0.12,0.34
1,2.0,0.53,0.48,-0.02,-0.47,0.85,0.22,-0.05,-0.13,-0.37,0.31,0.27,-0.00,0.28
2,3.0,0.47,-0.21,0.91,-0.03,-0.85,-0.47,-0.24,0.26,0.23,0.65,0.06,0.09,0.62
3,4.0,0.04,0.19,-0.03,-0.69,0.49,0.37,-0.94,-0.09,-0.06,0.32,0.00,-0.08,0.45
4,5.0,0.46,0.47,-0.36,-0.48,-0.95,-0.62,0.47,0.46,-0.67,-0.51,-0.17,-0.17,0.27
5,6.0,0.20,-0.01,0.01,-0.26,0.41,0.05,0.71,0.67,-0.72,0.54,0.07,0.25,0.49
6,7.0,-0.03,0.25,-0.64,0.06,-0.17,-0.12,-0.01,-0.11,0.30,0.45,-0.11,0.10,0.22
7,8.0,0.35,-0.32,-0.52,-0.18,0.64,0.12,0.17,0.61,0.01,-0.15,-0.01,0.15,0.61
8,9.0,-0.43,-0.16,-0.21,-0.40,-0.10,-0.21,-0.07,0.50,0.71,-0.20,-0.26,0.15,0.45
9,10.0,0.19,0.76,-0.63,-0.28,0.91,0.98,0.11,-0.05,0.08,0.36,0.19,0.30,0.48

***Prec***

,Subs,A1,A2,A3,A4,A5,D1,D2,D3,D4,D5,Avg_Asc,Avg_Des,Overall
0,1.0,-0.05,-0.57,0.69,0.60,0.37,0.67,-0.62,-0.36,0.76,0.02,0.21,0.09,0.18
1,2.0,-0.39,-0.10,-0.50,0.20,-0.53,-0.88,0.54,-0.75,-0.27,-0.15,-0.26,-0.30,0.38
2,3.0,0.13,0.22,0.06,0.88,0.90,0.91,0.64,-0.57,0.68,0.73,0.44,0.48,0.43
3,4.0,-0.40,-0.04,0.76,0.38,0.80,0.21,-0.99,-0.66,-0.27,0.56,0.30,-0.23,0.44
4,5.0,-0.45,-0.60,0.60,0.58,0.90,0.81,0.05,-0.29,0.65,0.62,0.21,0.37,0.22
5,6.0,-0.17,-0.60,0.37,-0.07,0.24,0.03,0.38,-0.45,-0.45,-0.42,-0.05,-0.18,0.53
6,7.0,0.38,-0.50,0.79,0.28,0.19,-0.38,0.18,0.36,-0.65,-0.32,0.23,-0.16,0.40
7,8.0,-0.27,-0.19,0.76,0.28,0.53,0.88,-0.49,0.38,-0.55,0.64,0.22,0.17,0.55
8,9.0,0.21,0.45,-0.06,0.75,0.87,-0.55,-0.88,-0.17,0.08,0.13,0.44,-0.28,0.42
9,10.0,-0.16,-0.35,0.70,0.37,0.65,0.65,-0.47,-0.26,-0.83,0.60,0.24,-0.06,0.28

***TP***

,Subs,A1,A2,A3,A4,A5,D1,D2,D3,D4,D5,Avg_Asc,Avg_Des,Overall
0,1.0,0.17,0.40,-0.35,-0.56,0.39,0.21,-0.14,-0.44,-0.80,-0.75,0.01,-0.38,0.45
1,2.0,0.23,0.44,0.20,0.28,-0.01,0.39,0.84,-0.04,0.46,0.75,0.23,0.48,0.15
2,3.0,-0.56,0.17,0.44,0.12,0.09,0.17,0.42,0.30,-0.92,0.43,0.05,0.08,-0.17
3,4.0,0.05,0.40,0.45,-0.29,-0.10,0.39,-0.47,0.06,0.51,0.25,0.10,0.15,0.30
4,5.0,-0.10,0.33,0.40,-0.50,-0.23,-0.42,-0.93,-0.47,-0.31,-0.63,-0.02,-0.55,0.62
5,6.0,0.11,0.11,-0.24,0.45,-0.53,0.10,0.90,-0.54,0.47,-0.35,-0.02,0.12,0.37
6,7.0,-0.54,-0.09,-0.33,0.50,0.19,-0.99,0.66,0.59,0.06,-0.08,-0.05,0.05,0.51
7,8.0,-0.58,-0.09,0.53,-0.20,-0.38,-0.13,-0.09,0.50,0.87,0.61,-0.14,0.35,0.60
8,9.0,-0.23,0.02,0.49,-0.30,-0.65,0.41,-0.76,0.53,-0.81,-0.65,-0.13,-0.26,0.61
9,10.0,-0.42,-0.65,0.26,0.20,-0.02,0.43,-0.33,-0.07,0.70,0.42,-0.13,0.23,0.47

***Put***

,Subs,A1,A2,A3,A4,A5,D1,D2,D3,D4,D5,Avg_Asc,Avg_Des,Overall
0,1.0,-0.15,-0.27,-0.56,-0.66,-0.14,0.35,-0.46,0.02,-0.70,0.31,-0.36,-0.10,0.07
1,2.0,-0.44,-0.34,-0.20,-0.05,-0.77,0.34,0.58,-0.34,-0.33,0.04,-0.36,0.06,0.01
2,3.0,0.45,-0.16,0.07,-0.10,0.65,0.63,0.67,0.13,-0.21,0.49,0.18,0.34,0.48
3,4.0,0.28,-0.38,-0.42,-0.15,0.38,0.36,-0.46,0.08,-0.10,-0.73,-0.06,-0.17,0.22
4,5.0,-0.02,0.76,-0.36,-0.31,-0.03,-0.84,-0.03,0.09,0.72,-0.54,0.01,-0.12,0.36
5,6.0,0.30,0.46,0.03,-0.42,-0.90,-0.54,-0.77,-0.50,0.74,-0.82,-0.11,-0.38,0.22
6,7.0,0.33,0.07,-0.44,-0.01,0.22,-0.97,0.53,0.34,0.03,0.49,0.03,0.08,0.10
7,8.0,-0.14,-0.49,0.48,0.48,-0.45,-0.66,0.84,0.55,0.22,0.17,-0.02,0.22,0.38
8,9.0,-0.48,-0.08,-0.47,-0.42,0.11,0.63,-0.42,0.06,-0.85,-0.18,-0.27,-0.15,0.29
9,10.0,-0.36,-0.27,-0.71,-0.07,-0.25,-0.13,0.98,-0.16,-0.45,-0.52,-0.33,-0.06,-0.08

***pSTS***

,Subs,A1,A2,A3,A4,A5,D1,D2,D3,D4,D5,Avg_Asc,Avg_Des,Overall
0,1.0,0.10,0.13,-0.73,0.34,0.04,0.33,0.30,0.27,0.58,0.27,-0.02,0.35,0.14
1,2.0,-0.24,0.04,-0.02,-0.45,0.52,0.63,0.58,0.15,0.41,0.06,-0.03,0.37,-0.09
2,3.0,0.42,-0.57,0.22,0.13,-0.81,-0.32,0.53,-0.15,-0.70,0.43,-0.12,-0.04,0.36
3,4.0,-0.70,-0.29,-0.02,0.32,-0.64,0.17,0.63,0.14,0.94,-0.37,-0.27,0.30,0.14
4,5.0,0.15,0.10,-0.34,0.17,-0.02,-0.04,0.88,-0.33,0.10,-0.60,0.01,0.00,0.07
5,6.0,-0.58,-0.08,-0.20,-0.16,-0.76,0.15,0.99,0.05,0.03,-0.64,-0.36,0.12,0.30
6,7.0,0.34,0.35,-0.28,0.30,0.34,0.23,0.80,0.20,0.68,-0.39,0.21,0.30,0.39
7,8.0,-0.13,0.18,0.39,0.24,0.18,0.07,0.66,0.10,0.20,0.12,0.17,0.23,0.41
8,9.0,0.26,-0.21,-0.04,0.53,-0.18,0.54,0.89,-0.39,-0.15,-0.47,0.07,0.08,0.09
9,10.0,0.55,0.93,0.72,0.60,0.59,0.84,0.69,0.14,0.74,0.09,0.68,0.50,-0.19

***VC***

,Subs,A1,A2,A3,A4,A5,D1,D2,D3,D4,D5,Avg_Asc,Avg_Des,Overall
0,1.0,-0.09,-0.47,0.13,0.43,-0.65,0.88,-0.52,0.30,-0.34,0.76,-0.13,0.22,0.36
1,2.0,0.11,0.86,0.12,-0.48,-0.32,0.87,-0.39,0.76,0.05,0.02,0.06,0.26,0.30
2,3.0,0.83,0.57,-0.82,-0.25,0.45,-0.55,-0.96,0.74,-0.39,0.93,0.16,-0.05,0.69
3,4.0,0.07,0.64,0.50,0.27,-0.30,0.53,-0.53,0.57,-0.21,0.59,0.24,0.19,0.54
4,5.0,0.57,-0.12,0.70,0.44,0.88,-0.26,0.01,0.42,-0.41,0.45,0.49,0.04,0.44
5,6.0,0.61,-0.36,0.62,0.29,-0.26,0.69,-0.63,0.31,-0.60,-0.18,0.18,-0.08,0.60
6,7.0,0.03,0.56,-0.24,0.05,-0.96,0.92,-0.39,-0.08,0.02,0.28,-0.11,0.15,0.37
7,8.0,0.65,0.07,0.52,0.37,0.47,-0.59,0.29,0.29,-0.49,-0.83,0.42,-0.27,0.53
8,9.0,-0.77,0.22,0.30,-0.24,0.73,0.63,-0.64,0.51,0.13,-0.55,0.05,0.02,0.42
9,10.0,0.43,0.77,0.40,0.60,0.25,0.96,0.44,0.72,-0.12,0.51,0.49,0.50,0.40

***vlPFC***

,Subs,A1,A2,A3,A4,A5,D1,D2,D3,D4,D5,Avg_Asc,Avg_Des,Overall
0,1.0,0.21,-0.40,0.03,0.22,0.18,-0.56,-0.18,-0.66,0.04,0.52,0.05,-0.17,0.40
1,2.0,0.49,0.09,0.13,-0.09,-0.01,-0.05,0.74,-0.10,0.11,0.44,0.12,0.23,0.34
2,3.0,0.78,-0.70,0.78,0.25,0.47,-0.61,0.39,0.75,0.14,0.08,0.32,0.15,0.62
3,4.0,-0.37,0.21,0.35,-0.01,-0.44,0.18,0.28,0.04,0.54,0.59,-0.05,0.33,0.57
4,5.0,0.03,0.19,0.42,-0.69,0.14,-0.98,0.98,0.08,-0.03,0.36,0.02,0.08,0.34
5,6.0,0.37,-0.10,0.30,-0.38,-0.88,0.63,0.78,0.59,-0.60,-0.06,-0.14,0.27,0.25
6,7.0,0.52,0.45,0.07,-0.06,0.51,0.31,0.85,-0.07,-0.53,0.45,0.30,0.20,0.39
7,8.0,0.49,-0.37,0.34,-0.11,-0.39,0.79,0.91,0.13,-0.19,-0.39,-0.01,0.25,0.48
8,9.0,0.21,0.34,0.29,-0.04,-0.20,0.27,0.99,-0.07,-0.45,-0.04,0.12,0.14,0.59
9,10.0,0.64,0.21,0.66,0.32,-0.30,0.41,0.99,0.56,0.16,0.53,0.31,0.53,0.09

***mOFC***

,Subs,A1,A2,A3,A4,A5,D1,D2,D3,D4,D5,Avg_Asc,Avg_Des,Overall
0,1.0,0.09,-0.33,0.39,-0.15,0.31,0.33,0.94,-0.19,-0.58,0.23,0.06,0.15,0.15
1,2.0,0.02,0.18,0.36,-0.16,0.77,-0.32,-0.07,0.20,-0.55,-0.05,0.23,-0.16,0.57
2,3.0,-0.43,0.07,-0.51,0.27,0.74,0.08,0.48,0.05,0.93,-0.52,0.03,0.20,0.88
3,4.0,0.14,0.43,0.62,0.39,-0.69,0.69,0.86,0.18,0.12,0.09,0.18,0.39,0.91
4,5.0,0.40,0.14,-0.18,0.38,0.67,0.15,0.62,-0.16,0.61,0.42,0.28,0.33,0.55
5,6.0,0.35,0.87,-0.08,-0.14,0.21,0.97,-0.48,-0.46,0.11,-0.59,0.24,-0.09,0.65
6,7.0,-0.56,-0.52,-0.53,0.49,0.20,0.05,-0.70,0.43,-0.71,0.27,-0.18,-0.13,-0.20
7,8.0,0.18,-0.09,-0.73,-0.23,-0.54,0.99,-0.06,0.77,0.46,0.11,-0.28,0.45,0.77
8,9.0,-0.40,0.91,-0.75,-0.16,0.71,-0.93,0.61,0.30,0.21,0.03,0.06,0.04,0.86
9,10.0,-0.04,-0.32,-0.35,0.45,-0.41,0.15,-0.69,0.21,0.38,-0.15,-0.13,-0.02,0.05

***mPFC***

,Subs,A1,A2,A3,A4,A5,D1,D2,D3,D4,D5,Avg_Asc,Avg_Des,Overall
0,1.0,0.17,-0.19,0.56,0.03,-0.32,0.88,0.57,0.12,-0.47,-0.03,0.05,0.21,0.25
1,2.0,0.51,0.45,-0.33,-0.06,-0.53,-0.91,-0.22,0.03,-0.27,-0.52,0.01,-0.38,0.18
2,3.0,0.72,-0.47,-0.46,0.14,-0.06,0.77,0.39,-0.29,0.12,0.43,-0.03,0.28,0.43
3,4.0,-0.29,-0.18,0.37,-0.08,0.41,0.92,-0.61,0.27,0.25,0.67,0.05,0.30,0.63
4,5.0,-0.38,-0.09,0.42,0.17,0.37,0.19,0.82,0.51,0.10,-0.26,0.10,0.27,0.23
5,6.0,-0.39,-0.06,0.35,0.01,-0.06,0.38,-0.58,0.14,0.25,-0.73,-0.03,-0.11,0.17
6,7.0,0.37,0.14,0.63,0.06,0.26,0.36,-0.05,0.11,0.76,-0.14,0.29,0.21,0.22
7,8.0,-0.03,-0.10,0.69,-0.17,-0.17,0.95,0.46,0.72,0.64,0.26,0.04,0.61,0.73
8,9.0,0.08,-0.24,0.25,-0.18,-0.18,-0.83,-0.71,-0.19,0.01,-0.96,-0.05,-0.54,0.17
9,10.0,0.70,0.54,0.82,0.64,-0.02,0.84,-0.79,0.35,0.50,0.57,0.54,0.29,-0.00

***lOFC***

,Subs,A1,A2,A3,A4,A5,D1,D2,D3,D4,D5,Avg_Asc,Avg_Des,Overall
0,1.0,0.50,-0.61,-0.41,-0.32,-0.24,0.57,0.76,0.32,-0.63,-0.01,-0.22,0.20,0.38
1,2.0,0.55,-0.18,-0.53,-0.35,-0.54,-0.41,0.03,0.72,-0.82,0.12,-0.21,-0.07,0.17
2,3.0,-0.44,0.31,0.04,0.53,-0.18,-0.04,-0.99,0.34,0.16,-0.15,0.05,-0.14,0.52
3,4.0,-0.34,0.21,0.27,0.54,-0.06,0.19,-0.09,-0.03,0.41,-0.02,0.12,0.09,0.79
4,5.0,-0.59,-0.27,-0.80,0.31,0.31,-0.34,-0.93,-0.07,0.10,0.66,-0.21,-0.12,0.15
5,6.0,0.53,-0.04,-0.13,0.03,-0.24,0.48,-0.37,-0.55,-0.33,0.13,0.03,-0.13,0.07
6,7.0,0.04,-0.26,-0.32,0.58,0.40,0.59,-0.26,-0.25,-0.01,-0.16,0.09,-0.02,0.14
7,8.0,0.03,0.10,0.33,0.26,-0.69,0.57,-0.08,0.04,-0.24,-0.32,0.01,-0.01,0.65
8,9.0,0.19,0.86,-0.68,-0.34,0.34,0.59,0.16,-0.44,0.54,-0.81,0.07,0.01,0.63
9,10.0,0.37,0.11,0.02,0.63,-0.06,-0.55,-0.99,0.39,0.28,-0.09,0.21,-0.19,-0.13

***Average across test subjects Correlation Coefficient between predicted and actual average BOLD values of each Ascent and Descent for ROIs***

,ROIs,A1,A2,A3,A4,A5,D1,D2,D3,D4,D5,Avg_Asc,Avg_Des,Overall
0,dmPFC,0.22,-0.38,-0.01,0.15,-0.10,-0.05,-0.37,-0.15,0.07,0.01,-0.03,-0.10,0.33
1,ACC,-0.04,-0.13,-0.40,0.12,0.21,0.16,-0.21,0.13,-0.04,-0.29,-0.05,-0.05,0.36
2,AMY,-0.14,-0.12,0.26,0.08,-0.09,0.11,-0.15,-0.06,-0.24,-0.05,-0.00,-0.07,0.39
3,Cau,-0.05,0.24,0.00,0.07,0.10,-0.02,0.15,0.15,-0.36,0.14,0.07,0.01,0.22
4,dlPFC,-0.06,-0.12,0.20,0.08,-0.11,-0.14,0.49,-0.00,-0.10,0.07,-0.00,0.07,0.29
5,INS,0.29,-0.06,0.62,0.03,-0.05,-0.02,-0.01,0.06,0.24,0.20,0.17,0.09,0.27
6,IPL,0.32,-0.02,0.18,-0.07,0.10,0.44,0.84,0.23,-0.25,-0.17,0.10,0.22,0.35
7,mCC,0.01,-0.16,-0.14,0.09,-0.02,-0.33,-0.20,-0.09,0.14,-0.06,-0.04,-0.11,0.33
8,Nac,0.03,0.29,0.06,0.09,0.16,-0.06,0.07,0.12,-0.38,0.07,0.13,-0.04,0.25
9,PCC,-0.26,-0.21,-0.07,0.29,0.48,0.42,-0.25,0.17,0.08,-0.04,0.05,0.08,0.41
10,PCG,0.14,0.11,-0.20,-0.20,0.21,-0.03,0.05,0.23,-0.05,0.25,0.01,0.09,0.42
11,Prec,-0.12,-0.23,0.42,0.43,0.49,0.23,-0.16,-0.28,-0.08,0.24,0.20,-0.01,0.38
12,TP,-0.19,0.10,0.19,-0.03,-0.13,0.06,0.01,0.04,0.02,-0.00,-0.01,0.03,0.39
13,Put,-0.02,-0.07,-0.26,-0.17,-0.12,-0.08,0.15,0.03,-0.09,-0.13,-0.13,-0.03,0.20
14,pSTS,0.02,0.06,-0.03,0.20,-0.07,0.26,0.70,0.02,0.28,-0.15,0.04,0.22,0.16
15,VC,0.24,0.27,0.22,0.15,0.03,0.41,-0.33,0.45,-0.24,0.20,0.18,0.10,0.46
16,vlPFC,0.34,-0.01,0.34,-0.06,-0.09,0.04,0.67,0.12,-0.08,0.25,0.10,0.20,0.41
17,mOFC,-0.02,0.13,-0.18,0.11,0.20,0.22,0.15,0.13,0.10,-0.02,0.05,0.12,0.52
18,mPFC,0.15,-0.02,0.33,0.06,-0.03,0.36,-0.07,0.18,0.19,-0.07,0.10,0.12,0.30
19,lOFC,0.08,0.02,-0.22,0.19,-0.10,0.16,-0.28,0.05,-0.05,-0.07,-0.01,-0.04,0.34

#### Model-3

We will start off by building a LSTM Model:
- `Number of LSTM Layers = 1`
- `Number of Dense Layers = 1`
- `hidden units = 32`
- `dropout = 0.3`

In [37]:
HIDDEN_UNITS = 32
DROPOUT_PROB = 0.3
LSTM_LAYERS = 1
DENSE_LAYERS = 1

In [38]:
sample_model = avg_bold_model()
sample_model.build(input_shape=batch_x.shape)
sample_model.summary()

Model: "sequential_42"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 lstm_42 (LSTM)              (10, 188, 32)             4352

 dropout_42 (Dropout)        (10, 188, 32)             0

 time_distributed_42 (TimeDi  (10, 188, 1)             33
 stributed)

=================================================================
Total params: 4,385
Trainable params: 4,385
Non-trainable params: 0
_________________________________________________________________

In [39]:
models = [avg_bold_model() for _ in range(len(ROI_names))]

In [40]:
for i in range(len(ROI_names)):
  models[i].compile(optimizer = 'adam', loss = 'mean_squared_error')

In [41]:
for i in range(len(ROI_names)):
  models[i].load_weights(f"./Models/YOUNG/LSTM/AVG-BOLD/{ROI_names[i]}/model_weights-{LSTM_LAYERS}L-{HIDDEN_UNITS}H-{DENSE_LAYERS}D-{int(DROPOUT_PROB*10)}Drop-{LOOK_AHEAD}Ahead-{ROI_names[i]}")

In [ ]:
preds = [models[i].predict(next(test_data_generator[i].generate())[0]) for i in range(len(ROI_names))]

In [43]:
generate_each_sub_n_overall_pred_corr(preds)

***Each Test Subject's Correlation Coefficient between predicted and actual average BOLD values of each Ascent and Descent for ROIs***


***dmPFC***

,Subs,A1,A2,A3,A4,A5,D1,D2,D3,D4,D5,Avg_Asc,Avg_Des,Overall
0,1.0,0.12,-0.18,0.52,-0.13,-0.04,0.05,0.40,0.24,0.05,0.49,0.06,0.25,0.16
1,2.0,0.56,-0.39,-0.41,0.20,-0.19,-0.56,-0.41,0.09,0.72,0.23,-0.05,0.01,0.36
2,3.0,0.49,-0.63,-0.78,-0.11,-0.08,-0.47,-0.63,-0.39,-0.78,0.07,-0.22,-0.44,0.48
3,4.0,-0.55,-0.24,-0.46,0.00,-0.22,-0.17,-0.65,-0.24,0.48,-0.41,-0.29,-0.20,0.27
4,5.0,-0.43,-0.72,-0.38,0.40,-0.19,0.17,0.65,0.23,-0.08,-0.90,-0.26,0.01,0.22
5,6.0,-0.32,-0.51,0.22,-0.20,-0.18,-0.77,-0.38,-0.59,0.65,0.03,-0.20,-0.21,0.37
6,7.0,0.63,-0.44,0.34,-0.02,0.14,0.80,-0.91,-0.75,0.16,0.57,0.13,-0.03,0.15
7,8.0,0.32,-0.54,-0.16,0.10,0.22,0.26,-0.30,0.20,0.05,0.14,-0.01,0.07,0.41
8,9.0,0.03,0.14,-0.29,-0.07,-0.29,0.23,-0.48,-0.18,-0.40,0.15,-0.10,-0.14,0.29
9,10.0,0.44,-0.63,0.54,0.35,-0.76,0.61,-0.57,-0.51,-0.10,-0.49,-0.01,-0.21,0.03

***ACC***

,Subs,A1,A2,A3,A4,A5,D1,D2,D3,D4,D5,Avg_Asc,Avg_Des,Overall
0,1.0,0.16,-0.08,-0.53,-0.19,-0.06,-0.09,-0.47,0.16,-0.20,-0.66,-0.14,-0.25,0.23
1,2.0,-0.32,0.02,-0.56,-0.05,0.12,-0.59,-0.41,0.35,0.04,-0.23,-0.16,-0.17,0.46
2,3.0,0.11,-0.68,-0.41,0.01,0.54,0.63,0.81,-0.47,-0.51,0.46,-0.09,0.18,0.37
3,4.0,-0.08,-0.13,-0.14,0.00,0.54,0.33,0.41,0.45,-0.38,-0.06,0.04,0.15,0.39
4,5.0,0.19,0.37,-0.80,0.57,0.64,0.61,-0.88,0.74,-0.36,-0.72,0.19,-0.12,0.08
5,6.0,-0.15,-0.64,-0.13,-0.01,0.25,0.87,0.20,0.16,0.48,-0.67,-0.14,0.21,0.32
6,7.0,-0.11,-0.49,-0.57,0.23,-0.23,0.51,0.03,0.05,-0.32,-0.43,-0.23,-0.03,0.29
7,8.0,0.35,-0.59,-0.09,-0.86,0.02,0.21,-0.30,0.48,0.49,-0.14,-0.23,0.15,0.56
8,9.0,-0.33,0.67,-0.38,0.56,0.09,-0.45,-0.55,-0.46,0.36,-0.20,0.12,-0.26,0.24
9,10.0,-0.50,-0.53,-0.40,0.36,0.51,-0.33,-0.56,0.07,0.06,-0.40,-0.11,-0.23,0.28

***AMY***

,Subs,A1,A2,A3,A4,A5,D1,D2,D3,D4,D5,Avg_Asc,Avg_Des,Overall
0,1.0,-0.54,-0.45,0.36,-0.11,-0.03,0.49,0.33,0.12,0.13,0.39,-0.15,0.29,0.23
1,2.0,-0.32,0.34,-0.02,0.22,-0.18,-0.62,-0.90,-0.16,-0.53,-0.07,0.01,-0.46,0.43
2,3.0,0.07,-0.25,0.58,-0.07,0.28,0.44,0.18,-0.26,-0.47,-0.49,0.12,-0.12,0.68
3,4.0,-0.43,0.03,-0.35,0.28,-0.66,-0.01,-0.69,0.41,0.34,-0.36,-0.23,-0.06,0.25
4,5.0,0.28,-0.56,0.39,0.29,0.38,0.78,-0.51,0.03,0.42,0.52,0.16,0.25,-0.05
5,6.0,0.16,-0.45,0.10,-0.54,-0.50,0.55,-0.07,0.13,-0.58,0.14,-0.25,0.03,0.58
6,7.0,0.02,-0.35,0.35,0.09,0.32,0.80,0.19,-0.47,-0.45,-0.38,0.09,-0.06,0.26
7,8.0,-0.64,0.09,0.32,0.20,-0.80,-0.34,0.66,-0.30,-0.67,0.60,-0.17,-0.01,0.63
8,9.0,0.04,0.47,0.70,0.23,-0.27,-0.80,-0.39,-0.18,0.10,-0.63,0.23,-0.38,0.22
9,10.0,-0.16,-0.20,0.20,0.11,0.60,0.08,-0.07,0.05,-0.72,-0.30,0.11,-0.19,0.15

***Cau***

,Subs,A1,A2,A3,A4,A5,D1,D2,D3,D4,D5,Avg_Asc,Avg_Des,Overall
0,1.0,-0.01,0.17,0.14,0.19,0.33,0.26,-0.88,0.03,-0.04,0.44,0.16,-0.04,0.06
1,2.0,0.38,0.55,-0.06,0.19,0.09,-0.03,0.47,0.58,0.65,0.26,0.23,0.39,0.53
2,3.0,0.09,-0.09,-0.66,0.36,0.78,-0.78,-0.48,0.08,-0.32,0.50,0.10,-0.20,0.38
3,4.0,0.28,0.38,0.40,0.14,-0.48,-0.57,-0.73,0.19,-0.58,0.08,0.14,-0.32,0.13
4,5.0,0.16,-0.26,0.04,-0.02,-0.21,-0.52,-0.78,0.04,-0.48,0.43,-0.06,-0.26,0.53
5,6.0,-0.16,-0.27,-0.38,-0.09,-0.48,0.54,0.86,-0.43,-0.59,-0.67,-0.28,-0.06,0.09
6,7.0,-0.65,-0.27,0.57,-0.04,0.57,-0.07,0.56,0.06,-0.84,0.04,0.04,-0.05,0.13
7,8.0,0.31,0.29,0.37,-0.15,-0.29,0.15,0.70,-0.29,-0.53,0.31,0.11,0.07,0.27
8,9.0,0.17,0.59,0.03,0.16,0.24,0.85,-0.12,0.54,-0.06,-0.25,0.24,0.19,0.51
9,10.0,0.05,-0.31,0.50,-0.04,-0.23,0.01,0.81,0.50,-0.43,0.47,-0.01,0.27,0.04

***dlPFC***

,Subs,A1,A2,A3,A4,A5,D1,D2,D3,D4,D5,Avg_Asc,Avg_Des,Overall
0,1.0,0.17,-0.82,0.08,-0.14,0.74,-0.30,-0.63,-0.64,-0.64,0.41,0.01,-0.36,0.12
1,2.0,-0.26,0.14,0.11,0.23,-0.26,0.31,0.91,0.50,0.14,0.25,-0.01,0.42,0.31
2,3.0,-0.27,-0.75,0.36,0.18,0.88,-0.08,0.67,-0.35,-0.70,0.51,0.08,0.01,0.52
3,4.0,-0.80,0.30,0.18,-0.09,0.04,0.03,1.00,-0.06,0.06,0.44,-0.07,0.29,0.41
4,5.0,-0.13,-0.07,-0.31,-0.40,-0.48,-0.98,0.75,0.17,-0.72,-0.31,-0.28,-0.22,0.36
5,6.0,0.20,-0.22,0.38,0.11,-0.18,-0.04,-0.11,-0.30,-0.62,-0.30,0.06,-0.27,0.10
6,7.0,0.05,0.62,-0.20,0.09,-0.75,0.09,0.73,-0.36,0.73,0.12,-0.04,0.26,0.02
7,8.0,-0.57,-0.87,0.48,0.35,-0.34,-0.55,0.77,-0.18,0.22,-0.34,-0.19,-0.02,0.32
8,9.0,0.05,-0.29,0.21,-0.48,-0.86,-0.04,0.57,0.26,0.12,-0.79,-0.27,0.02,0.11
9,10.0,0.63,0.17,0.42,0.40,-0.13,0.72,0.83,0.27,0.39,0.47,0.30,0.54,0.22

***INS***

,Subs,A1,A2,A3,A4,A5,D1,D2,D3,D4,D5,Avg_Asc,Avg_Des,Overall
0,1.0,0.53,-0.67,0.84,-0.43,-0.60,-0.13,0.60,-0.02,0.08,0.28,-0.07,0.16,0.18
1,2.0,0.43,0.58,0.77,0.66,0.69,0.40,-0.92,0.02,0.41,0.02,0.63,-0.01,0.58
2,3.0,0.53,-0.58,0.64,-0.09,0.89,-0.08,0.99,0.34,0.39,0.70,0.28,0.47,0.37
3,4.0,0.16,0.40,0.65,0.10,-0.74,-0.04,0.73,0.29,0.45,0.11,0.11,0.31,0.41
4,5.0,0.07,0.17,0.68,-0.21,0.61,-0.78,-0.17,0.25,0.81,0.27,0.26,0.08,0.13
5,6.0,0.47,-0.09,-0.31,-0.02,-0.31,-0.24,0.00,-0.18,-0.82,0.67,-0.05,-0.11,0.17
6,7.0,0.05,-0.13,0.51,0.35,-0.11,-0.40,0.33,0.23,-0.50,0.11,0.13,-0.05,0.18
7,8.0,0.29,0.30,0.93,-0.01,-0.75,0.35,-0.80,0.29,0.64,0.08,0.15,0.11,0.34
8,9.0,-0.27,-0.37,0.78,-0.46,0.60,0.39,-0.83,-0.36,0.07,-0.62,0.06,-0.27,0.16
9,10.0,0.67,-0.41,0.72,0.38,-0.82,0.36,-0.13,-0.37,0.81,0.32,0.11,0.20,0.13

***IPL***

,Subs,A1,A2,A3,A4,A5,D1,D2,D3,D4,D5,Avg_Asc,Avg_Des,Overall
0,1.0,0.18,0.16,0.36,0.06,-0.54,0.70,0.90,-0.15,0.05,-0.06,0.04,0.29,0.42
1,2.0,0.65,0.32,-0.18,-0.01,0.83,0.19,0.77,0.51,-0.71,0.16,0.32,0.18,0.05
2,3.0,0.73,-0.67,0.32,-0.47,-0.26,-0.01,0.83,0.08,-0.11,0.19,-0.07,0.20,0.53
3,4.0,-0.14,-0.39,0.67,0.24,-0.74,0.54,0.86,0.36,-0.58,0.04,-0.07,0.24,0.37
4,5.0,0.50,0.41,0.10,0.61,0.68,-0.54,0.79,0.61,0.09,0.13,0.46,0.22,0.18
5,6.0,-0.00,-0.10,0.51,-0.50,-0.20,0.88,0.99,0.29,0.49,0.04,-0.06,0.54,0.32
6,7.0,0.67,0.09,-0.74,-0.25,0.91,0.72,0.97,-0.03,-0.64,-0.24,0.14,0.16,0.44
7,8.0,0.51,-0.06,0.30,-0.58,0.11,0.92,0.99,0.52,-0.58,-0.58,0.06,0.25,0.47
8,9.0,-0.10,-0.10,0.18,-0.44,0.26,0.25,0.88,-0.00,-0.01,-0.83,-0.04,0.06,0.34
9,10.0,0.27,0.50,0.49,0.53,0.17,0.67,0.43,-0.14,-0.63,-0.32,0.39,0.00,0.25

***mCC***

,Subs,A1,A2,A3,A4,A5,D1,D2,D3,D4,D5,Avg_Asc,Avg_Des,Overall
0,1.0,-0.19,-0.03,-0.58,-0.45,0.05,-0.41,0.03,-0.69,-0.07,0.43,-0.24,-0.14,0.06
1,2.0,-0.07,-0.23,0.17,0.74,0.07,-0.30,-0.68,-0.08,0.42,0.25,0.14,-0.08,-0.06
2,3.0,-0.05,-0.32,0.56,0.16,-0.40,0.32,-0.33,-0.47,0.21,0.47,-0.01,0.04,0.17
3,4.0,0.25,0.15,-0.22,0.33,-0.20,-0.61,0.87,-0.48,0.17,-0.32,0.06,-0.07,0.25
4,5.0,0.04,-0.75,-0.24,0.14,0.14,-0.62,-0.35,0.13,0.41,-0.85,-0.13,-0.26,0.45
5,6.0,0.04,0.13,0.62,-0.06,0.24,-0.29,-0.59,-0.00,0.66,0.50,0.19,0.06,0.69
6,7.0,-0.34,0.54,-0.56,-0.24,-0.23,-0.95,-0.26,0.37,0.33,0.17,-0.17,-0.07,0.06
7,8.0,0.35,-0.32,-0.26,-0.19,0.20,-0.68,0.71,0.03,-0.18,-0.22,-0.04,-0.07,0.45
8,9.0,-0.25,-0.45,0.26,-0.24,0.15,0.65,-0.68,-0.04,-0.08,-0.60,-0.11,-0.15,0.28
9,10.0,-0.04,-0.24,-0.79,-0.23,0.12,-0.86,-0.86,0.08,0.41,-0.21,-0.24,-0.29,0.10

***Nac***

,Subs,A1,A2,A3,A4,A5,D1,D2,D3,D4,D5,Avg_Asc,Avg_Des,Overall
0,1.0,0.15,0.65,0.38,-0.17,0.44,0.39,-0.85,0.06,-0.09,0.26,0.29,-0.05,0.04
1,2.0,0.10,0.76,-0.02,0.11,0.08,0.09,0.60,0.73,0.54,0.16,0.21,0.42,0.29
2,3.0,0.26,-0.09,-0.55,0.52,0.23,-0.62,-0.69,-0.09,-0.71,0.45,0.07,-0.33,0.28
3,4.0,0.09,0.40,0.29,0.01,-0.54,-0.34,-0.72,0.03,-0.61,-0.42,0.05,-0.41,0.31
4,5.0,0.47,-0.52,-0.13,0.04,-0.09,-0.53,-0.36,-0.27,-0.43,0.34,-0.05,-0.25,0.43
5,6.0,0.36,-0.08,-0.41,0.27,0.11,-0.17,-0.02,-0.66,-0.87,-0.55,0.05,-0.45,0.04
6,7.0,-0.72,-0.01,0.36,-0.12,0.52,-0.28,0.65,-0.09,-0.54,0.15,0.01,-0.02,0.20
7,8.0,0.19,0.50,0.50,0.19,0.10,0.05,0.85,0.10,-0.82,0.11,0.30,0.06,0.27
8,9.0,-0.23,0.84,0.29,0.16,0.38,0.89,0.26,0.78,-0.11,-0.32,0.29,0.30,0.61
9,10.0,-0.09,0.19,0.39,-0.23,0.36,-0.23,0.78,0.44,-0.10,0.06,0.12,0.19,0.04

***PCC***

,Subs,A1,A2,A3,A4,A5,D1,D2,D3,D4,D5,Avg_Asc,Avg_Des,Overall
0,1.0,-0.66,0.06,0.43,0.06,0.78,0.71,0.78,0.14,0.22,0.74,0.13,0.52,0.11
1,2.0,-0.80,-0.35,-0.58,-0.24,0.29,-0.83,-0.22,0.24,-0.59,0.06,-0.34,-0.27,0.26
2,3.0,-0.31,-0.45,-0.35,0.30,0.87,0.89,-0.23,0.20,-0.03,0.55,0.01,0.28,0.37
3,4.0,0.58,-0.36,0.06,0.25,0.87,0.68,0.73,0.45,0.76,-0.64,0.28,0.40,0.57
4,5.0,-0.05,-0.19,-0.64,0.50,0.33,0.61,0.23,-0.48,-0.57,-0.26,-0.01,-0.09,0.35
5,6.0,0.22,-0.13,0.12,0.43,-0.07,0.87,-0.99,0.15,0.39,-0.79,0.11,-0.07,0.54
6,7.0,-0.31,-0.04,0.06,0.27,0.25,0.03,-0.76,0.35,0.65,-0.23,0.05,0.01,0.31
7,8.0,-0.66,-0.86,0.50,0.62,0.16,0.87,-0.70,0.36,0.04,0.02,-0.05,0.12,0.49
8,9.0,-0.54,-0.14,-0.78,-0.13,0.54,-0.46,-0.33,0.22,-0.15,-0.18,-0.21,-0.18,0.28
9,10.0,-0.35,-0.15,0.55,0.51,0.83,0.65,-0.81,-0.28,0.03,-0.06,0.28,-0.09,0.24

***PCG***

,Subs,A1,A2,A3,A4,A5,D1,D2,D3,D4,D5,Avg_Asc,Avg_Des,Overall
0,1.0,-0.18,-0.54,-0.38,-0.19,0.86,-0.19,0.52,0.14,-0.07,0.68,-0.09,0.22,0.11
1,2.0,0.65,0.58,-0.52,-0.57,0.85,0.59,-0.32,0.06,-0.37,0.09,0.20,0.01,0.19
2,3.0,-0.00,-0.55,0.48,-0.35,-0.77,-0.47,-0.80,-0.60,-0.28,0.20,-0.24,-0.39,0.45
3,4.0,0.09,0.29,-0.17,-0.65,0.76,0.43,-0.95,-0.04,-0.02,0.31,0.06,-0.05,0.32
4,5.0,0.40,0.72,-0.27,-0.39,-0.99,-0.73,0.12,0.77,-0.79,-0.46,-0.11,-0.22,0.00
5,6.0,0.07,-0.13,-0.03,-0.31,0.60,0.00,0.49,-0.44,-0.61,0.27,0.04,-0.06,0.37
6,7.0,-0.09,0.31,-0.67,-0.33,-0.20,0.11,-0.14,0.19,0.24,0.43,-0.20,0.17,0.14
7,8.0,-0.04,-0.78,-0.56,-0.30,0.70,-0.51,-0.37,0.67,0.01,-0.31,-0.20,-0.10,0.46
8,9.0,-0.59,-0.46,-0.64,-0.72,-0.20,0.35,0.41,0.48,0.90,-0.63,-0.52,0.30,0.33
9,10.0,-0.01,0.79,-0.36,-0.21,0.93,0.96,-0.16,0.05,0.09,0.25,0.23,0.24,0.32

***Prec***

,Subs,A1,A2,A3,A4,A5,D1,D2,D3,D4,D5,Avg_Asc,Avg_Des,Overall
0,1.0,-0.06,-0.61,0.68,0.58,0.37,0.68,0.38,-0.23,0.64,0.09,0.19,0.31,0.25
1,2.0,-0.30,0.01,-0.46,0.18,-0.59,-0.92,-0.23,-0.74,-0.24,-0.31,-0.23,-0.49,0.39
2,3.0,0.21,0.25,0.03,0.89,0.90,0.91,0.59,-0.30,0.64,0.73,0.46,0.51,0.54
3,4.0,-0.05,-0.22,0.81,0.37,0.77,0.30,-0.95,-0.58,-0.22,0.52,0.34,-0.19,0.47
4,5.0,-0.40,-0.59,0.64,0.57,0.85,0.76,-0.01,-0.29,0.64,0.63,0.21,0.35,0.33
5,6.0,-0.13,-0.53,0.42,-0.08,0.19,0.11,0.38,-0.28,-0.37,-0.30,-0.03,-0.09,0.53
6,7.0,0.50,-0.44,0.78,0.18,0.15,-0.28,-0.61,0.35,-0.52,-0.55,0.23,-0.32,0.39
7,8.0,-0.29,-0.18,0.77,0.27,0.43,0.92,-0.57,0.31,-0.48,0.60,0.20,0.16,0.58
8,9.0,0.50,0.34,-0.00,0.67,0.86,-0.55,-0.42,-0.00,0.11,-0.25,0.47,-0.22,0.49
9,10.0,0.09,-0.45,0.74,0.41,0.65,0.70,-0.47,-0.18,-0.73,0.60,0.29,-0.02,0.33

***TP***

,Subs,A1,A2,A3,A4,A5,D1,D2,D3,D4,D5,Avg_Asc,Avg_Des,Overall
0,1.0,0.14,0.34,-0.33,-0.36,0.43,0.28,-0.29,-0.22,-0.76,-0.76,0.04,-0.35,0.47
1,2.0,0.18,0.41,0.09,0.21,-0.05,0.39,0.87,0.05,0.38,0.52,0.17,0.44,0.23
2,3.0,-0.44,0.18,0.39,0.12,0.03,0.11,0.30,0.36,-0.87,0.70,0.06,0.12,0.09
3,4.0,0.04,0.36,0.67,-0.32,-0.09,0.52,-0.44,0.46,0.45,0.17,0.13,0.23,0.39
4,5.0,0.09,0.26,0.39,-0.46,-0.25,-0.45,-0.89,-0.43,-0.28,-0.85,0.01,-0.58,0.58
5,6.0,0.16,0.07,-0.33,0.39,-0.59,0.21,0.90,-0.61,0.45,-0.46,-0.06,0.10,0.35
6,7.0,-0.61,-0.06,-0.38,0.51,0.15,-0.96,0.67,0.55,-0.29,0.02,-0.08,-0.00,0.61
7,8.0,-0.49,-0.12,0.56,-0.43,-0.59,0.07,0.03,0.64,0.87,0.68,-0.21,0.46,0.60
8,9.0,-0.29,-0.09,0.42,-0.38,-0.71,0.45,-0.91,0.65,-0.66,-0.37,-0.21,-0.17,0.64
9,10.0,-0.53,-0.46,0.46,0.22,-0.13,0.40,0.30,0.03,0.70,0.70,-0.09,0.43,0.47

***Put***

,Subs,A1,A2,A3,A4,A5,D1,D2,D3,D4,D5,Avg_Asc,Avg_Des,Overall
0,1.0,-0.16,-0.25,-0.56,-0.62,-0.16,0.35,-0.45,-0.01,-0.70,0.28,-0.35,-0.11,0.11
1,2.0,-0.46,-0.34,-0.15,-0.07,-0.78,0.34,0.58,-0.36,-0.33,0.04,-0.36,0.05,-0.00
2,3.0,0.50,-0.18,0.04,-0.09,0.65,0.64,0.67,0.15,-0.20,0.49,0.18,0.35,0.51
3,4.0,0.28,-0.36,-0.41,-0.14,0.38,0.35,-0.47,0.09,-0.10,-0.74,-0.05,-0.17,0.22
4,5.0,-0.00,0.77,-0.37,-0.31,-0.06,-0.87,-0.03,0.05,0.72,-0.56,0.01,-0.14,0.34
5,6.0,0.31,0.49,-0.03,-0.42,-0.89,-0.55,-0.81,-0.51,0.74,-0.85,-0.11,-0.40,0.20
6,7.0,0.34,0.05,-0.45,0.01,0.19,-0.97,0.55,0.31,-0.00,0.50,0.03,0.08,0.10
7,8.0,-0.12,-0.47,0.49,0.46,-0.45,-0.66,0.82,0.56,0.23,0.16,-0.02,0.22,0.39
8,9.0,-0.49,-0.09,-0.47,-0.40,0.07,0.62,-0.45,0.04,-0.86,-0.17,-0.28,-0.16,0.28
9,10.0,-0.35,-0.31,-0.77,-0.07,-0.23,-0.14,0.98,-0.18,-0.45,-0.54,-0.35,-0.07,-0.11

***pSTS***

,Subs,A1,A2,A3,A4,A5,D1,D2,D3,D4,D5,Avg_Asc,Avg_Des,Overall
0,1.0,-0.03,0.11,-0.81,0.02,0.05,0.34,0.29,0.32,0.33,0.17,-0.13,0.29,0.27
1,2.0,-0.19,-0.03,-0.11,-0.52,0.50,0.55,0.58,0.09,0.33,-0.19,-0.07,0.27,0.03
2,3.0,0.81,-0.86,-0.16,0.28,-0.83,-0.39,0.54,0.10,-0.24,0.50,-0.15,0.10,0.54
3,4.0,-0.64,-0.41,-0.11,0.25,-0.75,0.12,0.63,0.20,0.57,-0.34,-0.33,0.24,0.25
4,5.0,0.07,0.24,-0.37,0.05,0.05,-0.07,0.87,-0.22,-0.26,-0.47,0.01,-0.03,0.16
5,6.0,-0.51,-0.01,-0.15,-0.02,-0.76,0.17,0.99,-0.12,0.30,-0.50,-0.29,0.17,0.42
6,7.0,0.18,0.33,-0.38,0.20,0.32,0.23,0.78,0.33,0.62,-0.37,0.13,0.32,0.38
7,8.0,0.21,-0.35,0.50,0.21,0.18,0.01,0.65,0.08,-0.02,0.01,0.15,0.15,0.48
8,9.0,0.56,-0.05,-0.05,0.25,-0.24,0.45,0.81,-0.12,-0.44,-0.34,0.09,0.07,0.20
9,10.0,0.48,0.93,0.77,0.64,0.47,0.85,0.68,0.10,0.54,0.03,0.66,0.44,-0.07

***VC***

,Subs,A1,A2,A3,A4,A5,D1,D2,D3,D4,D5,Avg_Asc,Avg_Des,Overall
0,1.0,-0.06,-0.53,0.10,0.20,-0.72,0.88,-0.25,0.34,-0.37,0.75,-0.20,0.27,0.26
1,2.0,0.09,0.86,0.04,-0.51,-0.45,0.89,-0.39,0.73,0.15,-0.05,0.01,0.27,0.17
2,3.0,0.80,0.65,-0.83,-0.36,0.48,-0.60,-0.92,0.66,-0.66,0.90,0.15,-0.12,0.66
3,4.0,-0.01,0.65,0.48,0.32,-0.35,0.53,-0.60,0.59,-0.19,0.56,0.22,0.18,0.44
4,5.0,0.59,-0.14,0.72,0.43,0.88,-0.28,-0.15,0.39,-0.42,0.46,0.50,0.00,0.28
5,6.0,0.60,-0.35,0.62,0.31,-0.23,0.69,-0.65,0.14,-0.61,-0.22,0.19,-0.13,0.63
6,7.0,-0.00,0.54,-0.21,-0.01,-0.98,0.93,-0.45,-0.09,0.14,0.26,-0.13,0.16,0.29
7,8.0,0.54,0.09,0.58,0.35,0.50,-0.74,0.40,0.20,-0.52,-0.89,0.41,-0.31,0.47
8,9.0,-0.83,-0.23,0.26,-0.35,0.68,0.63,-0.67,0.45,0.23,-0.75,-0.09,-0.02,0.32
9,10.0,0.44,0.79,0.35,0.60,0.24,0.96,0.68,0.72,-0.07,0.47,0.48,0.55,0.31

***vlPFC***

,Subs,A1,A2,A3,A4,A5,D1,D2,D3,D4,D5,Avg_Asc,Avg_Des,Overall
0,1.0,0.21,-0.51,0.02,-0.24,0.18,-0.51,-0.08,-0.72,0.09,0.57,-0.07,-0.13,0.25
1,2.0,0.50,0.08,0.11,-0.10,-0.02,-0.08,0.76,-0.05,-0.14,0.39,0.11,0.18,0.33
2,3.0,0.72,-0.82,0.75,0.03,0.52,-0.72,0.38,0.69,-0.24,0.10,0.24,0.04,0.38
3,4.0,-0.56,0.20,0.32,-0.12,-0.19,0.06,0.24,0.08,0.71,0.42,-0.07,0.30,0.48
4,5.0,0.11,0.10,0.31,-0.65,0.18,-0.99,0.99,0.03,-0.16,0.36,0.01,0.05,0.10
5,6.0,0.29,-0.29,0.26,-0.44,-0.92,0.66,0.80,0.52,-0.55,-0.20,-0.22,0.25,0.19
6,7.0,0.51,0.51,0.13,-0.30,0.56,0.41,0.86,-0.08,-0.58,0.44,0.28,0.21,0.27
7,8.0,0.09,-0.64,0.33,-0.16,-0.41,0.92,0.90,-0.01,-0.05,-0.44,-0.16,0.26,0.38
8,9.0,0.04,0.13,0.30,-0.35,-0.30,0.36,0.98,-0.36,-0.33,-0.28,-0.04,0.07,0.38
9,10.0,0.67,0.23,0.65,0.28,-0.34,0.50,0.99,0.61,-0.13,0.49,0.30,0.49,0.03

***mOFC***

,Subs,A1,A2,A3,A4,A5,D1,D2,D3,D4,D5,Avg_Asc,Avg_Des,Overall
0,1.0,0.07,-0.37,0.14,-0.12,0.26,0.28,0.94,-0.08,-0.58,0.20,-0.00,0.15,0.32
1,2.0,0.02,0.19,0.40,-0.13,0.75,-0.32,-0.07,0.28,-0.60,-0.07,0.25,-0.16,0.62
2,3.0,-0.47,0.10,-0.62,0.23,0.72,0.05,0.48,0.20,0.93,-0.51,-0.01,0.23,0.90
3,4.0,0.12,0.36,0.64,0.32,-0.69,0.64,0.85,0.06,0.12,0.12,0.15,0.36,0.91
4,5.0,0.41,0.16,-0.20,0.38,0.70,0.18,0.61,-0.28,0.57,0.35,0.29,0.29,0.65
5,6.0,0.43,0.88,-0.08,-0.18,0.21,0.97,-0.48,-0.39,0.22,-0.60,0.25,-0.06,0.57
6,7.0,-0.54,-0.48,-0.47,0.46,0.20,0.05,-0.68,0.42,-0.69,0.29,-0.17,-0.12,-0.14
7,8.0,0.07,-0.45,-0.75,-0.31,-0.55,0.99,-0.01,0.75,0.50,0.06,-0.40,0.46,0.72
8,9.0,-0.37,0.88,-0.73,-0.24,0.65,-0.87,0.69,0.26,0.23,-0.10,0.04,0.04,0.84
9,10.0,-0.03,-0.56,-0.48,0.43,-0.36,0.09,-0.69,0.24,0.35,-0.19,-0.20,-0.04,0.05

***mPFC***

,Subs,A1,A2,A3,A4,A5,D1,D2,D3,D4,D5,Avg_Asc,Avg_Des,Overall
0,1.0,0.27,-0.24,0.56,-0.52,-0.36,0.90,0.53,0.03,-0.48,-0.02,-0.06,0.19,0.16
1,2.0,0.50,0.46,-0.52,-0.09,-0.46,-0.88,-0.23,0.05,-0.16,-0.58,-0.02,-0.36,0.04
2,3.0,0.57,-0.82,-0.49,0.18,0.07,0.79,0.34,-0.66,-0.18,0.41,-0.10,0.14,0.50
3,4.0,-0.28,-0.15,0.41,-0.10,0.38,0.94,-0.54,0.23,0.34,0.67,0.05,0.33,0.28
4,5.0,-0.47,-0.13,0.29,0.17,0.33,0.30,0.69,0.40,0.04,-0.30,0.04,0.23,0.19
5,6.0,-0.34,-0.08,0.40,-0.00,0.07,0.42,-0.59,0.20,0.28,-0.84,0.01,-0.11,-0.00
6,7.0,0.27,0.22,0.73,-0.14,0.30,0.45,0.06,0.14,0.80,-0.11,0.28,0.27,0.15
7,8.0,-0.15,-0.21,0.65,-0.14,-0.21,0.95,0.37,0.74,0.66,0.28,-0.01,0.60,0.65
8,9.0,0.18,-0.59,0.18,-0.55,-0.14,-0.74,-0.85,-0.51,-0.23,-0.92,-0.18,-0.65,-0.01
9,10.0,0.67,0.53,0.81,0.64,-0.06,0.84,-0.89,0.23,0.47,0.54,0.52,0.24,-0.12

***lOFC***

,Subs,A1,A2,A3,A4,A5,D1,D2,D3,D4,D5,Avg_Asc,Avg_Des,Overall
0,1.0,0.43,-0.59,-0.30,-0.02,-0.44,0.49,0.75,0.14,-0.57,0.02,-0.18,0.17,0.45
1,2.0,0.55,-0.24,-0.63,-0.50,-0.17,-0.61,0.11,0.65,-0.72,0.09,-0.20,-0.10,0.19
2,3.0,-0.05,0.30,-0.05,0.59,-0.19,-0.22,-0.94,0.61,0.49,0.34,0.12,0.06,0.61
3,4.0,-0.30,0.34,0.12,0.63,0.01,0.18,-0.07,0.01,0.42,-0.02,0.16,0.10,0.81
4,5.0,-0.54,-0.08,-0.70,0.35,0.36,-0.62,-0.84,-0.20,0.16,0.55,-0.12,-0.19,0.24
5,6.0,0.54,-0.05,-0.28,0.08,-0.25,0.32,-0.57,-0.56,-0.33,0.06,0.01,-0.22,0.05
6,7.0,-0.02,-0.35,-0.40,0.60,0.40,0.51,-0.42,-0.30,-0.13,-0.14,0.05,-0.10,0.15
7,8.0,0.30,-0.21,0.25,0.35,-0.79,0.47,-0.24,-0.01,-0.31,-0.43,-0.02,-0.10,0.77
8,9.0,0.30,0.85,-0.44,-0.22,0.15,0.54,-0.05,-0.43,0.65,-0.59,0.13,0.02,0.74
9,10.0,0.40,0.49,0.07,0.55,-0.17,-0.39,-0.95,0.26,0.37,-0.11,0.27,-0.16,-0.02

***Average across test subjects Correlation Coefficient between predicted and actual average BOLD values of each Ascent and Descent for ROIs***

,ROIs,A1,A2,A3,A4,A5,D1,D2,D3,D4,D5,Avg_Asc,Avg_Des,Overall
0,dmPFC,0.13,-0.41,-0.08,0.05,-0.16,0.02,-0.33,-0.19,0.08,-0.01,-0.10,-0.09,0.27
1,ACC,-0.07,-0.21,-0.40,0.06,0.24,0.17,-0.17,0.15,-0.03,-0.30,-0.07,-0.04,0.32
2,AMY,-0.15,-0.13,0.26,0.07,-0.09,0.14,-0.13,-0.06,-0.24,-0.06,-0.01,-0.07,0.34
3,Cau,0.06,0.08,0.09,0.07,0.03,-0.01,0.04,0.13,-0.32,0.16,0.07,-0.00,0.27
4,dlPFC,-0.09,-0.18,0.17,0.02,-0.13,-0.08,0.55,-0.07,-0.10,0.05,-0.04,0.07,0.25
5,INS,0.29,-0.08,0.62,0.03,-0.05,-0.02,-0.02,0.05,0.23,0.19,0.16,0.09,0.27
6,IPL,0.33,0.02,0.20,-0.08,0.12,0.43,0.84,0.20,-0.26,-0.15,0.12,0.21,0.34
7,mCC,-0.03,-0.15,-0.10,-0.00,0.01,-0.38,-0.21,-0.12,0.23,-0.04,-0.05,-0.10,0.24
8,Nac,0.06,0.26,0.11,0.08,0.16,-0.07,0.05,0.10,-0.38,0.02,0.13,-0.05,0.25
9,PCC,-0.29,-0.26,-0.06,0.26,0.48,0.40,-0.23,0.13,0.07,-0.08,0.03,0.06,0.35
10,PCG,0.03,0.02,-0.31,-0.40,0.25,0.05,-0.12,0.13,-0.09,0.08,-0.08,0.01,0.27
11,Prec,0.01,-0.24,0.44,0.40,0.46,0.26,-0.19,-0.19,-0.05,0.18,0.21,0.00,0.43
12,TP,-0.18,0.09,0.20,-0.05,-0.18,0.10,0.05,0.15,0.00,0.04,-0.02,0.07,0.44
13,Put,-0.02,-0.07,-0.27,-0.16,-0.13,-0.09,0.14,0.02,-0.09,-0.14,-0.13,-0.03,0.20
14,pSTS,0.09,-0.01,-0.09,0.14,-0.10,0.23,0.68,0.08,0.17,-0.15,0.01,0.20,0.27
15,VC,0.22,0.23,0.21,0.10,0.01,0.39,-0.30,0.41,-0.23,0.15,0.15,0.08,0.38
16,vlPFC,0.26,-0.10,0.32,-0.20,-0.07,0.06,0.68,0.07,-0.14,0.18,0.04,0.17,0.28
17,mOFC,-0.03,0.07,-0.21,0.09,0.19,0.21,0.16,0.15,0.11,-0.04,0.02,0.12,0.55
18,mPFC,0.12,-0.10,0.30,-0.06,-0.01,0.40,-0.11,0.09,0.16,-0.09,0.05,0.09,0.18
19,lOFC,0.16,0.05,-0.24,0.24,-0.11,0.07,-0.32,0.02,0.00,-0.02,0.02,-0.05,0.40

#### Model-4

We will start off by building a LSTM Model:
- `Number of LSTM Layers = 2`
- `Number of Dense Layers = 1`
- `hidden units = 16`
- `dropout = 0.3`

In [44]:
HIDDEN_UNITS = 16
DROPOUT_PROB = 0.3
LSTM_LAYERS = 2
DENSE_LAYERS = 1

In [45]:
sample_model = avg_bold_model()
sample_model.build(input_shape=batch_x.shape)
sample_model.summary()

Model: "sequential_63"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 lstm_63 (LSTM)              (10, 188, 16)             1152

 lstm_64 (LSTM)              (10, 188, 16)             2112

 dropout_63 (Dropout)        (10, 188, 16)             0

 time_distributed_63 (TimeDi  (10, 188, 1)             17
 stributed)

=================================================================
Total params: 3,281
Trainable params: 3,281
Non-trainable params: 0
_________________________________________________________________

In [46]:
models = [avg_bold_model() for _ in range(len(ROI_names))]

In [47]:
for i in range(len(ROI_names)):
  models[i].compile(optimizer = 'adam', loss = 'mean_squared_error')

In [48]:
for i in range(len(ROI_names)):
  models[i].load_weights(f"./Models/YOUNG/LSTM/AVG-BOLD/{ROI_names[i]}/model_weights-{LSTM_LAYERS}L-{HIDDEN_UNITS}H-{DENSE_LAYERS}D-{int(DROPOUT_PROB*10)}Drop-{LOOK_AHEAD}Ahead-{ROI_names[i]}")

In [ ]:
preds = [models[i].predict(next(test_data_generator[i].generate())[0]) for i in range(len(ROI_names))]

In [50]:
generate_each_sub_n_overall_pred_corr(preds)

***Each Test Subject's Correlation Coefficient between predicted and actual average BOLD values of each Ascent and Descent for ROIs***


***dmPFC***

,Subs,A1,A2,A3,A4,A5,D1,D2,D3,D4,D5,Avg_Asc,Avg_Des,Overall
0,1.0,0.11,-0.15,0.47,-0.15,0.01,0.03,0.41,0.25,-0.04,0.53,0.06,0.24,0.21
1,2.0,0.62,-0.36,-0.46,0.25,-0.19,-0.55,-0.43,0.07,0.68,0.25,-0.03,0.00,0.43
2,3.0,0.49,-0.60,-0.75,-0.08,-0.20,-0.48,-0.64,-0.44,-0.72,0.10,-0.23,-0.44,0.35
3,4.0,-0.70,-0.25,-0.46,0.06,-0.24,-0.25,-0.66,-0.33,0.45,-0.38,-0.32,-0.23,0.29
4,5.0,-0.36,-0.69,-0.38,0.37,-0.25,0.13,0.66,0.19,-0.11,-0.87,-0.26,0.00,0.16
5,6.0,-0.25,-0.45,0.30,-0.17,-0.18,-0.78,-0.38,-0.57,0.62,0.07,-0.15,-0.21,0.42
6,7.0,0.53,-0.43,0.32,0.07,0.09,0.83,-0.91,-0.75,0.10,0.52,0.12,-0.04,0.16
7,8.0,0.39,-0.53,-0.19,0.06,0.23,0.27,-0.30,0.24,0.16,0.14,-0.01,0.10,0.41
8,9.0,-0.10,0.19,-0.31,-0.06,-0.32,-0.01,-0.49,-0.18,-0.24,0.16,-0.12,-0.15,0.32
9,10.0,0.44,-0.63,0.54,0.37,-0.77,0.70,-0.57,-0.41,-0.14,-0.51,-0.01,-0.19,0.05

***ACC***

,Subs,A1,A2,A3,A4,A5,D1,D2,D3,D4,D5,Avg_Asc,Avg_Des,Overall
0,1.0,0.17,0.06,-0.56,0.18,-0.07,0.03,-0.43,0.16,-0.25,-0.67,-0.04,-0.23,0.19
1,2.0,-0.25,-0.01,-0.41,-0.03,0.11,-0.60,-0.47,0.35,-0.03,-0.22,-0.12,-0.19,0.46
2,3.0,0.20,-0.70,-0.39,0.06,0.54,0.59,0.85,-0.51,-0.44,0.46,-0.06,0.19,0.35
3,4.0,-0.17,-0.10,-0.25,-0.03,0.56,0.34,0.38,0.29,-0.41,-0.00,0.00,0.12,0.42
4,5.0,0.22,0.42,-0.76,0.60,0.62,0.60,-0.88,0.72,-0.35,-0.73,0.22,-0.13,0.24
5,6.0,-0.14,-0.62,-0.22,-0.01,0.24,0.89,0.17,0.23,0.45,-0.67,-0.15,0.21,0.34
6,7.0,-0.14,-0.46,-0.67,0.34,-0.26,0.48,0.01,-0.08,-0.40,-0.46,-0.24,-0.09,0.31
7,8.0,0.33,-0.54,-0.16,-0.84,0.02,0.21,-0.27,0.41,0.46,-0.15,-0.24,0.13,0.53
8,9.0,-0.30,0.70,-0.29,0.70,0.13,-0.63,-0.57,-0.42,0.43,-0.13,0.19,-0.26,0.26
9,10.0,-0.53,-0.42,-0.34,0.36,0.52,-0.19,-0.48,0.06,0.09,-0.39,-0.08,-0.18,0.29

***AMY***

,Subs,A1,A2,A3,A4,A5,D1,D2,D3,D4,D5,Avg_Asc,Avg_Des,Overall
0,1.0,-0.50,-0.44,0.40,-0.12,-0.02,0.50,0.32,0.07,0.21,0.45,-0.14,0.31,0.16
1,2.0,-0.40,0.41,-0.18,0.25,-0.08,-0.46,-0.91,-0.12,-0.51,-0.16,-0.00,-0.43,0.41
2,3.0,0.01,-0.27,0.50,-0.01,0.27,0.47,0.27,-0.30,0.17,-0.50,0.10,0.02,0.58
3,4.0,-0.38,0.10,-0.33,0.25,-0.63,0.07,-0.70,0.39,0.37,-0.40,-0.20,-0.05,0.19
4,5.0,0.19,-0.66,0.34,0.33,0.37,0.88,-0.52,0.06,0.42,0.53,0.11,0.27,-0.13
5,6.0,0.02,-0.39,0.21,-0.44,-0.49,0.64,0.01,0.13,-0.50,0.18,-0.22,0.09,0.56
6,7.0,0.08,-0.42,0.41,0.14,0.38,0.80,0.27,-0.46,-0.61,-0.38,0.12,-0.08,0.23
7,8.0,-0.61,0.11,0.28,0.12,-0.76,-0.31,0.67,-0.28,-0.54,0.65,-0.17,0.04,0.61
8,9.0,0.05,0.51,0.63,0.24,-0.25,-0.81,-0.41,-0.30,0.07,-0.52,0.24,-0.39,0.17
9,10.0,-0.17,-0.12,0.21,0.04,0.50,0.17,0.04,0.16,-0.84,-0.32,0.09,-0.16,0.15

***Cau***

,Subs,A1,A2,A3,A4,A5,D1,D2,D3,D4,D5,Avg_Asc,Avg_Des,Overall
0,1.0,0.12,0.59,-0.02,0.03,0.47,0.17,-0.85,0.16,0.01,0.48,0.24,-0.01,0.03
1,2.0,0.48,0.65,-0.36,0.24,0.04,-0.08,0.57,0.58,0.70,0.28,0.21,0.41,0.50
2,3.0,-0.29,-0.23,-0.74,0.32,0.81,-0.86,-0.43,-0.12,-0.55,0.63,-0.03,-0.27,0.33
3,4.0,0.11,0.49,0.34,0.11,-0.52,-0.51,-0.78,0.27,-0.73,0.03,0.11,-0.34,0.14
4,5.0,0.21,-0.14,-0.06,0.08,-0.27,-0.54,-0.72,-0.15,-0.54,0.48,-0.04,-0.29,0.47
5,6.0,-0.09,0.07,-0.33,-0.10,-0.32,0.64,0.87,-0.51,-0.62,-0.57,-0.15,-0.04,0.09
6,7.0,-0.72,-0.08,0.62,0.00,0.67,-0.02,0.82,0.02,-0.66,0.02,0.10,0.04,0.07
7,8.0,0.05,0.40,0.45,-0.05,-0.23,0.06,0.74,0.08,-0.47,0.36,0.12,0.15,0.25
8,9.0,-0.14,0.69,-0.07,0.13,0.36,0.86,0.45,0.62,-0.38,-0.53,0.19,0.20,0.45
9,10.0,0.05,-0.03,0.22,-0.07,-0.18,0.08,0.82,0.40,-0.35,0.42,-0.00,0.27,-0.04

***dlPFC***

,Subs,A1,A2,A3,A4,A5,D1,D2,D3,D4,D5,Avg_Asc,Avg_Des,Overall
0,1.0,0.19,-0.84,0.05,-0.10,0.68,-0.27,-0.64,-0.59,-0.65,0.42,-0.00,-0.35,0.11
1,2.0,-0.23,0.17,0.05,0.24,-0.29,0.33,0.93,0.56,0.18,0.26,-0.01,0.45,0.31
2,3.0,-0.36,-0.52,0.34,0.17,0.89,0.07,0.67,-0.46,-0.64,0.48,0.10,0.02,0.38
3,4.0,-0.80,0.39,0.20,-0.07,0.06,0.09,1.00,-0.09,0.05,0.44,-0.04,0.30,0.32
4,5.0,-0.16,-0.12,-0.28,-0.42,-0.50,-0.98,0.76,0.21,-0.68,-0.29,-0.30,-0.20,0.37
5,6.0,0.20,-0.27,0.36,0.14,-0.11,-0.05,0.25,-0.33,-0.62,-0.35,0.06,-0.22,0.09
6,7.0,0.04,0.62,-0.21,0.15,-0.76,0.07,0.74,-0.27,0.68,0.14,-0.03,0.27,0.00
7,8.0,-0.60,-0.72,0.45,0.35,-0.36,-0.55,0.79,-0.23,0.21,-0.32,-0.18,-0.02,0.18
8,9.0,0.06,-0.28,0.14,-0.40,-0.87,-0.04,0.94,0.29,0.12,-0.76,-0.27,0.11,0.12
9,10.0,0.60,0.17,0.39,0.40,-0.02,0.72,0.85,0.31,0.40,0.47,0.31,0.55,0.23

***INS***

,Subs,A1,A2,A3,A4,A5,D1,D2,D3,D4,D5,Avg_Asc,Avg_Des,Overall
0,1.0,0.54,-0.67,0.84,-0.52,-0.59,-0.13,0.52,0.02,0.12,0.27,-0.08,0.16,0.13
1,2.0,0.38,0.58,0.77,0.65,0.70,0.42,-0.91,-0.00,0.42,0.02,0.62,-0.01,0.59
2,3.0,0.45,-0.52,0.64,-0.21,0.88,-0.07,0.89,0.26,0.27,0.70,0.25,0.41,0.32
3,4.0,0.13,0.42,0.63,0.04,-0.74,0.01,0.50,0.28,0.47,0.15,0.10,0.28,0.42
4,5.0,0.12,0.15,0.73,-0.24,0.63,-0.78,-0.14,0.27,0.80,0.26,0.28,0.08,0.19
5,6.0,0.42,-0.09,-0.31,-0.03,-0.34,-0.24,0.15,-0.19,-0.82,0.65,-0.07,-0.09,0.16
6,7.0,0.02,-0.11,0.53,0.35,-0.07,-0.39,0.34,0.25,-0.50,0.10,0.14,-0.04,0.19
7,8.0,0.19,0.33,0.93,-0.02,-0.75,0.36,-0.78,0.27,0.65,0.07,0.14,0.11,0.33
8,9.0,-0.25,-0.37,0.77,-0.53,0.62,0.41,-0.65,-0.34,0.09,-0.64,0.05,-0.23,0.17
9,10.0,0.66,-0.41,0.72,0.36,-0.82,0.35,-0.15,-0.41,0.81,0.33,0.10,0.19,0.11

***IPL***

,Subs,A1,A2,A3,A4,A5,D1,D2,D3,D4,D5,Avg_Asc,Avg_Des,Overall
0,1.0,0.25,0.19,0.39,-0.48,-0.40,0.67,0.90,-0.09,-0.11,-0.11,-0.01,0.25,0.35
1,2.0,0.64,0.28,-0.16,0.06,0.83,0.07,0.81,0.36,-0.70,0.09,0.33,0.13,-0.00
2,3.0,0.37,-0.56,0.27,-0.71,-0.32,-0.05,0.81,-0.22,-0.44,0.15,-0.19,0.05,0.45
3,4.0,-0.24,-0.45,0.65,0.25,-0.50,0.45,0.90,0.35,-0.61,-0.03,-0.06,0.21,0.35
4,5.0,0.41,0.44,0.17,0.59,0.64,-0.68,0.77,0.53,-0.07,-0.01,0.45,0.11,0.08
5,6.0,-0.04,-0.13,0.59,-0.43,-0.21,0.85,0.98,0.10,0.42,-0.05,-0.04,0.46,0.31
6,7.0,0.64,0.08,-0.76,-0.36,0.95,0.69,0.99,-0.05,-0.56,-0.28,0.11,0.16,0.43
7,8.0,0.34,0.08,0.23,-0.66,0.13,0.93,0.99,0.26,-0.51,-0.57,0.02,0.22,0.43
8,9.0,-0.08,-0.21,0.17,-0.62,0.39,0.23,0.88,-0.16,0.06,-0.83,-0.07,0.04,0.25
9,10.0,0.29,0.46,0.46,0.47,0.07,0.58,0.40,-0.37,-0.66,-0.47,0.35,-0.10,0.27

***mCC***

,Subs,A1,A2,A3,A4,A5,D1,D2,D3,D4,D5,Avg_Asc,Avg_Des,Overall
0,1.0,-0.21,0.02,-0.55,-0.21,0.01,-0.40,0.15,-0.60,-0.10,0.37,-0.19,-0.12,0.13
1,2.0,-0.09,-0.29,0.06,0.71,0.04,-0.30,-0.66,-0.14,0.31,0.21,0.09,-0.12,-0.00
2,3.0,0.27,-0.26,0.55,0.23,-0.46,0.31,0.38,-0.40,0.40,0.52,0.07,0.24,0.25
3,4.0,0.21,0.14,-0.25,0.28,-0.17,-0.57,0.89,-0.49,0.13,-0.38,0.04,-0.08,0.29
4,5.0,-0.01,-0.75,-0.23,0.12,0.13,-0.65,-0.52,0.14,0.40,-0.86,-0.15,-0.30,0.47
5,6.0,0.06,0.13,0.52,-0.09,0.26,-0.43,-0.80,0.00,0.66,0.39,0.18,-0.04,0.75
6,7.0,-0.41,0.52,-0.60,-0.11,-0.28,-0.95,-0.41,0.34,0.26,0.22,-0.18,-0.11,0.04
7,8.0,0.49,-0.25,-0.31,-0.16,0.20,-0.62,0.76,0.03,-0.28,-0.24,-0.01,-0.07,0.50
8,9.0,-0.26,-0.50,0.29,-0.15,0.11,0.61,-0.75,-0.02,-0.25,-0.44,-0.10,-0.17,0.33
9,10.0,-0.02,-0.30,-0.72,-0.17,0.10,-0.81,-0.77,0.05,0.39,-0.30,-0.22,-0.29,0.17

***Nac***

,Subs,A1,A2,A3,A4,A5,D1,D2,D3,D4,D5,Avg_Asc,Avg_Des,Overall
0,1.0,0.20,0.69,0.32,-0.13,0.42,0.39,-0.84,0.15,-0.09,0.31,0.30,-0.02,0.05
1,2.0,0.16,0.77,-0.11,0.12,0.14,0.11,0.71,0.69,0.56,0.22,0.22,0.46,0.34
2,3.0,0.09,-0.11,-0.62,0.47,0.19,-0.59,-0.68,-0.19,-0.73,0.53,0.00,-0.33,0.29
3,4.0,0.02,0.40,0.29,0.02,-0.50,-0.28,-0.73,0.06,-0.61,-0.34,0.05,-0.38,0.37
4,5.0,0.46,-0.47,-0.10,0.11,-0.09,-0.55,-0.31,-0.19,-0.44,0.35,-0.02,-0.23,0.43
5,6.0,0.46,0.03,-0.36,0.32,0.11,-0.15,0.00,-0.65,-0.86,-0.43,0.11,-0.42,0.09
6,7.0,-0.77,0.04,0.38,-0.02,0.52,-0.27,0.76,-0.02,-0.50,0.18,0.03,0.03,0.14
7,8.0,0.12,0.52,0.48,0.21,0.09,0.13,0.75,0.17,-0.81,0.15,0.28,0.08,0.31
8,9.0,-0.25,0.86,0.26,0.24,0.38,0.86,0.36,0.82,-0.21,-0.35,0.30,0.30,0.62
9,10.0,0.01,0.27,0.20,-0.19,0.31,-0.24,0.81,0.41,-0.07,0.21,0.12,0.22,-0.05

***PCC***

,Subs,A1,A2,A3,A4,A5,D1,D2,D3,D4,D5,Avg_Asc,Avg_Des,Overall
0,1.0,-0.69,-0.14,0.43,-0.21,0.78,0.71,0.79,0.05,0.23,0.75,0.03,0.51,0.11
1,2.0,-0.77,-0.42,-0.59,-0.22,0.30,-0.84,-0.18,0.28,-0.58,0.07,-0.34,-0.25,0.31
2,3.0,-0.54,-0.54,-0.36,0.26,0.88,0.89,-0.44,-0.03,-0.14,0.50,-0.06,0.16,0.39
3,4.0,0.59,-0.42,0.09,0.27,0.86,0.67,0.76,0.48,0.78,-0.73,0.28,0.39,0.57
4,5.0,-0.04,-0.17,-0.63,0.51,0.34,0.64,0.74,-0.45,-0.58,-0.31,0.00,0.01,0.15
5,6.0,0.26,-0.18,0.16,0.45,-0.10,0.86,-0.99,0.09,0.41,-0.80,0.12,-0.09,0.56
6,7.0,-0.32,0.00,0.09,0.18,0.27,-0.03,-0.71,0.34,0.67,-0.22,0.04,0.01,0.30
7,8.0,-0.70,-0.87,0.54,0.62,0.13,0.87,-0.72,0.38,0.09,0.00,-0.06,0.12,0.51
8,9.0,-0.55,-0.36,-0.76,-0.32,0.56,-0.54,-0.39,-0.10,-0.15,-0.40,-0.29,-0.32,0.23
9,10.0,-0.30,-0.14,0.55,0.50,0.82,0.66,-0.78,-0.32,0.04,-0.09,0.29,-0.10,0.26

***PCG***

,Subs,A1,A2,A3,A4,A5,D1,D2,D3,D4,D5,Avg_Asc,Avg_Des,Overall
0,1.0,-0.15,-0.54,-0.30,-0.30,0.86,-0.16,0.54,0.18,-0.07,0.66,-0.09,0.23,0.10
1,2.0,0.67,0.59,-0.55,-0.56,0.84,0.62,-0.38,0.04,-0.36,0.04,0.20,-0.01,0.19
2,3.0,-0.08,-0.49,0.46,-0.34,-0.76,-0.47,-0.86,-0.65,-0.31,0.13,-0.24,-0.43,0.44
3,4.0,0.09,0.30,-0.17,-0.62,0.77,0.44,-0.93,0.01,-0.02,0.34,0.07,-0.03,0.34
4,5.0,0.38,0.73,-0.24,-0.36,-0.99,-0.75,0.07,0.78,-0.79,-0.45,-0.10,-0.23,-0.01
5,6.0,0.04,-0.13,-0.03,-0.31,0.62,-0.01,0.47,-0.62,-0.60,0.20,0.04,-0.11,0.36
6,7.0,-0.10,0.31,-0.52,-0.37,-0.22,0.14,-0.20,0.28,0.21,0.42,-0.18,0.17,0.14
7,8.0,-0.11,-0.78,-0.50,-0.29,0.71,-0.53,-0.40,0.67,0.02,-0.33,-0.19,-0.11,0.46
8,9.0,-0.60,-0.45,-0.66,-0.65,-0.22,0.38,0.64,0.53,0.92,-0.66,-0.52,0.36,0.32
9,10.0,-0.04,0.79,-0.30,-0.18,0.93,0.95,-0.22,0.04,0.10,0.24,0.24,0.22,0.32

***Prec***

,Subs,A1,A2,A3,A4,A5,D1,D2,D3,D4,D5,Avg_Asc,Avg_Des,Overall
0,1.0,-0.04,-0.66,0.65,0.49,0.35,0.64,-0.78,-0.49,0.77,-0.02,0.16,0.02,0.14
1,2.0,-0.43,-0.17,-0.52,0.20,-0.48,-0.86,0.80,-0.75,-0.28,-0.14,-0.28,-0.25,0.35
2,3.0,0.03,-0.04,0.07,0.85,0.91,0.90,0.67,-0.65,0.64,0.72,0.36,0.46,0.39
3,4.0,-0.55,-0.06,0.74,0.39,0.78,0.14,-0.99,-0.66,-0.28,0.56,0.26,-0.25,0.42
4,5.0,-0.47,-0.63,0.59,0.60,0.90,0.83,0.06,-0.28,0.63,0.61,0.20,0.37,0.18
5,6.0,-0.18,-0.64,0.37,-0.05,0.23,0.00,0.47,-0.59,-0.48,-0.45,-0.05,-0.21,0.49
6,7.0,0.32,-0.55,0.80,0.24,0.19,-0.47,0.90,0.39,-0.68,-0.32,0.20,-0.04,0.39
7,8.0,-0.31,-0.39,0.76,0.30,0.54,0.88,-0.45,0.40,-0.58,0.63,0.18,0.18,0.53
8,9.0,0.14,0.42,-0.10,0.77,0.86,-0.61,-0.56,-0.33,0.04,-0.35,0.42,-0.36,0.38
9,10.0,-0.24,-0.41,0.61,0.34,0.58,0.60,-0.46,-0.29,-0.86,0.58,0.18,-0.09,0.25

***TP***

,Subs,A1,A2,A3,A4,A5,D1,D2,D3,D4,D5,Avg_Asc,Avg_Des,Overall
0,1.0,0.17,0.40,-0.36,-0.53,0.43,0.21,-0.14,-0.44,-0.80,-0.75,0.02,-0.38,0.37
1,2.0,0.24,0.43,0.18,0.29,-0.04,0.39,0.83,-0.02,0.47,0.75,0.22,0.48,0.20
2,3.0,-0.58,0.17,0.44,0.10,0.08,0.16,0.44,0.31,-0.92,0.43,0.04,0.08,-0.04
3,4.0,0.08,0.39,0.42,-0.26,-0.06,0.39,-0.45,0.08,0.52,0.26,0.11,0.16,0.29
4,5.0,-0.12,0.35,0.40,-0.52,-0.22,-0.40,-0.94,-0.46,-0.31,-0.59,-0.02,-0.54,0.54
5,6.0,0.09,0.13,-0.25,0.46,-0.45,0.12,0.96,-0.57,0.48,-0.32,-0.00,0.13,0.33
6,7.0,-0.52,-0.09,-0.34,0.51,0.19,-0.99,0.65,0.58,0.03,-0.08,-0.05,0.04,0.47
7,8.0,-0.60,-0.09,0.54,-0.24,-0.41,-0.10,-0.10,0.58,0.88,0.61,-0.16,0.37,0.55
8,9.0,-0.22,0.02,0.53,-0.28,-0.63,0.44,-0.76,0.51,-0.80,-0.64,-0.12,-0.25,0.58
9,10.0,-0.40,-0.65,0.25,0.20,-0.04,0.44,-0.50,-0.02,0.70,0.41,-0.13,0.21,0.40

***Put***

,Subs,A1,A2,A3,A4,A5,D1,D2,D3,D4,D5,Avg_Asc,Avg_Des,Overall
0,1.0,-0.15,-0.22,-0.59,-0.59,-0.13,0.36,-0.42,0.03,-0.70,0.34,-0.34,-0.08,0.04
1,2.0,-0.39,-0.29,-0.41,-0.03,-0.74,0.35,0.60,-0.34,-0.33,0.03,-0.37,0.06,-0.00
2,3.0,0.28,-0.02,-0.13,-0.11,0.71,0.61,0.69,0.04,-0.17,0.46,0.15,0.33,0.47
3,4.0,0.27,-0.33,-0.42,-0.13,0.38,0.33,-0.48,0.13,-0.09,-0.70,-0.05,-0.16,0.21
4,5.0,-0.08,0.79,-0.38,-0.30,-0.13,-0.84,-0.01,0.07,0.71,-0.53,-0.02,-0.12,0.36
5,6.0,0.35,0.32,-0.02,-0.38,-0.87,-0.51,-0.50,-0.42,0.78,-0.68,-0.12,-0.27,0.17
6,7.0,0.33,0.12,-0.40,0.03,0.27,-0.98,0.60,0.45,0.02,0.54,0.07,0.13,0.11
7,8.0,-0.25,-0.41,0.49,0.42,-0.50,-0.62,0.80,0.61,0.24,0.15,-0.05,0.24,0.37
8,9.0,-0.46,-0.11,-0.62,-0.35,0.21,0.64,-0.02,0.06,-0.84,-0.23,-0.27,-0.08,0.29
9,10.0,-0.49,-0.31,-0.53,-0.06,-0.21,-0.13,0.98,-0.19,-0.44,-0.51,-0.32,-0.06,-0.12

***pSTS***

,Subs,A1,A2,A3,A4,A5,D1,D2,D3,D4,D5,Avg_Asc,Avg_Des,Overall
0,1.0,0.13,0.14,-0.69,0.27,0.06,0.35,0.31,0.20,0.58,0.30,-0.02,0.35,0.13
1,2.0,-0.26,0.04,-0.02,-0.43,0.54,0.63,0.61,0.15,0.43,0.08,-0.03,0.38,-0.07
2,3.0,0.32,-0.53,0.23,0.15,-0.83,-0.28,0.52,-0.18,-0.73,0.39,-0.13,-0.06,0.33
3,4.0,-0.71,-0.28,-0.03,0.30,-0.60,0.18,0.63,0.11,0.89,-0.42,-0.26,0.28,0.12
4,5.0,0.14,0.09,-0.33,0.16,-0.03,-0.07,0.89,-0.36,0.12,-0.62,0.01,-0.01,0.08
5,6.0,-0.58,-0.09,-0.24,-0.17,-0.76,0.15,0.98,0.05,0.00,-0.65,-0.37,0.11,0.25
6,7.0,0.34,0.35,-0.28,0.29,0.34,0.21,0.82,0.17,0.69,-0.39,0.21,0.30,0.26
7,8.0,-0.17,0.17,0.41,0.24,0.19,0.09,0.65,0.11,0.20,0.10,0.17,0.23,0.38
8,9.0,0.22,-0.31,-0.04,0.52,-0.19,0.55,0.90,-0.47,-0.09,-0.59,0.04,0.06,0.09
9,10.0,0.54,0.93,0.69,0.59,0.59,0.84,0.71,0.12,0.74,0.10,0.67,0.50,-0.19

***VC***

,Subs,A1,A2,A3,A4,A5,D1,D2,D3,D4,D5,Avg_Asc,Avg_Des,Overall
0,1.0,-0.03,-0.58,0.13,-0.04,-0.78,0.89,0.09,0.37,-0.39,0.73,-0.26,0.34,0.25
1,2.0,0.08,0.85,-0.04,-0.53,-0.56,0.91,-0.38,0.70,0.28,-0.12,-0.04,0.28,0.20
2,3.0,0.75,0.76,-0.81,-0.49,0.47,-0.61,-0.85,0.54,-0.83,0.81,0.14,-0.19,0.57
3,4.0,-0.08,0.65,0.47,0.36,-0.41,0.53,-0.70,0.60,-0.15,0.55,0.20,0.17,0.45
4,5.0,0.60,-0.16,0.75,0.39,0.87,-0.31,-0.36,0.35,-0.42,0.49,0.49,-0.05,0.31
5,6.0,0.60,-0.36,0.61,0.32,-0.17,0.66,-0.65,-0.02,-0.54,-0.21,0.20,-0.15,0.41
6,7.0,-0.02,0.50,-0.16,-0.05,-0.97,0.93,-0.52,-0.11,0.27,0.22,-0.14,0.16,0.31
7,8.0,0.45,0.24,0.62,0.33,0.53,-0.83,0.48,0.12,-0.47,-0.94,0.43,-0.33,0.47
8,9.0,-0.85,-0.64,0.23,-0.42,0.65,0.62,-0.67,0.35,0.43,-0.85,-0.21,-0.02,0.30
9,10.0,0.45,0.81,0.32,0.61,0.23,0.96,0.82,0.71,0.07,0.40,0.48,0.59,0.31

***vlPFC***

,Subs,A1,A2,A3,A4,A5,D1,D2,D3,D4,D5,Avg_Asc,Avg_Des,Overall
0,1.0,0.22,-0.50,0.05,-0.18,0.13,-0.55,-0.06,-0.74,0.15,0.52,-0.06,-0.14,0.25
1,2.0,0.51,0.08,0.13,-0.10,-0.02,-0.05,0.76,-0.05,-0.11,0.39,0.12,0.19,0.30
2,3.0,0.67,-0.71,0.73,0.07,0.46,-0.71,0.37,0.70,-0.15,0.11,0.24,0.06,0.44
3,4.0,-0.51,0.20,0.41,-0.13,-0.15,0.13,0.23,0.06,0.72,0.39,-0.04,0.31,0.46
4,5.0,0.04,0.11,0.35,-0.63,0.18,-0.99,0.99,0.02,-0.15,0.37,0.01,0.05,0.14
5,6.0,0.35,-0.26,0.33,-0.45,-0.93,0.66,0.80,0.53,-0.55,-0.13,-0.19,0.26,0.20
6,7.0,0.53,0.52,0.12,-0.31,0.55,0.43,0.86,-0.09,-0.52,0.41,0.28,0.22,0.26
7,8.0,0.29,-0.58,0.33,-0.12,-0.39,0.83,0.91,0.03,-0.05,-0.42,-0.09,0.26,0.39
8,9.0,-0.00,0.07,0.29,-0.30,-0.28,0.34,0.98,-0.46,-0.32,-0.41,-0.04,0.03,0.37
9,10.0,0.65,0.25,0.64,0.29,-0.30,0.52,0.99,0.61,-0.12,0.48,0.31,0.50,0.04

***mOFC***

,Subs,A1,A2,A3,A4,A5,D1,D2,D3,D4,D5,Avg_Asc,Avg_Des,Overall
0,1.0,0.12,-0.38,0.25,-0.28,0.33,0.33,0.96,-0.04,-0.58,0.25,0.01,0.18,-0.12
1,2.0,0.07,0.25,0.39,-0.19,0.75,-0.28,-0.08,0.17,-0.64,-0.04,0.25,-0.17,0.44
2,3.0,-0.45,0.12,-0.53,0.32,0.78,0.10,0.49,0.04,0.94,-0.53,0.05,0.21,0.87
3,4.0,0.16,0.19,0.67,0.23,-0.69,0.58,0.83,0.08,0.10,0.15,0.11,0.35,0.90
4,5.0,0.42,-0.08,-0.12,0.36,0.70,0.20,0.61,-0.21,0.56,0.29,0.26,0.29,0.31
5,6.0,0.45,0.78,0.07,-0.21,0.30,0.95,-0.45,-0.46,0.30,-0.62,0.28,-0.06,0.61
6,7.0,-0.55,-0.44,-0.41,0.47,0.20,0.07,-0.68,0.48,-0.67,0.30,-0.15,-0.10,-0.27
7,8.0,0.14,-0.07,-0.78,-0.17,-0.55,0.98,-0.01,0.77,0.49,0.18,-0.29,0.48,0.74
8,9.0,-0.43,0.89,-0.67,-0.28,0.75,-0.79,0.67,0.28,0.24,-0.33,0.05,0.01,0.81
9,10.0,-0.11,-0.60,-0.37,0.48,-0.39,0.08,-0.71,0.25,0.37,-0.25,-0.20,-0.05,0.04

***mPFC***

,Subs,A1,A2,A3,A4,A5,D1,D2,D3,D4,D5,Avg_Asc,Avg_Des,Overall
0,1.0,0.33,-0.27,0.63,-0.61,-0.38,0.89,0.48,-0.01,-0.44,0.01,-0.06,0.19,0.15
1,2.0,0.51,0.53,-0.58,-0.04,-0.40,-0.86,-0.23,0.04,-0.21,-0.61,0.00,-0.37,0.03
2,3.0,0.41,-0.91,-0.44,0.22,0.07,0.79,0.30,-0.80,-0.12,0.39,-0.13,0.11,0.46
3,4.0,-0.28,-0.07,0.40,-0.10,0.32,0.93,-0.44,0.21,0.37,0.69,0.05,0.35,0.23
4,5.0,-0.48,-0.16,0.13,0.20,0.20,0.35,0.50,0.39,0.12,-0.33,-0.02,0.21,0.22
5,6.0,-0.33,-0.16,0.39,0.02,0.11,0.43,-0.52,0.23,0.24,-0.90,0.01,-0.10,-0.00
6,7.0,0.18,0.27,0.76,-0.19,0.26,0.48,0.11,0.16,0.81,-0.13,0.26,0.29,0.14
7,8.0,-0.15,0.02,0.73,-0.17,-0.23,0.95,0.41,0.77,0.69,0.36,0.04,0.64,0.62
8,9.0,0.25,-0.63,0.08,-0.66,-0.06,-0.71,-0.86,-0.56,-0.14,-0.83,-0.20,-0.62,-0.04
9,10.0,0.63,0.58,0.89,0.67,-0.16,0.83,-0.90,0.22,0.58,0.56,0.52,0.26,-0.16

***lOFC***

,Subs,A1,A2,A3,A4,A5,D1,D2,D3,D4,D5,Avg_Asc,Avg_Des,Overall
0,1.0,0.51,-0.59,-0.45,-0.42,-0.20,0.59,0.76,0.37,-0.64,-0.03,-0.23,0.21,0.46
1,2.0,0.53,-0.18,-0.45,-0.31,-0.59,-0.39,0.03,0.75,-0.86,0.14,-0.20,-0.07,0.15
2,3.0,-0.49,0.35,0.08,0.50,-0.24,-0.03,-0.99,0.21,0.09,-0.26,0.04,-0.20,0.31
3,4.0,-0.37,0.17,0.33,0.47,0.01,0.18,-0.11,-0.03,0.37,-0.00,0.12,0.08,0.67
4,5.0,-0.61,-0.42,-0.82,0.26,0.24,-0.28,-0.95,-0.05,0.10,0.67,-0.27,-0.10,0.20
5,6.0,0.52,-0.03,-0.11,0.01,-0.24,0.50,-0.32,-0.47,-0.31,0.16,0.03,-0.09,0.02
6,7.0,0.06,-0.23,-0.34,0.57,0.38,0.62,-0.22,-0.24,0.02,-0.18,0.09,0.00,0.09
7,8.0,-0.01,0.36,0.32,0.26,-0.62,0.57,-0.03,-0.03,-0.21,-0.30,0.06,-0.00,0.63
8,9.0,0.19,0.86,-0.66,-0.35,0.37,0.38,0.31,-0.37,0.49,-0.85,0.08,-0.01,0.44
9,10.0,0.37,0.24,0.01,0.64,-0.02,-0.56,-0.99,0.41,0.25,-0.11,0.25,-0.20,-0.17

***Average across test subjects Correlation Coefficient between predicted and actual average BOLD values of each Ascent and Descent for ROIs***

,ROIs,A1,A2,A3,A4,A5,D1,D2,D3,D4,D5,Avg_Asc,Avg_Des,Overall
0,dmPFC,0.12,-0.39,-0.09,0.07,-0.18,-0.01,-0.33,-0.19,0.07,0.00,-0.09,-0.09,0.28
1,ACC,-0.06,-0.17,-0.41,0.13,0.24,0.17,-0.17,0.12,-0.04,-0.30,-0.05,-0.04,0.34
2,AMY,-0.17,-0.12,0.25,0.08,-0.07,0.19,-0.10,-0.07,-0.18,-0.05,-0.01,-0.04,0.29
3,Cau,-0.02,0.24,0.00,0.07,0.08,-0.02,0.15,0.14,-0.36,0.16,0.07,0.01,0.23
4,dlPFC,-0.11,-0.14,0.15,0.05,-0.13,-0.06,0.63,-0.06,-0.09,0.05,-0.04,0.09,0.21
5,INS,0.27,-0.07,0.63,-0.01,-0.05,-0.01,-0.02,0.04,0.23,0.19,0.15,0.09,0.26
6,IPL,0.26,0.02,0.20,-0.19,0.16,0.38,0.84,0.07,-0.32,-0.21,0.09,0.15,0.29
7,mCC,0.00,-0.15,-0.12,0.05,-0.01,-0.38,-0.17,-0.11,0.19,-0.05,-0.05,-0.10,0.29
8,Nac,0.05,0.30,0.07,0.12,0.16,-0.06,0.08,0.12,-0.38,0.08,0.14,-0.03,0.26
9,PCC,-0.31,-0.32,-0.05,0.20,0.48,0.39,-0.19,0.07,0.08,-0.12,0.00,0.05,0.34
10,PCG,0.01,0.03,-0.28,-0.40,0.25,0.06,-0.13,0.13,-0.09,0.06,-0.08,0.01,0.27
11,Prec,-0.17,-0.31,0.40,0.41,0.49,0.21,-0.03,-0.33,-0.11,0.18,0.16,-0.02,0.35
12,TP,-0.19,0.11,0.18,-0.03,-0.11,0.07,-0.00,0.06,0.03,0.01,-0.01,0.03,0.37
13,Put,-0.06,-0.05,-0.30,-0.15,-0.10,-0.08,0.22,0.04,-0.08,-0.11,-0.13,-0.00,0.19
14,pSTS,-0.00,0.05,-0.03,0.19,-0.07,0.26,0.70,-0.01,0.28,-0.17,0.03,0.21,0.14
15,VC,0.19,0.21,0.21,0.05,-0.01,0.37,-0.27,0.36,-0.18,0.11,0.13,0.08,0.36
16,vlPFC,0.27,-0.08,0.34,-0.19,-0.08,0.06,0.68,0.06,-0.11,0.17,0.05,0.17,0.28
17,mOFC,-0.02,0.07,-0.15,0.07,0.22,0.22,0.16,0.14,0.11,-0.06,0.04,0.11,0.43
18,mPFC,0.11,-0.08,0.30,-0.07,-0.03,0.41,-0.12,0.07,0.19,-0.08,0.05,0.09,0.17
19,lOFC,0.07,0.05,-0.21,0.16,-0.09,0.16,-0.25,0.05,-0.07,-0.08,-0.00,-0.04,0.28

#### Model-5

We will start off by building a LSTM Model:
- `Number of LSTM Layers = 2`
- `Number of Dense Layers = 2`
- `hidden units = 32`
- `dropout = 0.3`

In [51]:
HIDDEN_UNITS = 32
DROPOUT_PROB = 0.3
LSTM_LAYERS = 2
DENSE_LAYERS = 2

In [52]:
sample_model = avg_bold_model()
sample_model.build(input_shape=batch_x.shape)
sample_model.summary()

Model: "sequential_84"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 lstm_105 (LSTM)             (10, 188, 32)             4352

 lstm_106 (LSTM)             (10, 188, 32)             8320

 dropout_84 (Dropout)        (10, 188, 32)             0

 time_distributed_84 (TimeDi  (10, 188, 32)            1056
 stributed)

 time_distributed_85 (TimeDi  (10, 188, 1)             33
 stributed)

=================================================================
Total params: 13,761
Trainable params: 13,761
Non-trainable params: 0
_________________________________________________________________

In [53]:
models = [avg_bold_model() for _ in range(len(ROI_names))]

In [54]:
for i in range(len(ROI_names)):
  models[i].compile(optimizer = 'adam', loss = 'mean_squared_error')

In [55]:
for i in range(len(ROI_names)):
  models[i].load_weights(f"./Models/YOUNG/LSTM/AVG-BOLD/{ROI_names[i]}/model_weights-{LSTM_LAYERS}L-{HIDDEN_UNITS}H-{DENSE_LAYERS}D-{int(DROPOUT_PROB*10)}Drop-{LOOK_AHEAD}Ahead-{ROI_names[i]}")

In [ ]:
preds = [models[i].predict(next(test_data_generator[i].generate())[0]) for i in range(len(ROI_names))]

In [57]:
generate_each_sub_n_overall_pred_corr(preds)

***Each Test Subject's Correlation Coefficient between predicted and actual average BOLD values of each Ascent and Descent for ROIs***


***dmPFC***

,Subs,A1,A2,A3,A4,A5,D1,D2,D3,D4,D5,Avg_Asc,Avg_Des,Overall
0,1.0,0.12,-0.21,0.49,0.07,-0.05,0.02,0.35,0.05,0.32,0.41,0.08,0.23,0.34
1,2.0,0.51,-0.35,-0.42,0.16,-0.18,-0.63,-0.40,0.05,0.66,0.16,-0.06,-0.03,0.60
2,3.0,0.56,-0.55,-0.57,0.12,0.12,-0.46,-0.57,0.10,-0.75,0.16,-0.06,-0.30,0.30
3,4.0,-0.42,-0.18,-0.38,-0.00,-0.20,-0.20,-0.65,-0.27,0.42,-0.36,-0.24,-0.21,0.34
4,5.0,-0.36,-0.83,-0.29,0.39,-0.12,0.15,0.62,-0.00,0.05,-0.89,-0.24,-0.01,-0.09
5,6.0,-0.36,-0.51,0.25,-0.21,-0.18,-0.72,-0.38,-0.61,0.62,-0.08,-0.20,-0.23,0.49
6,7.0,0.74,-0.48,0.34,0.03,0.23,0.79,-0.93,-0.79,-0.04,0.42,0.17,-0.11,0.20
7,8.0,0.43,-0.50,-0.13,0.10,0.17,0.27,-0.34,0.08,0.01,0.18,0.01,0.04,0.43
8,9.0,0.25,0.03,0.00,-0.03,-0.34,0.04,-0.49,0.20,-0.68,0.33,-0.02,-0.12,0.43
9,10.0,0.55,-0.63,0.46,0.35,-0.73,0.76,-0.60,-0.43,-0.05,-0.38,0.00,-0.14,0.10

***ACC***

,Subs,A1,A2,A3,A4,A5,D1,D2,D3,D4,D5,Avg_Asc,Avg_Des,Overall
0,1.0,0.16,-0.02,-0.52,-0.01,-0.06,-0.07,-0.33,0.15,-0.19,-0.71,-0.09,-0.23,0.44
1,2.0,-0.23,-0.00,-0.44,-0.07,0.08,-0.66,-0.49,0.35,0.00,-0.16,-0.13,-0.19,0.57
2,3.0,0.34,-0.55,-0.51,0.01,0.48,0.60,0.76,-0.44,-0.49,0.50,-0.05,0.19,0.22
3,4.0,-0.08,-0.13,-0.10,-0.04,0.56,0.39,0.34,0.40,-0.42,0.02,0.04,0.15,0.10
4,5.0,0.07,0.46,-0.82,0.56,0.60,0.59,-0.90,0.68,-0.37,-0.75,0.17,-0.15,0.01
5,6.0,-0.17,-0.65,-0.14,-0.02,0.21,0.89,0.08,0.17,0.53,-0.65,-0.15,0.20,0.43
6,7.0,-0.13,-0.44,-0.55,0.23,-0.29,0.42,-0.03,-0.05,-0.36,-0.45,-0.24,-0.09,0.17
7,8.0,0.39,-0.54,-0.11,-0.90,0.03,0.24,-0.32,0.40,0.50,-0.10,-0.23,0.14,0.68
8,9.0,-0.23,0.66,-0.33,0.59,-0.03,-0.69,-0.81,-0.34,0.32,-0.27,0.13,-0.36,0.45
9,10.0,-0.49,-0.45,-0.31,0.34,0.48,-0.21,-0.44,0.03,0.03,-0.43,-0.09,-0.20,0.48

***AMY***

,Subs,A1,A2,A3,A4,A5,D1,D2,D3,D4,D5,Avg_Asc,Avg_Des,Overall
0,1.0,-0.51,-0.48,0.37,-0.13,-0.02,0.52,0.35,0.14,0.07,0.40,-0.15,0.30,0.21
1,2.0,-0.35,0.35,-0.03,0.24,-0.16,-0.59,-0.89,-0.14,-0.53,-0.09,0.01,-0.45,0.49
2,3.0,0.01,-0.28,0.60,-0.09,0.29,0.45,0.23,-0.27,-0.48,-0.48,0.11,-0.11,0.57
3,4.0,-0.45,0.04,-0.35,0.29,-0.67,-0.01,-0.68,0.41,0.34,-0.39,-0.23,-0.07,0.18
4,5.0,0.31,-0.57,0.39,0.30,0.39,0.78,-0.50,0.00,0.40,0.52,0.16,0.24,-0.01
5,6.0,0.12,-0.42,0.13,-0.57,-0.51,0.54,-0.06,0.13,-0.57,0.16,-0.25,0.04,0.60
6,7.0,0.04,-0.34,0.36,0.08,0.35,0.78,0.20,-0.47,-0.46,-0.39,0.10,-0.07,0.23
7,8.0,-0.64,0.09,0.35,0.19,-0.79,-0.32,0.67,-0.32,-0.68,0.59,-0.16,-0.01,0.71
8,9.0,0.03,0.31,0.70,0.16,-0.30,-0.81,-0.42,-0.23,0.04,-0.69,0.18,-0.42,0.11
9,10.0,-0.15,-0.17,0.21,0.09,0.56,0.09,-0.05,0.07,-0.77,-0.33,0.11,-0.20,0.16

***Cau***

,Subs,A1,A2,A3,A4,A5,D1,D2,D3,D4,D5,Avg_Asc,Avg_Des,Overall
0,1.0,0.11,0.51,-0.00,0.01,0.46,0.17,-0.85,0.11,0.01,0.47,0.22,-0.02,0.14
1,2.0,0.45,0.65,-0.32,0.23,0.02,-0.12,0.51,0.59,0.69,0.27,0.21,0.39,0.62
2,3.0,-0.28,-0.23,-0.73,0.30,0.82,-0.88,-0.43,-0.11,-0.56,0.61,-0.02,-0.27,0.32
3,4.0,0.11,0.47,0.36,0.11,-0.54,-0.56,-0.78,0.27,-0.71,-0.06,0.10,-0.37,0.15
4,5.0,0.18,-0.16,-0.09,0.03,-0.29,-0.56,-0.73,-0.14,-0.53,0.47,-0.07,-0.30,0.37
5,6.0,-0.12,-0.07,-0.39,-0.12,-0.36,0.62,0.87,-0.52,-0.62,-0.66,-0.21,-0.06,0.10
6,7.0,-0.72,-0.10,0.61,-0.06,0.65,-0.01,0.83,0.02,-0.67,0.00,0.08,0.03,-0.02
7,8.0,0.10,0.38,0.41,-0.07,-0.25,0.05,0.70,-0.10,-0.47,0.34,0.11,0.10,0.26
8,9.0,-0.13,0.67,-0.06,0.10,0.37,0.87,0.39,0.59,-0.37,-0.53,0.19,0.19,0.63
9,10.0,0.00,-0.16,0.33,-0.08,-0.19,0.07,0.81,0.43,-0.37,0.35,-0.02,0.26,0.10

***dlPFC***

,Subs,A1,A2,A3,A4,A5,D1,D2,D3,D4,D5,Avg_Asc,Avg_Des,Overall
0,1.0,0.17,-0.80,0.11,-0.12,0.74,-0.30,-0.65,-0.64,-0.64,0.40,0.02,-0.37,0.22
1,2.0,-0.25,0.13,0.16,0.23,-0.28,0.30,0.90,0.44,0.15,0.28,-0.00,0.41,0.36
2,3.0,-0.23,-0.78,0.37,0.15,0.88,-0.06,0.67,-0.33,-0.71,0.51,0.08,0.02,0.27
3,4.0,-0.81,0.28,0.19,-0.12,0.01,0.01,1.00,-0.05,0.06,0.44,-0.09,0.29,0.10
4,5.0,-0.13,-0.04,-0.28,-0.41,-0.48,-0.98,0.73,0.15,-0.72,-0.31,-0.27,-0.23,0.16
5,6.0,0.22,-0.18,0.38,0.05,-0.18,-0.05,-0.26,-0.25,-0.63,-0.30,0.06,-0.30,0.07
6,7.0,0.05,0.62,-0.22,0.08,-0.75,0.09,0.73,-0.37,0.71,0.14,-0.04,0.26,0.18
7,8.0,-0.57,-0.89,0.50,0.33,-0.36,-0.58,0.76,-0.18,0.23,-0.34,-0.20,-0.02,-0.03
8,9.0,0.07,-0.25,0.26,-0.42,-0.86,-0.05,-0.32,0.21,0.10,-0.78,-0.24,-0.17,0.22
9,10.0,0.62,0.17,0.40,0.39,-0.10,0.72,0.80,0.27,0.39,0.48,0.30,0.53,0.45

***INS***

,Subs,A1,A2,A3,A4,A5,D1,D2,D3,D4,D5,Avg_Asc,Avg_Des,Overall
0,1.0,0.51,-0.65,0.84,-0.34,-0.59,-0.15,0.73,-0.06,0.05,0.28,-0.05,0.17,0.35
1,2.0,0.42,0.58,0.76,0.64,0.70,0.36,-0.92,0.03,0.43,0.01,0.62,-0.02,0.81
2,3.0,0.53,-0.61,0.62,-0.05,0.88,-0.10,0.96,0.37,0.51,0.69,0.27,0.49,0.55
3,4.0,0.17,0.40,0.66,0.12,-0.74,-0.06,0.85,0.28,0.43,0.09,0.12,0.32,0.50
4,5.0,0.01,0.20,0.67,-0.19,0.59,-0.78,-0.14,0.25,0.81,0.27,0.26,0.08,-0.12
5,6.0,0.49,-0.07,-0.32,-0.02,-0.30,-0.24,-0.11,-0.15,-0.82,0.69,-0.04,-0.13,0.38
6,7.0,0.10,-0.14,0.50,0.36,-0.15,-0.41,0.31,0.23,-0.49,0.11,0.13,-0.05,-0.01
7,8.0,0.35,0.30,0.93,-0.03,-0.75,0.31,-0.79,0.31,0.62,0.09,0.16,0.11,0.48
8,9.0,-0.26,-0.38,0.77,-0.37,0.61,0.36,-0.88,-0.37,0.04,-0.61,0.07,-0.29,-0.08
9,10.0,0.67,-0.39,0.73,0.41,-0.82,0.36,-0.14,-0.32,0.79,0.32,0.12,0.20,0.28

***IPL***

,Subs,A1,A2,A3,A4,A5,D1,D2,D3,D4,D5,Avg_Asc,Avg_Des,Overall
0,1.0,0.20,0.17,0.37,-0.14,-0.59,0.69,0.90,-0.14,0.02,-0.13,0.00,0.27,0.45
1,2.0,0.64,0.30,-0.25,0.05,0.82,0.16,0.80,0.52,-0.71,0.14,0.31,0.18,0.14
2,3.0,0.67,-0.66,0.22,-0.55,-0.25,-0.03,0.82,-0.01,-0.18,0.17,-0.11,0.15,0.51
3,4.0,-0.22,-0.45,0.65,0.25,-0.76,0.49,0.87,0.37,-0.62,-0.06,-0.11,0.21,0.50
4,5.0,0.47,0.44,0.11,0.62,0.65,-0.58,0.78,0.60,0.05,0.09,0.46,0.19,0.31
5,6.0,-0.04,-0.13,0.49,-0.50,-0.20,0.88,0.98,0.21,0.50,-0.03,-0.08,0.51,0.34
6,7.0,0.66,0.08,-0.75,-0.33,0.94,0.72,0.98,-0.05,-0.63,-0.28,0.12,0.15,0.64
7,8.0,0.43,-0.26,0.25,-0.62,0.06,0.92,0.99,0.51,-0.63,-0.58,-0.03,0.24,0.56
8,9.0,-0.09,-0.16,0.14,-0.55,0.28,0.25,0.87,-0.10,0.01,-0.86,-0.08,0.03,0.35
9,10.0,0.22,0.51,0.38,0.53,0.07,0.66,0.40,-0.13,-0.66,-0.39,0.34,-0.02,0.32

***mCC***

,Subs,A1,A2,A3,A4,A5,D1,D2,D3,D4,D5,Avg_Asc,Avg_Des,Overall
0,1.0,-0.21,-0.01,-0.55,-0.18,0.00,-0.40,0.18,-0.59,-0.09,0.34,-0.19,-0.11,0.26
1,2.0,-0.11,-0.31,0.06,0.71,0.03,-0.31,-0.67,-0.14,0.31,0.22,0.08,-0.12,0.18
2,3.0,0.27,-0.28,0.55,0.24,-0.46,0.29,0.44,-0.39,0.41,0.52,0.06,0.25,0.49
3,4.0,0.19,0.13,-0.26,0.27,-0.15,-0.54,0.92,-0.49,0.13,-0.43,0.04,-0.08,0.17
4,5.0,-0.03,-0.76,-0.22,0.13,0.12,-0.64,-0.56,0.13,0.40,-0.86,-0.15,-0.31,0.38
5,6.0,0.06,0.13,0.53,-0.10,0.25,-0.43,-0.78,0.01,0.65,0.39,0.17,-0.03,0.88
6,7.0,-0.42,0.50,-0.60,-0.12,-0.29,-0.94,-0.42,0.34,0.23,0.23,-0.19,-0.11,0.03
7,8.0,0.47,-0.24,-0.31,-0.18,0.18,-0.64,0.82,0.03,-0.27,-0.25,-0.02,-0.06,0.55
8,9.0,-0.26,-0.54,0.31,-0.14,0.11,0.57,-0.75,-0.02,-0.27,-0.44,-0.10,-0.18,0.36
9,10.0,-0.02,-0.31,-0.72,-0.16,0.11,-0.81,-0.79,0.05,0.40,-0.30,-0.22,-0.29,0.26

***Nac***

,Subs,A1,A2,A3,A4,A5,D1,D2,D3,D4,D5,Avg_Asc,Avg_Des,Overall
0,1.0,0.18,0.67,0.31,-0.19,0.43,0.39,-0.84,0.12,-0.09,0.30,0.28,-0.02,0.22
1,2.0,0.14,0.76,-0.12,0.14,0.13,0.09,0.65,0.69,0.54,0.21,0.21,0.44,0.49
2,3.0,0.06,-0.13,-0.61,0.36,0.21,-0.63,-0.68,-0.21,-0.76,0.50,-0.02,-0.36,0.27
3,4.0,0.03,0.40,0.28,0.01,-0.52,-0.30,-0.72,0.06,-0.63,-0.37,0.04,-0.39,0.45
4,5.0,0.49,-0.48,-0.15,0.07,-0.11,-0.56,-0.34,-0.22,-0.43,0.34,-0.04,-0.24,0.25
5,6.0,0.43,-0.00,-0.37,0.31,0.12,-0.15,0.01,-0.66,-0.86,-0.46,0.10,-0.42,0.12
6,7.0,-0.77,0.03,0.38,-0.07,0.50,-0.27,0.77,-0.03,-0.49,0.16,0.01,0.03,0.03
7,8.0,0.10,0.51,0.49,0.22,0.10,0.07,0.81,0.15,-0.81,0.14,0.28,0.07,0.32
8,9.0,-0.31,0.86,0.26,0.18,0.42,0.88,0.33,0.81,-0.22,-0.39,0.28,0.28,0.79
9,10.0,-0.03,0.24,0.23,-0.19,0.33,-0.24,0.80,0.39,-0.08,0.17,0.12,0.21,0.02

***PCC***

,Subs,A1,A2,A3,A4,A5,D1,D2,D3,D4,D5,Avg_Asc,Avg_Des,Overall
0,1.0,-0.71,-0.11,0.42,-0.14,0.79,0.68,0.79,0.06,0.23,0.74,0.05,0.50,0.22
1,2.0,-0.80,-0.42,-0.59,-0.22,0.29,-0.83,-0.16,0.24,-0.59,0.04,-0.35,-0.26,0.43
2,3.0,-0.35,-0.52,-0.36,0.33,0.88,0.89,-0.40,0.15,-0.13,0.52,-0.00,0.21,0.50
3,4.0,0.59,-0.46,0.06,0.25,0.87,0.68,0.74,0.47,0.77,-0.69,0.26,0.39,0.25
4,5.0,-0.08,-0.20,-0.65,0.50,0.33,0.61,0.21,-0.47,-0.58,-0.27,-0.02,-0.10,-0.07
5,6.0,0.23,-0.17,0.13,0.43,-0.10,0.85,-0.99,0.16,0.42,-0.80,0.10,-0.07,0.63
6,7.0,-0.31,-0.03,0.06,0.15,0.27,-0.02,-0.72,0.33,0.66,-0.22,0.03,0.01,0.19
7,8.0,-0.67,-0.87,0.50,0.62,0.14,0.87,-0.72,0.39,0.08,-0.03,-0.06,0.12,0.56
8,9.0,-0.55,-0.34,-0.76,-0.30,0.54,-0.54,-0.40,0.00,-0.20,-0.35,-0.28,-0.30,0.04
9,10.0,-0.32,-0.15,0.53,0.49,0.83,0.66,-0.78,-0.29,0.03,-0.09,0.28,-0.09,0.43

***PCG***

,Subs,A1,A2,A3,A4,A5,D1,D2,D3,D4,D5,Avg_Asc,Avg_Des,Overall
0,1.0,-0.22,-0.54,-0.44,-0.12,0.86,-0.23,0.50,0.09,-0.06,0.70,-0.09,0.20,0.36
1,2.0,0.62,0.56,-0.51,-0.56,0.85,0.47,-0.26,-0.02,-0.39,0.13,0.19,-0.01,0.31
2,3.0,0.01,-0.61,0.52,-0.38,-0.77,-0.47,-0.79,-0.58,-0.35,0.22,-0.25,-0.39,0.20
3,4.0,0.08,0.27,-0.18,-0.67,0.74,0.41,-0.96,-0.12,-0.02,0.28,0.05,-0.08,0.00
4,5.0,0.42,0.72,-0.29,-0.42,-0.99,-0.72,0.13,0.71,-0.80,-0.48,-0.11,-0.23,-0.01
5,6.0,0.11,-0.12,-0.02,-0.31,0.57,0.02,0.49,-0.20,-0.63,0.32,0.05,0.00,0.50
6,7.0,-0.07,0.29,-0.77,-0.33,-0.19,0.07,-0.14,0.10,0.23,0.45,-0.21,0.14,0.20
7,8.0,-0.01,-0.80,-0.61,-0.33,0.68,-0.53,-0.40,0.66,-0.02,-0.31,-0.21,-0.12,0.18
8,9.0,-0.58,-0.50,-0.65,-0.77,-0.19,0.26,0.29,0.37,0.88,-0.60,-0.54,0.24,0.44
9,10.0,0.01,0.78,-0.45,-0.23,0.93,0.96,-0.13,0.05,0.08,0.27,0.21,0.25,0.54

***Prec***

,Subs,A1,A2,A3,A4,A5,D1,D2,D3,D4,D5,Avg_Asc,Avg_Des,Overall
0,1.0,-0.04,-0.72,0.65,0.46,0.36,0.64,-0.74,-0.44,0.73,-0.00,0.14,0.04,0.22
1,2.0,-0.39,-0.10,-0.50,0.19,-0.50,-0.88,0.70,-0.77,-0.27,-0.20,-0.26,-0.28,0.49
2,3.0,0.11,0.02,0.07,0.87,0.92,0.91,0.66,-0.62,0.59,0.72,0.40,0.45,0.48
3,4.0,-0.38,-0.11,0.77,0.38,0.74,0.20,-0.98,-0.63,-0.26,0.52,0.28,-0.23,0.31
4,5.0,-0.46,-0.66,0.62,0.59,0.88,0.81,0.03,-0.28,0.62,0.61,0.19,0.36,0.09
5,6.0,-0.16,-0.62,0.39,-0.07,0.16,0.03,0.40,-0.56,-0.45,-0.43,-0.06,-0.20,0.59
6,7.0,0.41,-0.57,0.80,0.15,0.19,-0.43,0.42,0.38,-0.65,-0.45,0.20,-0.15,0.39
7,8.0,-0.32,-0.38,0.76,0.29,0.46,0.89,-0.64,0.36,-0.56,0.59,0.16,0.13,0.61
8,9.0,0.26,0.32,-0.08,0.72,0.85,-0.62,-0.89,-0.28,0.04,-0.76,0.41,-0.50,0.25
9,10.0,-0.12,-0.48,0.64,0.35,0.55,0.63,-0.55,-0.26,-0.84,0.56,0.19,-0.09,0.40

***TP***

,Subs,A1,A2,A3,A4,A5,D1,D2,D3,D4,D5,Avg_Asc,Avg_Des,Overall
0,1.0,0.14,0.35,-0.35,-0.43,0.42,0.26,-0.26,-0.31,-0.78,-0.78,0.03,-0.37,0.69
1,2.0,0.19,0.42,0.12,0.24,-0.03,0.40,0.87,0.01,0.40,0.59,0.19,0.45,0.51
2,3.0,-0.48,0.18,0.40,0.12,0.04,0.13,0.32,0.33,-0.91,0.66,0.05,0.11,0.67
3,4.0,0.06,0.37,0.64,-0.30,-0.05,0.47,-0.45,0.38,0.48,0.22,0.14,0.22,0.38
4,5.0,0.05,0.25,0.40,-0.46,-0.24,-0.45,-0.89,-0.45,-0.29,-0.84,-0.00,-0.58,0.78
5,6.0,0.16,0.06,-0.29,0.41,-0.62,0.18,0.83,-0.59,0.46,-0.45,-0.06,0.09,0.43
6,7.0,-0.56,-0.06,-0.35,0.49,0.17,-0.97,0.65,0.57,-0.21,-0.04,-0.06,0.00,0.27
7,8.0,-0.50,-0.12,0.56,-0.41,-0.57,0.03,0.02,0.62,0.87,0.68,-0.21,0.44,0.72
8,9.0,-0.28,-0.07,0.46,-0.38,-0.68,0.45,-0.87,0.63,-0.74,-0.53,-0.19,-0.21,0.73
9,10.0,-0.51,-0.51,0.44,0.22,-0.12,0.42,0.27,0.04,0.70,0.66,-0.10,0.42,0.66

***Put***

,Subs,A1,A2,A3,A4,A5,D1,D2,D3,D4,D5,Avg_Asc,Avg_Des,Overall
0,1.0,-0.15,-0.20,-0.56,-0.68,-0.14,0.35,-0.43,-0.02,-0.69,0.28,-0.35,-0.10,0.31
1,2.0,-0.45,-0.32,-0.22,-0.05,-0.79,0.35,0.55,-0.36,-0.32,-0.01,-0.37,0.04,0.04
2,3.0,0.44,-0.20,-0.03,-0.12,0.67,0.64,0.68,0.09,-0.24,0.49,0.15,0.33,0.62
3,4.0,0.30,-0.35,-0.38,-0.13,0.39,0.34,-0.47,0.09,-0.09,-0.72,-0.03,-0.17,0.09
4,5.0,-0.01,0.79,-0.38,-0.32,-0.11,-0.87,-0.02,0.03,0.71,-0.55,-0.01,-0.14,0.27
5,6.0,0.34,0.46,0.02,-0.41,-0.86,-0.54,-0.84,-0.48,0.77,-0.80,-0.09,-0.38,0.25
6,7.0,0.34,0.07,-0.43,-0.05,0.23,-0.97,0.57,0.30,0.02,0.55,0.03,0.09,0.11
7,8.0,-0.14,-0.49,0.58,0.46,-0.46,-0.65,0.86,0.55,0.23,0.17,-0.01,0.23,0.45
8,9.0,-0.51,-0.10,-0.51,-0.43,0.11,0.62,-0.28,0.02,-0.87,-0.26,-0.29,-0.15,0.32
9,10.0,-0.39,-0.32,-0.73,-0.07,-0.22,-0.15,0.98,-0.17,-0.44,-0.52,-0.35,-0.06,-0.10

***pSTS***

,Subs,A1,A2,A3,A4,A5,D1,D2,D3,D4,D5,Avg_Asc,Avg_Des,Overall
0,1.0,0.07,0.12,-0.82,-0.03,0.07,0.36,0.31,0.29,0.39,0.26,-0.12,0.32,0.49
1,2.0,-0.26,-0.01,-0.08,-0.50,0.52,0.60,0.63,0.14,0.40,-0.05,-0.07,0.34,0.41
2,3.0,0.67,-0.74,-0.10,0.13,-0.84,-0.32,0.52,-0.12,-0.56,0.44,-0.18,-0.01,0.67
3,4.0,-0.72,-0.37,-0.13,0.27,-0.64,0.19,0.63,0.12,0.62,-0.43,-0.32,0.23,0.39
4,5.0,0.04,0.17,-0.43,0.09,0.04,-0.09,0.88,-0.27,-0.17,-0.57,-0.02,-0.04,0.25
5,6.0,-0.58,-0.07,-0.21,-0.08,-0.77,0.16,0.99,-0.21,-0.24,-0.60,-0.34,0.02,0.63
6,7.0,0.19,0.33,-0.37,0.23,0.32,0.21,0.81,0.26,0.67,-0.37,0.14,0.32,0.19
7,8.0,-0.05,-0.14,0.46,0.24,0.21,0.07,0.64,0.11,-0.19,0.05,0.14,0.14,0.70
8,9.0,0.40,-0.26,-0.09,0.34,-0.22,0.53,0.87,-0.40,-0.16,-0.61,0.03,0.05,0.22
9,10.0,0.49,0.93,0.71,0.64,0.53,0.85,0.71,0.10,0.68,0.06,0.66,0.48,-0.00

***VC***

,Subs,A1,A2,A3,A4,A5,D1,D2,D3,D4,D5,Avg_Asc,Avg_Des,Overall
0,1.0,0.00,-0.59,0.06,-0.05,-0.78,0.89,0.35,0.39,-0.40,0.74,-0.27,0.39,0.38
1,2.0,0.08,0.85,-0.05,-0.54,-0.58,0.92,-0.32,0.69,0.34,-0.13,-0.05,0.30,0.43
2,3.0,0.71,0.77,-0.80,-0.53,0.47,-0.63,-0.87,0.46,-0.87,0.77,0.12,-0.23,0.48
3,4.0,-0.07,0.65,0.44,0.38,-0.41,0.52,-0.67,0.61,-0.14,0.61,0.20,0.19,0.62
4,5.0,0.61,-0.15,0.76,0.40,0.87,-0.31,-0.25,0.34,-0.38,0.51,0.50,-0.02,0.52
5,6.0,0.60,-0.36,0.60,0.31,-0.15,0.66,-0.62,-0.07,-0.50,-0.23,0.20,-0.15,0.30
6,7.0,-0.02,0.49,-0.14,-0.05,-0.96,0.93,-0.47,-0.11,0.33,0.20,-0.14,0.18,0.40
7,8.0,0.39,0.52,0.65,0.33,0.51,-0.85,0.56,0.08,-0.34,-0.94,0.48,-0.30,0.53
8,9.0,-0.87,-0.57,0.22,-0.40,0.67,0.61,-0.60,0.34,0.57,-0.87,-0.19,0.01,0.37
9,10.0,0.48,0.82,0.28,0.61,0.24,0.96,0.83,0.70,0.20,0.35,0.49,0.61,0.42

***vlPFC***

,Subs,A1,A2,A3,A4,A5,D1,D2,D3,D4,D5,Avg_Asc,Avg_Des,Overall
0,1.0,0.19,-0.53,0.07,-0.45,0.08,-0.45,-0.02,-0.69,0.07,0.60,-0.13,-0.10,0.29
1,2.0,0.54,0.10,0.08,-0.13,-0.01,0.09,0.77,-0.01,-0.19,0.38,0.12,0.21,0.21
2,3.0,0.54,-0.57,0.71,-0.29,0.36,-0.77,0.39,0.56,-0.42,0.21,0.15,-0.01,0.50
3,4.0,-0.59,0.25,0.41,-0.07,-0.06,0.17,0.22,0.05,0.75,0.39,-0.01,0.32,0.34
4,5.0,0.17,0.03,0.30,-0.60,0.19,-0.99,0.99,0.01,-0.17,0.36,0.02,0.04,0.24
5,6.0,0.28,-0.37,0.37,-0.46,-0.93,0.65,0.81,0.54,-0.53,-0.22,-0.22,0.25,0.34
6,7.0,0.51,0.54,0.15,-0.40,0.60,0.43,0.86,-0.09,-0.58,0.43,0.28,0.21,0.27
7,8.0,-0.25,-0.23,0.29,-0.19,-0.43,0.87,0.91,-0.10,0.05,-0.43,-0.16,0.26,0.50
8,9.0,-0.14,-0.03,0.26,-0.35,-0.10,0.43,0.97,-0.50,-0.23,-0.43,-0.07,0.05,0.45
9,10.0,0.69,0.26,0.64,0.28,-0.24,0.53,0.99,0.64,-0.22,0.54,0.33,0.50,0.15

***mOFC***

,Subs,A1,A2,A3,A4,A5,D1,D2,D3,D4,D5,Avg_Asc,Avg_Des,Overall
0,1.0,0.08,-0.38,0.13,-0.18,0.26,0.30,0.95,-0.06,-0.57,0.20,-0.02,0.16,0.02
1,2.0,0.03,0.20,0.44,-0.15,0.72,-0.32,-0.07,0.32,-0.58,-0.06,0.25,-0.14,0.37
2,3.0,-0.49,0.11,-0.64,0.27,0.73,0.08,0.48,0.31,0.93,-0.49,-0.00,0.26,0.83
3,4.0,0.15,0.27,0.65,0.31,-0.70,0.63,0.82,-0.02,0.10,0.12,0.14,0.33,0.86
4,5.0,0.44,0.13,-0.17,0.39,0.70,0.20,0.57,-0.34,0.56,0.31,0.30,0.26,0.47
5,6.0,0.44,0.87,-0.03,-0.19,0.26,0.97,-0.47,-0.41,0.25,-0.60,0.27,-0.05,0.71
6,7.0,-0.55,-0.46,-0.45,0.43,0.18,0.05,-0.68,0.40,-0.69,0.29,-0.17,-0.13,-0.17
7,8.0,0.10,-0.31,-0.77,-0.27,-0.56,0.99,-0.01,0.76,0.50,0.08,-0.36,0.46,0.88
8,9.0,-0.40,0.89,-0.71,-0.25,0.71,-0.85,0.68,0.26,0.23,-0.11,0.05,0.04,0.87
9,10.0,-0.06,-0.57,-0.44,0.45,-0.38,0.08,-0.71,0.25,0.36,-0.18,-0.20,-0.04,0.18

***mPFC***

,Subs,A1,A2,A3,A4,A5,D1,D2,D3,D4,D5,Avg_Asc,Avg_Des,Overall
0,1.0,0.26,-0.24,0.55,-0.49,-0.35,0.91,0.53,0.03,-0.46,0.00,-0.05,0.20,0.28
1,2.0,0.50,0.45,-0.52,-0.11,-0.47,-0.88,-0.23,0.05,-0.13,-0.57,-0.03,-0.35,0.08
2,3.0,0.59,-0.74,-0.51,0.15,0.10,0.80,0.37,-0.64,-0.24,0.41,-0.08,0.14,0.28
3,4.0,-0.27,-0.16,0.42,-0.11,0.39,0.94,-0.55,0.23,0.35,0.68,0.05,0.33,0.69
4,5.0,-0.47,-0.13,0.32,0.17,0.35,0.30,0.73,0.38,0.04,-0.32,0.05,0.23,0.20
5,6.0,-0.34,-0.07,0.41,-0.02,0.08,0.44,-0.60,0.21,0.30,-0.83,0.01,-0.10,0.15
6,7.0,0.29,0.22,0.73,-0.15,0.32,0.46,0.07,0.14,0.79,-0.12,0.28,0.27,0.26
7,8.0,-0.16,-0.24,0.62,-0.15,-0.20,0.94,0.36,0.74,0.66,0.28,-0.03,0.60,0.76
8,9.0,0.16,-0.63,0.20,-0.56,-0.15,-0.74,-0.87,-0.50,-0.26,-0.92,-0.20,-0.66,0.04
9,10.0,0.68,0.53,0.81,0.63,-0.04,0.84,-0.90,0.24,0.47,0.56,0.52,0.24,-0.00

***lOFC***

,Subs,A1,A2,A3,A4,A5,D1,D2,D3,D4,D5,Avg_Asc,Avg_Des,Overall
0,1.0,0.49,-0.64,-0.39,-0.23,-0.28,0.55,0.75,0.32,-0.64,-0.02,-0.21,0.19,0.53
1,2.0,0.55,-0.23,-0.56,-0.38,-0.49,-0.45,0.04,0.70,-0.84,0.12,-0.22,-0.09,0.22
2,3.0,-0.33,0.28,-0.00,0.54,-0.16,-0.08,-0.99,0.40,0.34,-0.04,0.07,-0.07,0.56
3,4.0,-0.31,0.28,0.21,0.56,-0.09,0.19,-0.07,-0.05,0.47,-0.04,0.13,0.10,0.68
4,5.0,-0.59,-0.32,-0.80,0.30,0.32,-0.41,-0.91,-0.10,0.17,0.63,-0.22,-0.12,0.36
5,6.0,0.55,-0.04,-0.15,0.05,-0.21,0.43,-0.40,-0.58,-0.32,0.07,0.04,-0.16,0.11
6,7.0,0.03,-0.26,-0.34,0.59,0.42,0.57,-0.28,-0.25,-0.06,-0.16,0.09,-0.04,0.19
7,8.0,0.14,-0.03,0.30,0.30,-0.72,0.54,-0.06,-0.02,-0.23,-0.35,-0.00,-0.02,0.86
8,9.0,0.24,0.85,-0.58,-0.32,0.23,0.61,0.17,-0.48,0.56,-0.78,0.08,0.02,0.87
9,10.0,0.38,0.19,0.04,0.61,-0.08,-0.52,-0.97,0.35,0.31,-0.10,0.23,-0.19,-0.00

***Average across test subjects Correlation Coefficient between predicted and actual average BOLD values of each Ascent and Descent for ROIs***

,ROIs,A1,A2,A3,A4,A5,D1,D2,D3,D4,D5,Avg_Asc,Avg_Des,Overall
0,dmPFC,0.20,-0.42,-0.02,0.10,-0.13,0.00,-0.34,-0.16,0.06,-0.01,-0.05,-0.09,0.31
1,ACC,-0.04,-0.17,-0.38,0.07,0.21,0.15,-0.21,0.13,-0.04,-0.30,-0.06,-0.05,0.36
2,AMY,-0.16,-0.15,0.27,0.06,-0.09,0.14,-0.12,-0.07,-0.26,-0.07,-0.01,-0.07,0.33
3,Cau,-0.03,0.20,0.01,0.04,0.07,-0.04,0.13,0.11,-0.36,0.13,0.06,-0.01,0.27
4,dlPFC,-0.09,-0.17,0.19,0.02,-0.14,-0.09,0.44,-0.08,-0.11,0.05,-0.04,0.04,0.20
5,INS,0.30,-0.08,0.62,0.05,-0.06,-0.03,-0.01,0.06,0.24,0.19,0.17,0.09,0.32
6,IPL,0.29,-0.02,0.16,-0.12,0.10,0.42,0.84,0.18,-0.28,-0.19,0.08,0.19,0.41
7,mCC,-0.01,-0.17,-0.12,0.05,-0.01,-0.38,-0.16,-0.11,0.19,-0.06,-0.05,-0.11,0.36
8,Nac,0.03,0.29,0.07,0.08,0.16,-0.07,0.08,0.11,-0.38,0.06,0.13,-0.04,0.30
9,PCC,-0.30,-0.33,-0.06,0.21,0.48,0.38,-0.24,0.10,0.07,-0.11,0.00,0.04,0.32
10,PCG,0.04,0.00,-0.34,-0.41,0.25,0.02,-0.13,0.11,-0.11,0.10,-0.09,-0.00,0.27
11,Prec,-0.11,-0.33,0.41,0.39,0.46,0.22,-0.16,-0.31,-0.11,0.12,0.17,-0.05,0.38
12,TP,-0.17,0.09,0.20,-0.05,-0.17,0.09,0.05,0.12,-0.00,0.02,-0.02,0.06,0.58
13,Put,-0.02,-0.07,-0.26,-0.18,-0.12,-0.09,0.16,0.01,-0.09,-0.14,-0.13,-0.03,0.24
14,pSTS,0.02,-0.00,-0.10,0.13,-0.08,0.26,0.70,0.00,0.14,-0.18,-0.01,0.18,0.39
15,VC,0.19,0.24,0.20,0.05,-0.01,0.37,-0.21,0.34,-0.12,0.10,0.13,0.10,0.45
16,vlPFC,0.19,-0.06,0.33,-0.26,-0.05,0.10,0.69,0.04,-0.15,0.18,0.03,0.17,0.33
17,mOFC,-0.03,0.07,-0.20,0.08,0.19,0.21,0.16,0.15,0.11,-0.04,0.02,0.12,0.50
18,mPFC,0.12,-0.10,0.30,-0.06,0.00,0.40,-0.11,0.09,0.15,-0.08,0.05,0.09,0.27
19,lOFC,0.12,0.01,-0.23,0.20,-0.11,0.14,-0.27,0.03,-0.02,-0.07,-0.00,-0.04,0.44

#### Model-6

We will start off by building a LSTM Model:
- `Number of LSTM Layers = 1`
- `Number of Dense Layers = 2`
- `hidden units = 32`
- `dropout = 0.3`

In [58]:
HIDDEN_UNITS = 32
DROPOUT_PROB = 0.3
LSTM_LAYERS = 1
DENSE_LAYERS = 2

In [59]:
sample_model = avg_bold_model()
sample_model.build(input_shape=batch_x.shape)
sample_model.summary()

Model: "sequential_105"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 lstm_147 (LSTM)             (10, 188, 32)             4352

 dropout_105 (Dropout)       (10, 188, 32)             0

 time_distributed_126 (TimeD  (10, 188, 32)            1056
 istributed)

 time_distributed_127 (TimeD  (10, 188, 1)             33
 istributed)

=================================================================
Total params: 5,441
Trainable params: 5,441
Non-trainable params: 0
_________________________________________________________________

In [60]:
models = [avg_bold_model() for _ in range(len(ROI_names))]

In [61]:
for i in range(len(ROI_names)):
  models[i].compile(optimizer = 'adam', loss = 'mean_squared_error')

In [62]:
for i in range(len(ROI_names)):
  models[i].load_weights(f"./Models/YOUNG/LSTM/AVG-BOLD/{ROI_names[i]}/model_weights-{LSTM_LAYERS}L-{HIDDEN_UNITS}H-{DENSE_LAYERS}D-{int(DROPOUT_PROB*10)}Drop-{LOOK_AHEAD}Ahead-{ROI_names[i]}")

In [ ]:
preds = [models[i].predict(next(test_data_generator[i].generate())[0]) for i in range(len(ROI_names))]

In [64]:
generate_each_sub_n_overall_pred_corr(preds)

***Each Test Subject's Correlation Coefficient between predicted and actual average BOLD values of each Ascent and Descent for ROIs***


***dmPFC***

,Subs,A1,A2,A3,A4,A5,D1,D2,D3,D4,D5,Avg_Asc,Avg_Des,Overall
0,1.0,0.10,-0.19,0.46,0.37,-0.02,-0.09,0.32,-0.31,0.56,0.38,0.14,0.17,0.30
1,2.0,0.56,-0.16,-0.45,0.11,-0.14,-0.80,-0.55,-0.13,0.46,0.11,-0.02,-0.18,0.57
2,3.0,0.62,-0.39,-0.01,0.63,0.29,-0.45,-0.42,0.64,-0.53,0.24,0.23,-0.10,0.38
3,4.0,-0.23,-0.09,-0.27,-0.04,-0.18,-0.29,-0.68,-0.27,0.46,-0.31,-0.16,-0.22,0.31
4,5.0,-0.12,-0.91,-0.12,0.36,-0.01,0.06,0.59,-0.20,0.24,-0.75,-0.16,-0.01,0.01
5,6.0,-0.40,-0.36,0.19,-0.23,-0.14,-0.62,-0.42,-0.59,0.58,-0.18,-0.19,-0.25,0.48
6,7.0,0.76,-0.50,0.23,0.18,0.39,0.77,-0.97,-0.72,-0.28,0.22,0.21,-0.20,0.20
7,8.0,0.58,-0.42,-0.08,0.15,0.10,0.29,-0.43,-0.04,0.09,0.20,0.07,0.02,0.50
8,9.0,0.43,0.04,0.22,0.05,-0.29,-0.47,-0.49,0.51,-0.76,0.53,0.09,-0.14,0.44
9,10.0,0.60,-0.58,0.48,0.33,-0.65,0.84,-0.68,-0.34,-0.04,-0.31,0.04,-0.11,0.11

***ACC***

,Subs,A1,A2,A3,A4,A5,D1,D2,D3,D4,D5,Avg_Asc,Avg_Des,Overall
0,1.0,0.16,0.02,-0.48,0.20,-0.07,0.00,-0.22,0.17,-0.14,-0.77,-0.03,-0.19,0.34
1,2.0,-0.10,-0.04,-0.33,-0.09,0.01,-0.67,-0.60,0.32,-0.08,-0.09,-0.11,-0.22,0.50
2,3.0,0.52,-0.28,-0.66,0.03,0.44,0.56,0.63,-0.38,-0.22,0.57,0.01,0.23,0.36
3,4.0,-0.06,-0.15,-0.00,-0.09,0.58,0.47,0.17,0.37,-0.47,0.13,0.06,0.13,0.20
4,5.0,-0.06,0.57,-0.80,0.58,0.58,0.55,-0.62,0.61,-0.38,-0.74,0.17,-0.12,0.10
5,6.0,-0.18,-0.61,-0.14,-0.06,0.13,0.91,-0.10,0.19,0.53,-0.63,-0.17,0.18,0.38
6,7.0,-0.18,-0.44,-0.48,0.34,-0.35,0.30,-0.09,-0.14,-0.39,-0.49,-0.22,-0.16,0.20
7,8.0,0.39,-0.43,-0.20,-0.92,0.03,0.32,-0.27,0.39,0.48,-0.08,-0.23,0.17,0.65
8,9.0,-0.05,0.64,-0.26,0.63,-0.04,-0.78,-0.82,-0.11,0.35,-0.17,0.18,-0.31,0.53
9,10.0,-0.49,-0.31,-0.22,0.31,0.45,-0.13,0.09,-0.02,0.04,-0.46,-0.05,-0.10,0.46

***AMY***

,Subs,A1,A2,A3,A4,A5,D1,D2,D3,D4,D5,Avg_Asc,Avg_Des,Overall
0,1.0,-0.61,-0.41,0.29,-0.06,-0.06,0.46,0.30,0.14,0.10,0.31,-0.17,0.26,0.21
1,2.0,-0.22,0.27,0.11,0.17,-0.27,-0.73,-0.87,-0.21,-0.50,0.02,0.01,-0.46,0.51
2,3.0,0.18,-0.19,0.62,-0.10,0.27,0.39,-0.00,-0.21,-0.76,-0.49,0.16,-0.21,0.63
3,4.0,-0.43,-0.04,-0.37,0.28,-0.65,-0.11,-0.67,0.41,0.28,-0.28,-0.24,-0.07,0.21
4,5.0,0.32,-0.47,0.43,0.26,0.36,0.61,-0.53,0.05,0.44,0.49,0.18,0.21,0.00
5,6.0,0.32,-0.49,-0.06,-0.50,-0.51,0.45,-0.18,0.13,-0.63,0.10,-0.25,-0.03,0.60
6,7.0,-0.08,-0.30,0.26,0.07,0.23,0.79,0.07,-0.48,-0.22,-0.36,0.04,-0.04,0.23
7,8.0,-0.64,0.07,0.31,0.27,-0.81,-0.39,0.64,-0.29,-0.66,0.59,-0.16,-0.02,0.74
8,9.0,0.04,0.76,0.70,0.29,-0.21,-0.78,-0.35,-0.01,0.16,-0.60,0.32,-0.32,0.19
9,10.0,-0.16,-0.32,0.14,0.19,0.68,0.02,-0.21,-0.06,-0.46,-0.25,0.11,-0.19,0.16

***Cau***

,Subs,A1,A2,A3,A4,A5,D1,D2,D3,D4,D5,Avg_Asc,Avg_Des,Overall
0,1.0,-0.00,0.25,0.11,0.18,0.34,0.26,-0.88,0.07,-0.05,0.45,0.18,-0.03,0.18
1,2.0,0.39,0.56,-0.08,0.21,0.10,-0.00,0.48,0.58,0.64,0.26,0.24,0.39,0.66
2,3.0,0.05,-0.08,-0.66,0.33,0.76,-0.77,-0.47,0.06,-0.31,0.51,0.08,-0.20,0.42
3,4.0,0.29,0.39,0.38,0.14,-0.49,-0.54,-0.73,0.20,-0.58,0.09,0.14,-0.31,0.15
4,5.0,0.16,-0.27,0.05,-0.01,-0.21,-0.49,-0.79,0.11,-0.47,0.41,-0.06,-0.25,0.42
5,6.0,-0.15,-0.17,-0.33,-0.07,-0.44,0.56,0.86,-0.45,-0.60,-0.63,-0.23,-0.05,0.11
6,7.0,-0.63,-0.28,0.55,-0.02,0.57,-0.08,0.51,0.11,-0.86,0.04,0.04,-0.06,0.01
7,8.0,0.27,0.32,0.41,-0.14,-0.27,0.13,0.71,-0.12,-0.53,0.32,0.12,0.10,0.29
8,9.0,0.14,0.61,0.02,0.17,0.29,0.86,-0.09,0.57,-0.04,-0.23,0.25,0.21,0.67
9,10.0,0.07,-0.21,0.43,-0.01,-0.21,0.01,0.82,0.46,-0.42,0.49,0.01,0.27,0.22

***dlPFC***

,Subs,A1,A2,A3,A4,A5,D1,D2,D3,D4,D5,Avg_Asc,Avg_Des,Overall
0,1.0,0.20,-0.55,0.21,0.13,0.72,-0.44,-0.64,-0.58,-0.61,0.38,0.14,-0.38,0.29
1,2.0,-0.20,0.11,0.24,0.19,-0.21,0.24,0.82,0.42,0.15,0.33,0.03,0.39,0.32
2,3.0,-0.07,-0.70,0.43,0.30,0.84,-0.37,0.68,-0.01,-0.60,0.50,0.16,0.04,0.42
3,4.0,-0.77,0.29,0.22,-0.14,-0.02,-0.04,1.00,0.00,0.08,0.42,-0.08,0.29,0.30
4,5.0,-0.11,0.05,-0.15,-0.37,-0.44,-0.98,0.69,0.15,-0.76,-0.28,-0.20,-0.24,0.28
5,6.0,0.20,0.02,0.37,0.10,-0.27,-0.09,0.20,0.04,-0.65,-0.13,0.08,-0.13,0.12
6,7.0,-0.03,0.57,-0.31,0.17,-0.73,0.05,0.70,-0.29,0.69,0.16,-0.07,0.26,0.18
7,8.0,-0.57,-0.84,0.53,0.34,-0.22,-0.63,0.74,-0.24,0.20,-0.31,-0.15,-0.05,0.08
8,9.0,0.20,0.00,0.31,-0.28,-0.77,-0.09,-0.43,0.32,0.10,-0.70,-0.11,-0.16,0.28
9,10.0,0.64,0.16,0.40,0.38,-0.07,0.69,0.69,0.22,0.39,0.42,0.30,0.48,0.38

***INS***

,Subs,A1,A2,A3,A4,A5,D1,D2,D3,D4,D5,Avg_Asc,Avg_Des,Overall
0,1.0,0.51,-0.49,0.83,0.02,-0.59,-0.20,0.77,-0.09,-0.13,0.34,0.06,0.14,0.39
1,2.0,0.48,0.58,0.72,0.64,0.64,0.35,-0.93,0.09,0.43,-0.04,0.61,-0.02,0.77
2,3.0,0.62,-0.58,0.64,0.26,0.89,-0.13,0.37,0.54,0.74,0.64,0.37,0.43,0.59
3,4.0,0.28,0.38,0.71,0.20,-0.68,-0.09,0.86,0.27,0.26,0.09,0.18,0.28,0.46
4,5.0,-0.09,0.23,0.74,-0.15,0.59,-0.76,-0.22,0.22,0.82,0.26,0.26,0.06,-0.07
5,6.0,0.60,-0.05,-0.30,0.04,-0.07,-0.24,-0.29,0.10,-0.82,0.74,0.04,-0.10,0.38
6,7.0,0.25,-0.19,0.45,0.42,-0.27,-0.44,-0.01,0.20,-0.53,0.13,0.13,-0.13,-0.03
7,8.0,0.59,0.44,0.91,-0.05,-0.71,0.24,-0.75,0.37,0.59,0.17,0.24,0.12,0.49
8,9.0,-0.25,-0.19,0.75,-0.06,0.65,0.28,-0.85,-0.34,-0.01,-0.53,0.18,-0.29,0.01
9,10.0,0.71,-0.28,0.75,0.41,-0.81,0.37,0.89,-0.08,0.77,0.37,0.16,0.46,0.30

***IPL***

,Subs,A1,A2,A3,A4,A5,D1,D2,D3,D4,D5,Avg_Asc,Avg_Des,Overall
0,1.0,0.12,0.14,0.32,0.49,-0.34,0.73,0.91,-0.17,0.15,0.06,0.15,0.34,0.50
1,2.0,0.65,0.36,-0.12,-0.11,0.83,0.30,0.68,0.53,-0.68,0.21,0.32,0.21,0.25
2,3.0,0.86,-0.68,0.47,-0.09,-0.28,0.06,0.84,0.32,0.13,0.24,0.06,0.32,0.59
3,4.0,0.06,-0.23,0.70,0.19,-0.61,0.65,0.83,0.32,-0.55,0.21,0.02,0.29,0.55
4,5.0,0.56,0.35,0.03,0.59,0.70,-0.41,0.82,0.64,0.13,0.25,0.45,0.29,0.40
5,6.0,0.07,-0.06,0.48,-0.52,-0.20,0.89,0.99,0.46,0.50,0.22,-0.05,0.61,0.37
6,7.0,0.71,0.12,-0.70,-0.08,0.82,0.74,0.93,-0.02,-0.67,-0.19,0.17,0.16,0.61
7,8.0,0.69,0.25,0.39,-0.44,0.16,0.92,0.95,0.63,-0.52,-0.56,0.21,0.28,0.64
8,9.0,-0.13,0.02,0.25,-0.12,0.20,0.25,0.89,0.21,-0.11,-0.72,0.04,0.10,0.45
9,10.0,0.31,0.54,0.60,0.56,0.36,0.72,0.45,-0.02,-0.58,-0.09,0.47,0.10,0.39

***mCC***

,Subs,A1,A2,A3,A4,A5,D1,D2,D3,D4,D5,Avg_Asc,Avg_Des,Overall
0,1.0,-0.23,0.06,-0.50,0.08,-0.07,-0.42,0.15,-0.46,-0.18,0.35,-0.13,-0.11,0.23
1,2.0,-0.08,-0.30,-0.05,0.62,-0.01,-0.31,-0.59,-0.17,0.06,0.12,0.04,-0.18,0.09
2,3.0,0.45,-0.16,0.59,0.24,-0.51,0.38,0.58,-0.35,0.52,0.54,0.12,0.33,0.56
3,4.0,0.18,0.06,-0.33,0.16,-0.11,-0.37,0.85,-0.50,0.04,-0.39,-0.01,-0.07,0.17
4,5.0,-0.09,-0.74,-0.18,0.13,0.10,-0.63,-0.66,0.15,0.40,-0.84,-0.16,-0.32,0.43
5,6.0,0.05,0.14,0.38,-0.12,0.27,-0.56,-0.98,-0.04,0.61,0.31,0.14,-0.13,0.88
6,7.0,-0.53,0.45,-0.59,0.02,-0.35,-0.84,-0.60,0.32,0.20,0.18,-0.20,-0.15,0.10
7,8.0,0.51,-0.11,-0.40,-0.10,0.20,-0.53,0.53,-0.02,-0.34,-0.23,0.02,-0.12,0.53
8,9.0,-0.29,-0.38,0.28,-0.05,0.12,0.67,-0.58,0.06,-0.43,-0.22,-0.06,-0.10,0.30
9,10.0,0.01,-0.37,-0.64,-0.11,0.09,-0.70,-0.53,0.07,0.43,-0.35,-0.20,-0.22,0.28

***Nac***

,Subs,A1,A2,A3,A4,A5,D1,D2,D3,D4,D5,Avg_Asc,Avg_Des,Overall
0,1.0,0.04,0.62,0.37,0.01,0.38,0.43,-0.88,0.07,-0.14,0.28,0.28,-0.05,0.20
1,2.0,0.04,0.75,0.10,0.10,0.04,0.13,0.58,0.70,0.54,0.14,0.21,0.42,0.45
2,3.0,0.32,-0.01,-0.43,0.58,0.14,-0.53,-0.64,0.02,-0.53,0.45,0.12,-0.25,0.36
3,4.0,0.16,0.36,0.34,0.00,-0.52,-0.32,-0.71,-0.04,-0.56,-0.37,0.07,-0.40,0.39
4,5.0,0.42,-0.57,0.00,0.05,-0.06,-0.46,-0.38,-0.15,-0.40,0.32,-0.03,-0.21,0.41
5,6.0,0.35,-0.10,-0.37,0.34,0.04,-0.21,-0.03,-0.57,-0.89,-0.57,0.05,-0.45,0.11
6,7.0,-0.58,-0.12,0.28,-0.05,0.52,-0.30,0.23,-0.00,-0.70,0.14,0.01,-0.13,0.08
7,8.0,0.29,0.47,0.45,0.15,0.07,0.09,0.75,0.14,-0.84,0.09,0.29,0.05,0.31
8,9.0,-0.05,0.82,0.28,0.25,0.28,0.88,-0.00,0.75,0.15,-0.14,0.32,0.33,0.82
9,10.0,-0.01,0.25,0.33,-0.13,0.37,-0.26,0.78,0.46,-0.14,0.17,0.16,0.20,0.18

***PCC***

,Subs,A1,A2,A3,A4,A5,D1,D2,D3,D4,D5,Avg_Asc,Avg_Des,Overall
0,1.0,-0.60,0.24,0.43,0.27,0.79,0.72,0.78,0.19,0.20,0.73,0.23,0.52,0.29
1,2.0,-0.83,-0.30,-0.56,-0.18,0.27,-0.81,-0.24,0.21,-0.62,0.06,-0.32,-0.28,0.44
2,3.0,0.11,-0.34,-0.34,0.47,0.86,0.89,0.16,0.48,0.17,0.58,0.15,0.46,0.58
3,4.0,0.58,-0.34,-0.00,0.22,0.86,0.70,0.67,0.43,0.72,-0.54,0.26,0.40,0.37
4,5.0,-0.04,-0.22,-0.65,0.49,0.29,0.58,-0.34,-0.51,-0.57,-0.19,-0.03,-0.21,0.02
5,6.0,0.16,-0.06,0.08,0.40,-0.06,0.87,-0.99,0.28,0.40,-0.74,0.10,-0.04,0.64
6,7.0,-0.29,-0.08,0.00,0.32,0.26,0.08,-0.79,0.30,0.62,-0.22,0.04,-0.00,0.26
7,8.0,-0.58,-0.79,0.43,0.63,0.17,0.86,-0.67,0.35,0.10,-0.01,-0.03,0.13,0.59
8,9.0,-0.47,-0.00,-0.78,-0.01,0.52,-0.38,-0.30,0.40,-0.16,0.03,-0.15,-0.08,0.17
9,10.0,-0.39,-0.16,0.52,0.51,0.83,0.64,-0.83,-0.26,-0.00,-0.03,0.26,-0.10,0.47

***PCG***

,Subs,A1,A2,A3,A4,A5,D1,D2,D3,D4,D5,Avg_Asc,Avg_Des,Overall
0,1.0,-0.31,-0.47,-0.45,0.50,0.88,-0.43,0.44,0.14,-0.03,0.74,0.03,0.17,0.34
1,2.0,0.59,0.54,-0.45,-0.55,0.85,0.39,-0.16,-0.07,-0.38,0.22,0.20,0.00,0.30
2,3.0,0.32,-0.40,0.81,-0.20,-0.83,-0.47,-0.43,-0.10,-0.04,0.47,-0.06,-0.11,0.35
3,4.0,0.05,0.23,-0.09,-0.71,0.66,0.42,-0.98,-0.11,-0.04,0.29,0.03,-0.08,0.08
4,5.0,0.44,0.63,-0.34,-0.47,-0.98,-0.66,0.36,0.62,-0.74,-0.51,-0.14,-0.19,0.02
5,6.0,0.15,-0.07,-0.01,-0.29,0.50,0.04,0.61,0.33,-0.67,0.44,0.06,0.15,0.50
6,7.0,-0.05,0.28,-0.83,-0.11,-0.19,-0.01,-0.05,0.04,0.25,0.45,-0.18,0.14,0.22
7,8.0,0.21,-0.52,-0.58,-0.26,0.66,-0.16,-0.07,0.64,-0.00,-0.22,-0.10,0.04,0.40
8,9.0,-0.53,-0.33,-0.57,-0.60,-0.15,0.06,0.05,0.48,0.80,-0.39,-0.44,0.20,0.45
9,10.0,0.10,0.78,-0.56,-0.25,0.92,0.97,0.01,0.00,0.08,0.31,0.20,0.27,0.51

***Prec***

,Subs,A1,A2,A3,A4,A5,D1,D2,D3,D4,D5,Avg_Asc,Avg_Des,Overall
0,1.0,-0.08,-0.50,0.70,0.64,0.37,0.70,0.64,-0.16,0.61,0.13,0.23,0.38,0.32
1,2.0,-0.27,0.05,-0.44,0.18,-0.64,-0.93,-0.37,-0.72,-0.21,-0.32,-0.22,-0.51,0.49
2,3.0,0.23,0.33,0.02,0.90,0.89,0.91,0.57,-0.11,0.67,0.74,0.47,0.56,0.61
3,4.0,0.05,-0.27,0.82,0.36,0.80,0.33,-0.90,-0.56,-0.20,0.54,0.35,-0.16,0.38
4,5.0,-0.37,-0.53,0.64,0.56,0.84,0.74,-0.03,-0.29,0.66,0.63,0.23,0.34,0.19
5,6.0,-0.12,-0.47,0.43,-0.08,0.24,0.14,0.33,-0.16,-0.35,-0.25,0.00,-0.06,0.62
6,7.0,0.50,-0.34,0.77,0.23,0.14,-0.23,-0.60,0.34,-0.47,-0.51,0.26,-0.29,0.40
7,8.0,-0.26,-0.07,0.78,0.28,0.46,0.92,-0.53,0.31,-0.44,0.62,0.24,0.18,0.67
8,9.0,0.56,0.37,0.04,0.67,0.87,-0.51,-0.33,0.11,0.14,0.12,0.50,-0.09,0.38
9,10.0,0.15,-0.39,0.78,0.43,0.70,0.72,-0.42,-0.15,-0.68,0.62,0.33,0.02,0.49

***TP***

,Subs,A1,A2,A3,A4,A5,D1,D2,D3,D4,D5,Avg_Asc,Avg_Des,Overall
0,1.0,0.13,0.27,-0.16,-0.01,0.30,0.31,-0.37,0.05,-0.71,-0.64,0.11,-0.27,0.70
1,2.0,0.14,0.41,0.08,0.16,-0.06,0.37,0.86,0.12,0.32,0.45,0.15,0.42,0.60
2,3.0,-0.27,0.19,0.29,0.09,0.05,0.15,0.21,0.43,-0.53,0.67,0.07,0.19,0.76
3,4.0,-0.01,0.32,0.70,-0.33,-0.15,0.58,-0.39,0.54,0.34,0.11,0.11,0.24,0.44
4,5.0,0.29,0.24,0.34,-0.37,-0.31,-0.46,-0.90,-0.35,-0.27,-0.78,0.04,-0.55,0.76
5,6.0,0.08,0.02,-0.43,0.35,-0.40,0.22,0.16,-0.54,0.40,-0.44,-0.08,-0.04,0.40
6,7.0,-0.65,-0.03,-0.46,0.51,0.11,-0.92,0.68,0.51,-0.47,0.07,-0.10,-0.03,0.35
7,8.0,-0.43,-0.09,0.47,-0.30,-0.53,0.09,0.08,0.66,0.85,0.63,-0.18,0.46,0.75
8,9.0,-0.27,-0.20,0.21,-0.39,-0.66,0.42,-0.81,0.66,-0.06,-0.15,-0.26,0.01,0.74
9,10.0,-0.56,-0.19,0.36,0.17,-0.11,0.36,0.57,-0.04,0.67,0.71,-0.07,0.45,0.68

***Put***

,Subs,A1,A2,A3,A4,A5,D1,D2,D3,D4,D5,Avg_Asc,Avg_Des,Overall
0,1.0,-0.21,-0.42,-0.47,-0.24,-0.27,0.34,-0.57,0.03,-0.76,0.15,-0.32,-0.16,0.31
1,2.0,-0.51,-0.41,0.05,-0.15,-0.65,0.33,0.77,-0.40,-0.37,0.21,-0.33,0.11,0.10
2,3.0,0.63,-0.08,0.18,0.01,0.59,0.64,0.58,0.29,-0.03,0.45,0.27,0.39,0.68
3,4.0,0.19,-0.36,-0.52,-0.14,0.32,0.40,-0.48,0.07,-0.12,-0.83,-0.10,-0.19,0.16
4,5.0,0.01,0.68,-0.33,-0.30,0.08,-0.86,-0.10,0.08,0.71,-0.54,0.03,-0.14,0.35
5,6.0,0.23,0.64,-0.18,-0.41,-0.82,-0.58,-0.68,-0.53,0.61,-0.78,-0.11,-0.39,0.25
6,7.0,0.34,-0.06,-0.43,0.22,0.03,-0.96,0.40,0.34,-0.08,0.32,0.02,0.00,0.15
7,8.0,-0.03,-0.28,0.22,0.43,-0.36,-0.72,0.55,0.56,0.18,0.15,-0.00,0.14,0.50
8,9.0,-0.37,0.01,-0.27,-0.26,-0.14,0.56,-1.00,0.11,-0.72,0.16,-0.21,-0.18,0.41
9,10.0,-0.20,-0.26,-0.85,-0.08,-0.23,-0.09,0.98,-0.19,-0.48,-0.70,-0.32,-0.10,0.12

***pSTS***

,Subs,A1,A2,A3,A4,A5,D1,D2,D3,D4,D5,Avg_Asc,Avg_Des,Overall
0,1.0,-0.04,0.12,-0.77,0.32,0.01,0.28,0.25,0.37,0.51,0.13,-0.07,0.31,0.52
1,2.0,-0.13,0.01,-0.03,-0.49,0.48,0.59,0.47,0.09,0.32,-0.15,-0.03,0.26,0.40
2,3.0,0.81,-0.81,0.10,0.38,-0.78,-0.39,0.55,0.17,-0.31,0.52,-0.06,0.11,0.71
3,4.0,-0.53,-0.39,-0.00,0.34,-0.82,0.11,0.63,0.27,0.66,-0.20,-0.28,0.29,0.41
4,5.0,0.18,0.23,-0.25,0.12,0.02,0.01,0.85,-0.27,0.01,-0.44,0.06,0.03,0.36
5,6.0,-0.42,0.03,-0.04,0.00,-0.72,0.15,0.99,0.10,0.72,-0.45,-0.23,0.30,0.63
6,7.0,0.34,0.34,-0.29,0.29,0.32,0.25,0.75,0.30,0.60,-0.38,0.20,0.30,0.22
7,8.0,0.43,-0.09,0.52,0.22,0.13,-0.05,0.68,0.04,0.62,0.05,0.24,0.27,0.70
8,9.0,0.52,0.10,0.08,0.38,-0.20,0.43,0.81,0.02,-0.57,-0.02,0.18,0.13,0.34
9,10.0,0.53,0.93,0.80,0.63,0.50,0.85,0.64,0.13,0.53,0.05,0.68,0.44,0.06

***VC***

,Subs,A1,A2,A3,A4,A5,D1,D2,D3,D4,D5,Avg_Asc,Avg_Des,Overall
0,1.0,-0.09,-0.45,0.09,0.53,-0.60,0.88,-0.52,0.30,-0.34,0.76,-0.10,0.22,0.53
1,2.0,0.13,0.86,0.17,-0.47,-0.27,0.86,-0.35,0.77,0.03,0.05,0.08,0.27,0.47
2,3.0,0.84,0.51,-0.81,-0.18,0.45,-0.55,-0.97,0.75,-0.27,0.93,0.16,-0.02,0.60
3,4.0,0.12,0.64,0.49,0.26,-0.27,0.52,-0.49,0.57,-0.22,0.64,0.25,0.20,0.64
4,5.0,0.57,-0.11,0.69,0.44,0.88,-0.25,0.11,0.43,-0.38,0.46,0.49,0.07,0.62
5,6.0,0.61,-0.35,0.62,0.28,-0.28,0.70,-0.62,0.37,-0.61,-0.19,0.18,-0.07,0.38
6,7.0,0.05,0.57,-0.26,0.08,-0.94,0.92,-0.34,-0.07,0.00,0.29,-0.10,0.16,0.40
7,8.0,0.68,0.16,0.51,0.39,0.46,-0.57,0.32,0.32,-0.43,-0.80,0.44,-0.23,0.64
8,9.0,-0.77,0.36,0.33,-0.16,0.75,0.63,-0.60,0.53,0.13,-0.44,0.10,0.05,0.53
9,10.0,0.46,0.77,0.42,0.61,0.27,0.96,0.36,0.72,-0.08,0.50,0.51,0.49,0.56

***vlPFC***

,Subs,A1,A2,A3,A4,A5,D1,D2,D3,D4,D5,Avg_Asc,Avg_Des,Overall
0,1.0,0.22,-0.35,0.06,0.37,0.17,-0.53,-0.21,-0.64,0.04,0.50,0.09,-0.17,0.39
1,2.0,0.51,0.11,0.16,-0.08,-0.01,0.02,0.74,-0.09,0.20,0.46,0.14,0.27,0.24
2,3.0,0.79,-0.59,0.78,0.36,0.43,-0.53,0.40,0.76,0.36,0.11,0.35,0.22,0.62
3,4.0,-0.23,0.22,0.41,0.02,-0.46,0.26,0.30,0.04,0.50,0.66,-0.01,0.35,0.43
4,5.0,-0.00,0.21,0.49,-0.68,0.13,-0.97,0.98,0.09,0.03,0.35,0.03,0.10,0.32
5,6.0,0.42,-0.03,0.37,-0.36,-0.85,0.61,0.77,0.60,-0.63,0.02,-0.09,0.27,0.38
6,7.0,0.53,0.44,0.07,0.01,0.50,0.27,0.85,-0.07,-0.47,0.45,0.31,0.21,0.32
7,8.0,0.59,-0.13,0.35,-0.07,-0.38,0.70,0.92,0.17,-0.22,-0.36,0.07,0.24,0.60
8,9.0,0.26,0.38,0.31,0.07,-0.15,0.26,0.99,-0.01,-0.48,0.01,0.17,0.15,0.58
9,10.0,0.63,0.22,0.67,0.34,-0.24,0.39,0.98,0.56,0.25,0.56,0.32,0.55,0.21

***mOFC***

,Subs,A1,A2,A3,A4,A5,D1,D2,D3,D4,D5,Avg_Asc,Avg_Des,Overall
0,1.0,0.05,-0.29,0.45,-0.08,0.25,0.32,0.92,-0.31,-0.57,0.20,0.08,0.11,0.11
1,2.0,-0.03,0.09,0.34,-0.15,0.76,-0.38,-0.06,0.26,-0.41,-0.09,0.20,-0.14,0.48
2,3.0,-0.45,0.03,-0.55,0.32,0.67,0.02,0.45,0.25,0.92,-0.49,0.00,0.23,0.88
3,4.0,0.17,0.58,0.54,0.46,-0.66,0.72,0.86,0.14,0.12,0.04,0.22,0.38,0.90
4,5.0,0.43,0.34,-0.25,0.37,0.63,0.13,0.60,-0.21,0.63,0.51,0.30,0.33,0.56
5,6.0,0.21,0.88,-0.25,-0.04,0.09,0.99,-0.52,-0.43,-0.35,-0.55,0.18,-0.17,0.74
6,7.0,-0.58,-0.61,-0.62,0.43,0.18,0.02,-0.73,0.35,-0.75,0.23,-0.24,-0.18,-0.19
7,8.0,0.23,-0.05,-0.59,-0.24,-0.51,0.99,-0.12,0.76,0.39,0.08,-0.23,0.42,0.90
8,9.0,-0.35,0.91,-0.74,-0.03,0.64,-0.97,0.47,0.33,0.18,0.39,0.09,0.08,0.90
9,10.0,0.07,0.03,-0.27,0.39,-0.41,0.24,-0.64,0.14,0.39,-0.07,-0.04,0.01,0.31

***mPFC***

,Subs,A1,A2,A3,A4,A5,D1,D2,D3,D4,D5,Avg_Asc,Avg_Des,Overall
0,1.0,0.17,-0.20,0.56,0.06,-0.32,0.89,0.58,0.12,-0.45,-0.01,0.05,0.23,0.41
1,2.0,0.51,0.45,-0.33,-0.06,-0.53,-0.91,-0.23,0.03,-0.28,-0.52,0.01,-0.38,0.14
2,3.0,0.75,-0.41,-0.47,0.12,-0.07,0.78,0.42,-0.22,0.11,0.43,-0.02,0.30,0.33
3,4.0,-0.29,-0.17,0.37,-0.08,0.41,0.92,-0.61,0.26,0.26,0.68,0.05,0.30,0.78
4,5.0,-0.38,-0.10,0.43,0.18,0.37,0.18,0.83,0.50,0.11,-0.27,0.10,0.27,0.25
5,6.0,-0.38,-0.07,0.36,0.01,-0.05,0.39,-0.58,0.15,0.25,-0.73,-0.03,-0.10,0.25
6,7.0,0.37,0.14,0.63,0.06,0.26,0.37,-0.05,0.11,0.76,-0.15,0.29,0.21,0.26
7,8.0,-0.02,-0.13,0.68,-0.17,-0.17,0.95,0.45,0.72,0.64,0.25,0.04,0.60,0.82
8,9.0,0.08,-0.26,0.25,-0.19,-0.18,-0.82,-0.72,-0.19,0.03,-0.96,-0.06,-0.53,0.24
9,10.0,0.70,0.54,0.82,0.63,-0.02,0.85,-0.80,0.35,0.50,0.58,0.53,0.30,0.16

***lOFC***

,Subs,A1,A2,A3,A4,A5,D1,D2,D3,D4,D5,Avg_Asc,Avg_Des,Overall
0,1.0,0.45,-0.62,-0.33,-0.13,-0.40,0.52,0.75,0.15,-0.59,0.02,-0.21,0.17,0.52
1,2.0,0.54,-0.20,-0.56,-0.46,-0.33,-0.56,0.05,0.69,-0.73,0.13,-0.20,-0.08,0.22
2,3.0,-0.14,0.35,-0.03,0.56,-0.15,-0.20,-0.95,0.58,0.46,0.20,0.12,0.02,0.67
3,4.0,-0.31,0.32,0.13,0.63,-0.01,0.16,-0.06,0.02,0.42,-0.03,0.15,0.10,0.75
4,5.0,-0.54,-0.14,-0.72,0.33,0.30,-0.54,-0.86,-0.18,0.16,0.59,-0.15,-0.17,0.33
5,6.0,0.53,-0.04,-0.28,0.07,-0.26,0.37,-0.55,-0.54,-0.30,0.11,0.00,-0.18,0.12
6,7.0,-0.02,-0.34,-0.41,0.58,0.39,0.54,-0.40,-0.30,-0.12,-0.15,0.04,-0.09,0.19
7,8.0,0.25,-0.07,0.26,0.32,-0.79,0.50,-0.22,-0.03,-0.32,-0.42,-0.01,-0.10,0.86
8,9.0,0.28,0.86,-0.42,-0.23,0.19,0.54,-0.11,-0.35,0.64,-0.65,0.14,0.01,0.85
9,10.0,0.39,0.42,0.05,0.59,-0.13,-0.45,-0.96,0.32,0.33,-0.11,0.26,-0.17,0.03

***Average across test subjects Correlation Coefficient between predicted and actual average BOLD values of each Ascent and Descent for ROIs***

,ROIs,A1,A2,A3,A4,A5,D1,D2,D3,D4,D5,Avg_Asc,Avg_Des,Overall
0,dmPFC,0.29,-0.36,0.06,0.19,-0.06,-0.08,-0.37,-0.14,0.08,0.01,0.02,-0.10,0.33
1,ACC,-0.01,-0.10,-0.36,0.09,0.17,0.15,-0.18,0.14,-0.03,-0.27,-0.04,-0.04,0.37
2,AMY,-0.13,-0.11,0.24,0.09,-0.10,0.07,-0.18,-0.05,-0.23,-0.05,-0.00,-0.09,0.35
3,Cau,0.06,0.11,0.09,0.08,0.04,-0.01,0.04,0.16,-0.32,0.17,0.08,0.01,0.31
4,dlPFC,-0.05,-0.09,0.22,0.08,-0.12,-0.17,0.44,0.00,-0.10,0.08,0.01,0.05,0.26
5,INS,0.37,-0.01,0.62,0.17,-0.04,-0.06,-0.02,0.13,0.21,0.22,0.22,0.10,0.33
6,IPL,0.39,0.08,0.24,0.05,0.16,0.49,0.83,0.29,-0.22,-0.04,0.18,0.27,0.47
7,mCC,-0.00,-0.14,-0.14,0.09,-0.03,-0.33,-0.18,-0.09,0.13,-0.05,-0.04,-0.11,0.36
8,Nac,0.10,0.25,0.14,0.13,0.13,-0.05,-0.03,0.14,-0.35,0.05,0.15,-0.05,0.33
9,PCC,-0.23,-0.21,-0.09,0.31,0.48,0.42,-0.25,0.19,0.09,-0.03,0.05,0.08,0.38
10,PCG,0.10,0.07,-0.31,-0.29,0.23,0.01,-0.02,0.20,-0.08,0.18,-0.04,0.06,0.32
11,Prec,0.04,-0.18,0.45,0.42,0.47,0.28,-0.17,-0.14,-0.03,0.23,0.24,0.04,0.46
12,TP,-0.16,0.09,0.14,-0.01,-0.18,0.11,0.01,0.20,0.06,0.06,-0.02,0.09,0.62
13,Put,0.01,-0.05,-0.26,-0.09,-0.14,-0.10,0.05,0.04,-0.11,-0.14,-0.11,-0.05,0.30
14,pSTS,0.17,0.05,0.01,0.22,-0.11,0.22,0.66,0.12,0.31,-0.09,0.07,0.25,0.43
15,VC,0.26,0.30,0.23,0.18,0.05,0.41,-0.31,0.47,-0.22,0.22,0.20,0.11,0.54
16,vlPFC,0.37,0.05,0.37,-0.00,-0.09,0.05,0.67,0.14,-0.04,0.27,0.14,0.22,0.41
17,mOFC,-0.03,0.19,-0.19,0.14,0.16,0.21,0.12,0.13,0.06,0.03,0.06,0.11,0.56
18,mPFC,0.15,-0.02,0.33,0.05,-0.03,0.36,-0.07,0.18,0.19,-0.07,0.10,0.12,0.36
19,lOFC,0.14,0.05,-0.23,0.23,-0.12,0.09,-0.33,0.03,-0.01,-0.03,0.01,-0.05,0.45

#### Model-7

We will start off by building a LSTM Model:
- `Number of LSTM Layers = 1`
- `Number of Dense Layers = 4`
- `hidden units = 16`
- `dropout = 0.3`

In [65]:
HIDDEN_UNITS = 16
DROPOUT_PROB = 0.3
LSTM_LAYERS = 1
DENSE_LAYERS = 4

In [66]:
sample_model = avg_bold_model()
sample_model.build(input_shape=batch_x.shape)
sample_model.summary()

Model: "sequential_126"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 lstm_168 (LSTM)             (10, 188, 16)             1152

 dropout_126 (Dropout)       (10, 188, 16)             0

 time_distributed_168 (TimeD  (10, 188, 16)            272
 istributed)

 time_distributed_169 (TimeD  (10, 188, 16)            272
 istributed)

 time_distributed_170 (TimeD  (10, 188, 16)            272
 istributed)

 time_distributed_171 (TimeD  (10, 188, 1)             17
 istributed)

=================================================================
Total params: 1,985
Trainable params: 1,985
Non-trainable params: 0
_________________________________________________________________

In [67]:
models = [avg_bold_model() for _ in range(len(ROI_names))]

In [68]:
for i in range(len(ROI_names)):
  models[i].compile(optimizer = 'adam', loss = 'mean_squared_error')

In [69]:
for i in range(len(ROI_names)):
  models[i].load_weights(f"./Models/YOUNG/LSTM/AVG-BOLD/{ROI_names[i]}/model_weights-{LSTM_LAYERS}L-{HIDDEN_UNITS}H-{DENSE_LAYERS}D-{int(DROPOUT_PROB*10)}Drop-{LOOK_AHEAD}Ahead-{ROI_names[i]}")

In [ ]:
preds = [models[i].predict(next(test_data_generator[i].generate())[0]) for i in range(len(ROI_names))]

In [71]:
generate_each_sub_n_overall_pred_corr(preds)

***Each Test Subject's Correlation Coefficient between predicted and actual average BOLD values of each Ascent and Descent for ROIs***


***dmPFC***

,Subs,A1,A2,A3,A4,A5,D1,D2,D3,D4,D5,Avg_Asc,Avg_Des,Overall
0,1.0,0.10,-0.18,0.47,0.19,-0.01,-0.03,0.36,-0.26,0.24,0.48,0.11,0.16,0.25
1,2.0,0.61,-0.29,-0.53,0.18,-0.16,-0.72,-0.50,-0.05,0.55,0.18,-0.04,-0.11,0.52
2,3.0,0.55,-0.49,-0.34,0.18,0.03,-0.47,-0.60,0.25,-0.67,0.17,-0.01,-0.26,0.29
3,4.0,-0.43,-0.16,-0.38,-0.01,-0.21,-0.30,-0.67,-0.31,0.47,-0.35,-0.24,-0.23,0.15
4,5.0,-0.30,-0.84,-0.26,0.37,-0.13,0.08,0.63,-0.01,0.08,-0.82,-0.23,-0.01,-0.07
5,6.0,-0.34,-0.41,0.22,-0.21,-0.16,-0.68,-0.41,-0.58,0.61,-0.06,-0.18,-0.22,0.44
6,7.0,0.68,-0.48,0.28,0.14,0.23,0.80,-0.95,-0.77,-0.03,0.40,0.17,-0.11,0.11
7,8.0,0.49,-0.48,-0.15,0.12,0.15,0.27,-0.36,0.15,0.08,0.18,0.03,0.06,0.32
8,9.0,0.14,0.12,-0.12,0.02,-0.29,-0.24,-0.50,0.37,-0.69,0.36,-0.03,-0.14,0.40
9,10.0,0.52,-0.60,0.54,0.35,-0.71,0.78,-0.63,-0.40,-0.11,-0.42,0.02,-0.16,0.11

***ACC***

,Subs,A1,A2,A3,A4,A5,D1,D2,D3,D4,D5,Avg_Asc,Avg_Des,Overall
0,1.0,0.17,0.05,-0.49,0.28,-0.07,0.05,-0.20,0.18,-0.14,-0.79,-0.01,-0.18,0.36
1,2.0,-0.05,-0.05,-0.26,-0.09,-0.01,-0.66,-0.63,0.31,-0.10,-0.07,-0.09,-0.23,0.53
2,3.0,0.57,-0.20,-0.72,0.07,0.42,0.55,0.61,-0.34,-0.09,0.58,0.03,0.26,0.34
3,4.0,-0.08,-0.15,0.02,-0.11,0.58,0.49,0.12,0.33,-0.49,0.18,0.05,0.13,0.07
4,5.0,-0.11,0.62,-0.78,0.58,0.56,0.54,-0.38,0.58,-0.37,-0.72,0.17,-0.07,0.09
5,6.0,-0.18,-0.59,-0.16,-0.08,0.11,0.92,-0.18,0.21,0.53,-0.61,-0.18,0.17,0.43
6,7.0,-0.20,-0.43,-0.47,0.38,-0.37,0.27,-0.10,-0.18,-0.41,-0.51,-0.22,-0.19,0.13
7,8.0,0.41,-0.38,-0.22,-0.91,0.03,0.34,-0.23,0.35,0.49,-0.08,-0.21,0.17,0.69
8,9.0,0.01,0.63,-0.19,0.64,-0.05,-0.73,-0.79,-0.06,0.36,-0.10,0.21,-0.26,0.53
9,10.0,-0.48,-0.26,-0.14,0.30,0.43,-0.09,0.29,-0.05,0.04,-0.47,-0.03,-0.06,0.48

***AMY***

,Subs,A1,A2,A3,A4,A5,D1,D2,D3,D4,D5,Avg_Asc,Avg_Des,Overall
0,1.0,-0.64,-0.37,0.25,-0.03,-0.07,0.42,0.27,0.12,0.11,0.27,-0.17,0.24,0.23
1,2.0,-0.19,0.25,0.13,0.15,-0.29,-0.74,-0.86,-0.24,-0.49,0.05,0.01,-0.46,0.54
2,3.0,0.23,-0.14,0.61,-0.09,0.26,0.37,-0.09,-0.20,-0.76,-0.49,0.17,-0.23,0.67
3,4.0,-0.41,-0.06,-0.38,0.28,-0.63,-0.13,-0.67,0.40,0.26,-0.24,-0.24,-0.08,0.24
4,5.0,0.32,-0.46,0.44,0.25,0.35,0.57,-0.55,0.08,0.44,0.48,0.18,0.20,0.08
5,6.0,0.37,-0.50,-0.11,-0.44,-0.51,0.41,-0.21,0.13,-0.64,0.09,-0.24,-0.04,0.63
6,7.0,-0.12,-0.29,0.22,0.08,0.19,0.79,0.02,-0.48,-0.15,-0.34,0.02,-0.03,0.25
7,8.0,-0.63,0.06,0.30,0.28,-0.80,-0.41,0.64,-0.27,-0.62,0.60,-0.16,-0.01,0.75
8,9.0,0.04,0.66,0.69,0.33,-0.16,-0.77,-0.33,0.05,0.19,-0.53,0.31,-0.28,0.21
9,10.0,-0.17,-0.36,0.13,0.21,0.70,0.01,-0.23,-0.08,-0.38,-0.22,0.10,-0.18,0.18

***Cau***

,Subs,A1,A2,A3,A4,A5,D1,D2,D3,D4,D5,Avg_Asc,Avg_Des,Overall
0,1.0,-0.01,0.32,0.11,0.22,0.34,0.27,-0.89,0.10,-0.08,0.46,0.20,-0.03,0.21
1,2.0,0.39,0.54,-0.06,0.21,0.14,0.05,0.55,0.57,0.64,0.27,0.24,0.42,0.68
2,3.0,0.06,-0.05,-0.66,0.34,0.73,-0.72,-0.45,0.06,-0.26,0.54,0.08,-0.17,0.40
3,4.0,0.33,0.39,0.37,0.14,-0.48,-0.51,-0.72,0.19,-0.57,0.22,0.15,-0.28,0.17
4,5.0,0.19,-0.26,0.09,0.07,-0.17,-0.47,-0.80,0.13,-0.48,0.42,-0.02,-0.24,0.45
5,6.0,-0.14,-0.06,-0.28,-0.05,-0.41,0.57,0.86,-0.42,-0.60,-0.54,-0.19,-0.03,0.12
6,7.0,-0.60,-0.25,0.54,0.08,0.61,-0.09,0.48,0.15,-0.86,0.06,0.08,-0.05,-0.01
7,8.0,0.27,0.33,0.44,-0.14,-0.25,0.14,0.74,0.02,-0.54,0.32,0.13,0.14,0.29
8,9.0,0.15,0.63,0.02,0.21,0.30,0.84,0.07,0.59,0.01,-0.17,0.26,0.27,0.68
9,10.0,0.11,-0.07,0.37,0.02,-0.20,0.01,0.83,0.44,-0.41,0.56,0.05,0.29,0.30

***dlPFC***

,Subs,A1,A2,A3,A4,A5,D1,D2,D3,D4,D5,Avg_Asc,Avg_Des,Overall
0,1.0,0.22,-0.60,0.16,0.27,0.67,-0.39,-0.64,-0.54,-0.60,0.42,0.14,-0.35,0.25
1,2.0,-0.15,0.16,0.16,0.21,-0.23,0.26,0.82,0.52,0.21,0.34,0.03,0.43,0.36
2,3.0,-0.14,-0.48,0.42,0.38,0.84,-0.15,0.68,-0.09,-0.47,0.49,0.20,0.09,0.31
3,4.0,-0.76,0.39,0.23,-0.08,0.03,0.05,1.00,-0.03,0.07,0.43,-0.04,0.30,0.11
4,5.0,-0.13,-0.05,-0.12,-0.40,-0.46,-0.98,0.70,0.20,-0.70,-0.25,-0.23,-0.21,0.23
5,6.0,0.20,-0.05,0.34,0.18,-0.16,-0.07,0.43,0.08,-0.65,-0.10,0.10,-0.06,0.13
6,7.0,-0.04,0.57,-0.33,0.27,-0.74,0.04,0.70,-0.19,0.64,0.18,-0.05,0.27,0.21
7,8.0,-0.56,-0.62,0.51,0.35,-0.21,-0.58,0.77,-0.30,0.18,-0.28,-0.11,-0.04,0.01
8,9.0,0.21,0.05,0.23,-0.15,-0.76,-0.09,0.01,0.38,0.12,-0.62,-0.08,-0.04,0.34
9,10.0,0.62,0.15,0.37,0.40,0.11,0.68,0.73,0.26,0.39,0.42,0.33,0.50,0.48

***INS***

,Subs,A1,A2,A3,A4,A5,D1,D2,D3,D4,D5,Avg_Asc,Avg_Des,Overall
0,1.0,0.49,-0.48,0.82,0.04,-0.60,-0.21,0.75,-0.10,-0.16,0.35,0.05,0.13,0.39
1,2.0,0.48,0.58,0.71,0.63,0.64,0.32,-0.93,0.08,0.44,-0.05,0.61,-0.03,0.81
2,3.0,0.62,-0.57,0.65,0.25,0.89,-0.16,0.34,0.54,0.75,0.63,0.37,0.42,0.59
3,4.0,0.28,0.38,0.72,0.22,-0.67,-0.12,0.85,0.26,0.22,0.07,0.19,0.26,0.48
4,5.0,-0.09,0.22,0.73,-0.13,0.59,-0.76,-0.22,0.21,0.82,0.27,0.26,0.06,-0.03
5,6.0,0.62,-0.04,-0.30,0.04,-0.05,-0.24,-0.32,0.13,-0.82,0.74,0.05,-0.10,0.43
6,7.0,0.26,-0.20,0.44,0.42,-0.29,-0.44,-0.01,0.19,-0.53,0.14,0.13,-0.13,0.04
7,8.0,0.60,0.45,0.91,-0.06,-0.70,0.21,-0.74,0.37,0.58,0.18,0.24,0.12,0.51
8,9.0,-0.28,-0.18,0.74,-0.04,0.64,0.27,-0.83,-0.32,-0.02,-0.52,0.18,-0.28,0.02
9,10.0,0.71,-0.26,0.75,0.40,-0.80,0.38,0.96,-0.07,0.76,0.38,0.16,0.48,0.34

***IPL***

,Subs,A1,A2,A3,A4,A5,D1,D2,D3,D4,D5,Avg_Asc,Avg_Des,Overall
0,1.0,0.12,0.14,0.32,0.55,-0.15,0.73,0.92,-0.16,0.15,0.09,0.20,0.35,0.44
1,2.0,0.65,0.35,-0.10,-0.13,0.83,0.28,0.69,0.50,-0.68,0.21,0.32,0.20,0.27
2,3.0,0.87,-0.65,0.51,-0.00,-0.35,0.10,0.84,0.34,0.14,0.26,0.08,0.34,0.56
3,4.0,0.08,-0.20,0.70,0.17,-0.50,0.67,0.83,0.29,-0.54,0.27,0.05,0.30,0.56
4,5.0,0.56,0.35,0.04,0.57,0.71,-0.41,0.83,0.63,0.09,0.25,0.45,0.28,0.43
5,6.0,0.08,-0.05,0.52,-0.51,-0.20,0.89,0.99,0.48,0.47,0.27,-0.03,0.62,0.33
6,7.0,0.72,0.12,-0.70,-0.05,0.81,0.74,0.93,-0.03,-0.66,-0.18,0.18,0.16,0.59
7,8.0,0.69,0.35,0.39,-0.45,0.18,0.93,0.96,0.59,-0.50,-0.55,0.23,0.29,0.66
8,9.0,-0.14,0.04,0.29,-0.05,0.21,0.24,0.89,0.25,-0.13,-0.66,0.07,0.12,0.42
9,10.0,0.33,0.52,0.62,0.54,0.34,0.71,0.45,-0.08,-0.59,-0.12,0.47,0.07,0.40

***mCC***

,Subs,A1,A2,A3,A4,A5,D1,D2,D3,D4,D5,Avg_Asc,Avg_Des,Overall
0,1.0,-0.24,0.13,-0.46,0.29,-0.12,-0.43,0.15,-0.40,-0.23,0.35,-0.08,-0.11,0.23
1,2.0,-0.07,-0.27,-0.09,0.57,-0.02,-0.30,-0.47,-0.18,-0.07,0.08,0.02,-0.19,0.14
2,3.0,0.56,-0.08,0.60,0.27,-0.56,0.40,0.60,-0.30,0.54,0.55,0.16,0.36,0.57
3,4.0,0.17,0.03,-0.36,0.10,-0.11,-0.31,0.77,-0.50,0.02,-0.31,-0.03,-0.07,0.12
4,5.0,-0.11,-0.72,-0.16,0.13,0.09,-0.63,-0.68,0.16,0.40,-0.81,-0.15,-0.31,0.48
5,6.0,0.06,0.15,0.27,-0.13,0.28,-0.63,-0.95,-0.04,0.59,0.28,0.13,-0.15,0.90
6,7.0,-0.56,0.40,-0.58,0.09,-0.36,-0.72,-0.66,0.31,0.17,0.18,-0.20,-0.14,0.14
7,8.0,0.57,0.00,-0.44,-0.06,0.22,-0.51,0.39,-0.04,-0.40,-0.19,0.06,-0.15,0.57
8,9.0,-0.30,-0.14,0.28,0.03,0.11,0.68,-0.51,0.11,-0.49,-0.05,-0.00,-0.05,0.28
9,10.0,0.03,-0.37,-0.56,-0.07,0.05,-0.58,-0.36,0.05,0.42,-0.36,-0.18,-0.17,0.36

***Nac***

,Subs,A1,A2,A3,A4,A5,D1,D2,D3,D4,D5,Avg_Asc,Avg_Des,Overall
0,1.0,-0.01,0.59,0.39,0.13,0.35,0.46,-0.90,0.08,-0.18,0.29,0.29,-0.05,0.30
1,2.0,0.01,0.73,0.19,0.10,0.03,0.17,0.59,0.70,0.54,0.11,0.21,0.42,0.55
2,3.0,0.38,0.04,-0.35,0.65,0.07,-0.47,-0.61,0.10,-0.41,0.45,0.16,-0.19,0.35
3,4.0,0.22,0.33,0.38,0.01,-0.51,-0.30,-0.71,-0.10,-0.50,-0.30,0.09,-0.38,0.46
4,5.0,0.39,-0.60,0.08,0.05,-0.03,-0.42,-0.40,-0.07,-0.40,0.31,-0.02,-0.20,0.39
5,6.0,0.32,-0.10,-0.35,0.37,0.01,-0.25,-0.04,-0.46,-0.88,-0.55,0.05,-0.44,0.17
6,7.0,-0.49,-0.20,0.23,0.01,0.54,-0.32,0.03,0.04,-0.79,0.14,0.02,-0.18,0.05
7,8.0,0.39,0.47,0.41,0.12,0.05,0.11,0.67,0.17,-0.85,0.08,0.29,0.04,0.34
8,9.0,0.07,0.80,0.28,0.29,0.23,0.87,-0.13,0.74,0.31,-0.01,0.33,0.36,0.84
9,10.0,0.04,0.29,0.33,-0.08,0.38,-0.27,0.78,0.49,-0.16,0.26,0.19,0.22,0.29

***PCC***

,Subs,A1,A2,A3,A4,A5,D1,D2,D3,D4,D5,Avg_Asc,Avg_Des,Overall
0,1.0,-0.46,0.48,0.43,0.50,0.80,0.73,0.77,0.25,0.16,0.68,0.35,0.52,0.35
1,2.0,-0.81,-0.20,-0.47,-0.16,0.23,-0.77,-0.33,0.15,-0.63,0.05,-0.28,-0.31,0.47
2,3.0,0.43,-0.19,-0.29,0.55,0.84,0.88,0.88,0.66,0.51,0.61,0.27,0.71,0.60
3,4.0,0.56,-0.21,-0.10,0.18,0.85,0.71,0.55,0.40,0.67,-0.36,0.26,0.39,0.30
4,5.0,-0.03,-0.22,-0.66,0.47,0.27,0.51,-0.57,-0.55,-0.55,-0.06,-0.03,-0.24,0.08
5,6.0,0.08,0.02,0.01,0.34,-0.02,0.89,-0.98,0.36,0.38,-0.57,0.09,0.02,0.68
6,7.0,-0.24,-0.13,-0.06,0.33,0.22,0.15,-0.82,0.28,0.58,-0.21,0.02,-0.00,0.24
7,8.0,-0.43,-0.60,0.33,0.59,0.21,0.85,-0.59,0.28,0.09,-0.01,0.02,0.12,0.63
8,9.0,-0.32,0.15,-0.74,0.12,0.48,-0.29,-0.26,0.58,-0.14,0.28,-0.06,0.03,0.20
9,10.0,-0.46,-0.16,0.49,0.52,0.84,0.62,-0.87,-0.22,-0.03,0.02,0.25,-0.10,0.52

***PCG***

,Subs,A1,A2,A3,A4,A5,D1,D2,D3,D4,D5,Avg_Asc,Avg_Des,Overall
0,1.0,-0.30,-0.43,-0.37,0.63,0.88,-0.47,0.43,0.18,-0.01,0.74,0.08,0.17,0.46
1,2.0,0.60,0.54,-0.53,-0.54,0.85,0.40,-0.17,-0.06,-0.37,0.22,0.18,0.00,0.39
2,3.0,0.37,-0.25,0.83,-0.11,-0.82,-0.48,-0.35,-0.06,0.18,0.49,0.00,-0.04,0.28
3,4.0,0.05,0.27,-0.07,-0.68,0.65,0.44,-0.98,-0.02,-0.05,0.34,0.04,-0.05,-0.02
4,5.0,0.43,0.59,-0.33,-0.45,-0.98,-0.65,0.40,0.73,-0.72,-0.50,-0.15,-0.15,0.01
5,6.0,0.15,-0.06,-0.01,-0.28,0.50,0.05,0.63,0.32,-0.68,0.43,0.06,0.15,0.59
6,7.0,-0.06,0.29,-0.80,-0.05,-0.20,-0.03,-0.05,0.12,0.25,0.44,-0.16,0.15,0.27
7,8.0,0.26,-0.36,-0.51,-0.22,0.69,-0.14,0.10,0.65,0.02,-0.19,-0.03,0.09,0.32
8,9.0,-0.53,-0.26,-0.59,-0.52,-0.14,0.03,0.05,0.54,0.80,-0.33,-0.41,0.22,0.51
9,10.0,0.11,0.78,-0.51,-0.23,0.92,0.97,0.01,-0.01,0.10,0.32,0.21,0.28,0.63

***Prec***

,Subs,A1,A2,A3,A4,A5,D1,D2,D3,D4,D5,Avg_Asc,Avg_Des,Overall
0,1.0,-0.07,-0.54,0.69,0.63,0.37,0.69,0.23,-0.24,0.70,0.07,0.22,0.29,0.28
1,2.0,-0.34,-0.03,-0.47,0.19,-0.59,-0.90,-0.14,-0.72,-0.25,-0.20,-0.25,-0.44,0.48
2,3.0,0.17,0.32,0.04,0.89,0.89,0.91,0.61,-0.42,0.68,0.74,0.46,0.50,0.52
3,4.0,-0.17,-0.17,0.79,0.37,0.81,0.27,-0.95,-0.61,-0.24,0.55,0.33,-0.20,0.34
4,5.0,-0.42,-0.54,0.63,0.57,0.87,0.78,0.02,-0.29,0.66,0.62,0.22,0.36,0.14
5,6.0,-0.15,-0.54,0.40,-0.07,0.26,0.09,0.40,-0.31,-0.40,-0.34,-0.02,-0.11,0.60
6,7.0,0.44,-0.39,0.78,0.30,0.16,-0.29,-0.43,0.36,-0.55,-0.39,0.26,-0.26,0.41
7,8.0,-0.27,-0.08,0.78,0.28,0.51,0.90,-0.52,0.36,-0.49,0.64,0.24,0.18,0.64
8,9.0,0.36,0.44,-0.01,0.72,0.88,-0.52,-0.44,0.00,0.12,0.29,0.48,-0.11,0.33
9,10.0,-0.05,-0.36,0.74,0.41,0.69,0.69,-0.42,-0.21,-0.77,0.62,0.29,-0.02,0.47

***TP***

,Subs,A1,A2,A3,A4,A5,D1,D2,D3,D4,D5,Avg_Asc,Avg_Des,Overall
0,1.0,0.12,0.24,-0.07,0.17,0.22,0.32,-0.34,0.12,-0.67,-0.53,0.14,-0.22,0.69
1,2.0,0.15,0.40,0.04,0.16,-0.09,0.35,0.84,0.17,0.33,0.48,0.13,0.43,0.71
2,3.0,-0.27,0.19,0.25,0.07,0.09,0.15,0.21,0.46,-0.36,0.65,0.07,0.22,0.86
3,4.0,-0.01,0.31,0.67,-0.30,-0.18,0.60,-0.36,0.53,0.35,0.10,0.10,0.24,0.38
4,5.0,0.34,0.29,0.31,-0.34,-0.32,-0.43,-0.92,-0.28,-0.27,-0.66,0.06,-0.51,0.80
5,6.0,-0.08,0.04,-0.51,0.33,-0.23,0.23,-0.01,-0.51,0.38,-0.37,-0.09,-0.06,0.36
6,7.0,-0.65,-0.05,-0.49,0.52,0.11,-0.91,0.68,0.48,-0.36,0.09,-0.11,-0.00,0.26
7,8.0,-0.44,-0.08,0.45,-0.22,-0.48,0.13,0.09,0.71,0.85,0.58,-0.15,0.47,0.78
8,9.0,-0.26,-0.19,0.15,-0.34,-0.52,0.40,-0.72,0.61,0.25,-0.03,-0.23,0.10,0.67
9,10.0,-0.53,-0.07,0.28,0.15,-0.10,0.34,0.51,-0.07,0.64,0.69,-0.05,0.42,0.73

***Put***

,Subs,A1,A2,A3,A4,A5,D1,D2,D3,D4,D5,Avg_Asc,Avg_Des,Overall
0,1.0,-0.22,-0.48,-0.43,-0.12,-0.30,0.34,-0.61,0.04,-0.78,0.10,-0.31,-0.18,0.30
1,2.0,-0.50,-0.42,0.08,-0.18,-0.57,0.32,0.86,-0.40,-0.38,0.25,-0.32,0.13,0.13
2,3.0,0.65,-0.04,0.21,0.05,0.57,0.64,0.56,0.32,0.02,0.43,0.29,0.39,0.68
3,4.0,0.16,-0.37,-0.56,-0.14,0.30,0.41,-0.48,0.07,-0.13,-0.84,-0.12,-0.19,0.14
4,5.0,0.02,0.64,-0.31,-0.30,0.13,-0.84,-0.12,0.11,0.71,-0.52,0.04,-0.13,0.37
5,6.0,0.20,0.66,-0.22,-0.40,-0.76,-0.57,-0.61,-0.50,0.56,-0.67,-0.10,-0.36,0.22
6,7.0,0.33,-0.08,-0.41,0.27,-0.01,-0.96,0.35,0.33,-0.10,0.27,0.02,-0.02,0.15
7,8.0,-0.01,-0.22,0.18,0.42,-0.34,-0.73,0.51,0.56,0.17,0.15,0.01,0.13,0.52
8,9.0,-0.32,0.03,-0.22,-0.21,-0.17,0.54,-0.98,0.12,-0.67,0.25,-0.18,-0.15,0.40
9,10.0,-0.17,-0.23,-0.84,-0.07,-0.23,-0.08,0.97,-0.20,-0.48,-0.74,-0.31,-0.11,0.22

***pSTS***

,Subs,A1,A2,A3,A4,A5,D1,D2,D3,D4,D5,Avg_Asc,Avg_Des,Overall
0,1.0,-0.01,0.12,-0.72,0.44,-0.01,0.27,0.24,0.39,0.57,0.14,-0.04,0.32,0.56
1,2.0,-0.12,0.03,0.01,-0.47,0.49,0.61,0.44,0.10,0.33,-0.10,-0.01,0.28,0.48
2,3.0,0.78,-0.73,0.23,0.40,-0.76,-0.36,0.55,0.17,-0.40,0.52,-0.02,0.10,0.71
3,4.0,-0.50,-0.35,0.05,0.36,-0.83,0.12,0.63,0.29,0.71,-0.16,-0.25,0.32,0.42
4,5.0,0.23,0.20,-0.19,0.16,-0.01,0.03,0.85,-0.32,0.11,-0.45,0.08,0.04,0.39
5,6.0,-0.41,0.03,0.01,-0.04,-0.70,0.14,0.99,0.23,0.76,-0.47,-0.22,0.33,0.66
6,7.0,0.40,0.35,-0.26,0.32,0.33,0.26,0.75,0.26,0.60,-0.39,0.23,0.30,0.24
7,8.0,0.45,0.13,0.51,0.23,0.11,-0.05,0.69,0.03,0.78,0.07,0.29,0.30,0.74
8,9.0,0.45,0.13,0.13,0.46,-0.18,0.44,0.84,0.00,-0.52,0.04,0.20,0.16,0.34
9,10.0,0.55,0.93,0.80,0.61,0.55,0.85,0.63,0.15,0.57,0.07,0.69,0.45,0.05

***VC***

,Subs,A1,A2,A3,A4,A5,D1,D2,D3,D4,D5,Avg_Asc,Avg_Des,Overall
0,1.0,-0.06,-0.51,0.12,0.41,-0.66,0.89,-0.33,0.33,-0.37,0.76,-0.14,0.26,0.54
1,2.0,0.12,0.86,0.12,-0.49,-0.34,0.87,-0.33,0.75,0.12,0.01,0.05,0.28,0.46
2,3.0,0.82,0.61,-0.82,-0.31,0.45,-0.55,-0.96,0.71,-0.48,0.92,0.15,-0.07,0.54
3,4.0,0.08,0.64,0.48,0.30,-0.30,0.53,-0.51,0.58,-0.20,0.65,0.24,0.21,0.62
4,5.0,0.58,-0.11,0.71,0.43,0.88,-0.26,0.07,0.40,-0.37,0.48,0.50,0.06,0.63
5,6.0,0.61,-0.36,0.62,0.29,-0.24,0.70,-0.61,0.30,-0.58,-0.19,0.18,-0.08,0.30
6,7.0,0.04,0.55,-0.21,0.06,-0.96,0.93,-0.34,-0.08,0.14,0.27,-0.10,0.18,0.37
7,8.0,0.61,0.26,0.59,0.37,0.47,-0.67,0.37,0.25,-0.39,-0.85,0.46,-0.26,0.65
8,9.0,-0.83,0.23,0.30,-0.24,0.75,0.62,-0.59,0.51,0.24,-0.60,0.04,0.04,0.52
9,10.0,0.48,0.79,0.42,0.61,0.27,0.96,0.49,0.72,0.03,0.46,0.51,0.53,0.58

***vlPFC***

,Subs,A1,A2,A3,A4,A5,D1,D2,D3,D4,D5,Avg_Asc,Avg_Des,Overall
0,1.0,0.22,-0.40,0.05,0.24,0.19,-0.53,-0.18,-0.66,0.04,0.52,0.06,-0.16,0.43
1,2.0,0.50,0.10,0.15,-0.09,-0.01,-0.01,0.74,-0.09,0.12,0.44,0.13,0.24,0.37
2,3.0,0.78,-0.69,0.78,0.26,0.45,-0.59,0.40,0.75,0.16,0.10,0.32,0.16,0.63
3,4.0,-0.36,0.22,0.36,-0.01,-0.44,0.22,0.30,0.06,0.54,0.61,-0.05,0.35,0.53
4,5.0,0.04,0.19,0.44,-0.69,0.15,-0.97,0.99,0.08,-0.02,0.35,0.03,0.09,0.39
5,6.0,0.38,-0.11,0.32,-0.38,-0.88,0.62,0.78,0.59,-0.60,-0.06,-0.13,0.27,0.37
6,7.0,0.52,0.46,0.08,-0.06,0.52,0.29,0.86,-0.08,-0.53,0.45,0.30,0.20,0.40
7,8.0,0.49,-0.33,0.34,-0.12,-0.39,0.78,0.91,0.12,-0.19,-0.39,-0.00,0.25,0.59
8,9.0,0.21,0.35,0.31,-0.04,-0.18,0.29,0.99,-0.06,-0.45,-0.03,0.13,0.15,0.63
9,10.0,0.65,0.22,0.67,0.32,-0.29,0.42,0.99,0.57,0.16,0.54,0.31,0.54,0.21

***mOFC***

,Subs,A1,A2,A3,A4,A5,D1,D2,D3,D4,D5,Avg_Asc,Avg_Des,Overall
0,1.0,0.09,-0.32,0.46,-0.20,0.29,0.35,0.94,-0.25,-0.56,0.23,0.06,0.14,-0.08
1,2.0,0.01,0.15,0.36,-0.20,0.76,-0.35,-0.08,0.22,-0.47,-0.07,0.22,-0.15,0.31
2,3.0,-0.44,0.06,-0.51,0.38,0.73,0.06,0.46,0.16,0.93,-0.51,0.04,0.22,0.83
3,4.0,0.19,0.47,0.59,0.42,-0.67,0.70,0.84,0.13,0.11,0.07,0.20,0.37,0.85
4,5.0,0.44,0.16,-0.19,0.35,0.65,0.16,0.58,-0.19,0.61,0.45,0.28,0.32,0.39
5,6.0,0.26,0.88,-0.12,-0.07,0.18,0.98,-0.49,-0.48,-0.07,-0.57,0.23,-0.13,0.71
6,7.0,-0.58,-0.56,-0.56,0.43,0.18,0.04,-0.72,0.40,-0.72,0.24,-0.22,-0.15,-0.22
7,8.0,0.24,0.04,-0.67,-0.19,-0.53,0.99,-0.10,0.78,0.41,0.15,-0.22,0.45,0.93
8,9.0,-0.41,0.91,-0.74,-0.08,0.71,-0.95,0.49,0.33,0.18,0.17,0.08,0.04,0.87
9,10.0,0.00,-0.10,-0.24,0.44,-0.42,0.19,-0.67,0.17,0.39,-0.09,-0.06,-0.00,0.33

***mPFC***

,Subs,A1,A2,A3,A4,A5,D1,D2,D3,D4,D5,Avg_Asc,Avg_Des,Overall
0,1.0,0.18,-0.20,0.57,-0.01,-0.32,0.89,0.57,0.11,-0.47,-0.02,0.04,0.22,0.32
1,2.0,0.51,0.46,-0.33,-0.06,-0.53,-0.91,-0.22,0.02,-0.27,-0.51,0.01,-0.38,0.14
2,3.0,0.75,-0.28,-0.46,0.12,-0.07,0.77,0.40,-0.14,0.19,0.44,0.01,0.33,0.35
3,4.0,-0.30,-0.16,0.37,-0.08,0.40,0.92,-0.60,0.27,0.26,0.67,0.05,0.30,0.79
4,5.0,-0.40,-0.11,0.38,0.18,0.35,0.20,0.80,0.50,0.11,-0.27,0.08,0.27,0.30
5,6.0,-0.38,-0.07,0.35,0.02,-0.06,0.39,-0.57,0.15,0.24,-0.74,-0.03,-0.11,0.29
6,7.0,0.36,0.15,0.64,0.05,0.26,0.37,-0.04,0.11,0.76,-0.14,0.29,0.21,0.31
7,8.0,-0.05,-0.09,0.70,-0.17,-0.18,0.95,0.45,0.73,0.65,0.26,0.04,0.61,0.79
8,9.0,0.10,-0.26,0.23,-0.21,-0.16,-0.82,-0.72,-0.21,0.01,-0.96,-0.06,-0.54,0.24
9,10.0,0.69,0.54,0.83,0.64,-0.05,0.85,-0.81,0.34,0.51,0.57,0.53,0.29,0.08

***lOFC***

,Subs,A1,A2,A3,A4,A5,D1,D2,D3,D4,D5,Avg_Asc,Avg_Des,Overall
0,1.0,0.45,-0.59,-0.33,-0.15,-0.40,0.52,0.76,0.12,-0.57,0.03,-0.20,0.17,0.47
1,2.0,0.53,-0.19,-0.55,-0.47,-0.34,-0.58,0.08,0.70,-0.69,0.14,-0.20,-0.07,0.25
2,3.0,-0.20,0.37,-0.00,0.54,-0.19,-0.21,-0.95,0.58,0.43,0.15,0.10,0.00,0.61
3,4.0,-0.30,0.29,0.14,0.62,0.02,0.14,-0.06,-0.02,0.40,-0.00,0.15,0.09,0.73
4,5.0,-0.55,-0.09,-0.71,0.33,0.27,-0.54,-0.86,-0.18,0.12,0.60,-0.15,-0.17,0.25
5,6.0,0.52,-0.04,-0.30,0.07,-0.28,0.38,-0.56,-0.50,-0.31,0.13,-0.01,-0.17,0.13
6,7.0,-0.02,-0.35,-0.43,0.58,0.35,0.56,-0.41,-0.31,-0.11,-0.15,0.03,-0.08,0.17
7,8.0,0.22,-0.01,0.26,0.32,-0.79,0.50,-0.27,-0.03,-0.33,-0.42,0.00,-0.11,0.83
8,9.0,0.27,0.86,-0.46,-0.22,0.22,0.52,-0.13,-0.34,0.64,-0.64,0.13,0.01,0.91
9,10.0,0.39,0.50,0.05,0.59,-0.13,-0.45,-0.95,0.31,0.33,-0.11,0.28,-0.17,-0.04

***Average across test subjects Correlation Coefficient between predicted and actual average BOLD values of each Ascent and Descent for ROIs***

,ROIs,A1,A2,A3,A4,A5,D1,D2,D3,D4,D5,Avg_Asc,Avg_Des,Overall
0,dmPFC,0.20,-0.38,-0.03,0.13,-0.12,-0.05,-0.36,-0.16,0.05,0.01,-0.04,-0.10,0.25
1,ACC,0.01,-0.08,-0.34,0.11,0.16,0.17,-0.15,0.13,-0.02,-0.26,-0.03,-0.03,0.36
2,AMY,-0.12,-0.12,0.23,0.10,-0.10,0.05,-0.20,-0.05,-0.20,-0.03,-0.00,-0.09,0.38
3,Cau,0.07,0.15,0.09,0.11,0.06,0.01,0.07,0.18,-0.32,0.21,0.10,0.03,0.33
4,dlPFC,-0.05,-0.05,0.20,0.14,-0.09,-0.12,0.52,0.03,-0.08,0.10,0.03,0.09,0.24
5,INS,0.37,-0.01,0.62,0.18,-0.04,-0.08,-0.02,0.13,0.20,0.22,0.22,0.09,0.36
6,IPL,0.40,0.10,0.26,0.06,0.19,0.49,0.83,0.28,-0.22,-0.02,0.20,0.27,0.47
7,mCC,0.01,-0.09,-0.15,0.12,-0.04,-0.30,-0.17,-0.08,0.10,-0.03,-0.03,-0.10,0.38
8,Nac,0.13,0.24,0.16,0.16,0.11,-0.04,-0.07,0.17,-0.33,0.08,0.16,-0.04,0.37
9,PCC,-0.17,-0.11,-0.11,0.34,0.47,0.43,-0.22,0.22,0.10,0.04,0.09,0.11,0.41
10,PCG,0.11,0.11,-0.29,-0.24,0.23,0.01,0.01,0.24,-0.05,0.20,-0.02,0.08,0.34
11,Prec,-0.05,-0.19,0.44,0.43,0.49,0.26,-0.16,-0.21,-0.05,0.26,0.22,0.02,0.42
12,TP,-0.16,0.11,0.11,0.02,-0.15,0.12,-0.00,0.22,0.11,0.10,-0.01,0.11,0.62
13,Put,0.01,-0.05,-0.25,-0.07,-0.14,-0.09,0.05,0.04,-0.11,-0.13,-0.10,-0.05,0.31
14,pSTS,0.18,0.09,0.06,0.25,-0.10,0.23,0.66,0.13,0.35,-0.07,0.09,0.26,0.46
15,VC,0.25,0.30,0.23,0.14,0.03,0.40,-0.27,0.45,-0.19,0.19,0.19,0.12,0.52
16,vlPFC,0.34,0.00,0.35,-0.06,-0.09,0.05,0.68,0.13,-0.08,0.25,0.11,0.21,0.46
17,mOFC,-0.02,0.17,-0.16,0.13,0.19,0.22,0.13,0.13,0.08,0.01,0.06,0.11,0.49
18,mPFC,0.15,-0.00,0.33,0.05,-0.04,0.36,-0.07,0.19,0.20,-0.07,0.10,0.12,0.36
19,lOFC,0.13,0.08,-0.23,0.22,-0.13,0.08,-0.33,0.03,-0.01,-0.03,0.01,-0.05,0.43

#### Model-8

We will start off by building a LSTM Model:
- `Number of LSTM Layers = 1`
- `Number of Dense Layers = 3`
- `hidden units = 16`
- `dropout = 0.3`

In [72]:
HIDDEN_UNITS = 16
DROPOUT_PROB = 0.3
LSTM_LAYERS = 1
DENSE_LAYERS = 3

In [73]:
sample_model = avg_bold_model()
sample_model.build(input_shape=batch_x.shape)
sample_model.summary()

Model: "sequential_147"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 lstm_189 (LSTM)             (10, 188, 16)             1152

 dropout_147 (Dropout)       (10, 188, 16)             0

 time_distributed_252 (TimeD  (10, 188, 16)            272
 istributed)

 time_distributed_253 (TimeD  (10, 188, 16)            272
 istributed)

 time_distributed_254 (TimeD  (10, 188, 1)             17
 istributed)

=================================================================
Total params: 1,713
Trainable params: 1,713
Non-trainable params: 0
_________________________________________________________________

In [74]:
models = [avg_bold_model() for _ in range(len(ROI_names))]

In [75]:
for i in range(len(ROI_names)):
  models[i].compile(optimizer = 'adam', loss = 'mean_squared_error')

In [76]:
for i in range(len(ROI_names)):
  models[i].load_weights(f"./Models/YOUNG/LSTM/AVG-BOLD/{ROI_names[i]}/model_weights-{LSTM_LAYERS}L-{HIDDEN_UNITS}H-{DENSE_LAYERS}D-{int(DROPOUT_PROB*10)}Drop-{LOOK_AHEAD}Ahead-{ROI_names[i]}")

In [ ]:
preds = [models[i].predict(next(test_data_generator[i].generate())[0]) for i in range(len(ROI_names))]

In [78]:
generate_each_sub_n_overall_pred_corr(preds)

***Each Test Subject's Correlation Coefficient between predicted and actual average BOLD values of each Ascent and Descent for ROIs***


***dmPFC***

,Subs,A1,A2,A3,A4,A5,D1,D2,D3,D4,D5,Avg_Asc,Avg_Des,Overall
0,1.0,0.09,-0.17,0.46,0.34,-0.01,-0.08,0.34,-0.37,0.40,0.45,0.14,0.15,0.18
1,2.0,0.61,-0.21,-0.53,0.14,-0.14,-0.80,-0.57,-0.12,0.47,0.14,-0.03,-0.18,0.53
2,3.0,0.60,-0.41,-0.02,0.44,0.15,-0.47,-0.56,0.55,-0.56,0.22,0.15,-0.16,0.31
3,4.0,-0.30,-0.11,-0.32,-0.05,-0.19,-0.33,-0.68,-0.29,0.49,-0.33,-0.19,-0.23,0.08
4,5.0,-0.17,-0.87,-0.17,0.37,-0.05,0.04,0.61,-0.10,0.18,-0.74,-0.18,-0.00,-0.10
5,6.0,-0.38,-0.38,0.19,-0.22,-0.14,-0.63,-0.42,-0.58,0.60,-0.13,-0.19,-0.23,0.45
6,7.0,0.72,-0.50,0.22,0.20,0.33,0.79,-0.96,-0.71,-0.12,0.30,0.19,-0.14,0.08
7,8.0,0.56,-0.44,-0.12,0.15,0.12,0.29,-0.41,0.11,0.11,0.19,0.05,0.06,0.26
8,9.0,0.27,0.11,-0.00,0.05,-0.26,-0.43,-0.49,0.50,-0.73,0.45,0.03,-0.14,0.42
9,10.0,0.54,-0.59,0.53,0.34,-0.66,0.82,-0.67,-0.38,-0.08,-0.38,0.03,-0.14,0.13

***ACC***

,Subs,A1,A2,A3,A4,A5,D1,D2,D3,D4,D5,Avg_Asc,Avg_Des,Overall
0,1.0,0.18,0.06,-0.52,0.31,-0.07,0.07,-0.23,0.18,-0.17,-0.77,-0.01,-0.18,0.38
1,2.0,-0.07,-0.04,-0.26,-0.07,0.01,-0.65,-0.62,0.32,-0.10,-0.10,-0.09,-0.23,0.57
2,3.0,0.54,-0.28,-0.64,0.09,0.48,0.55,0.65,-0.41,-0.17,0.56,0.04,0.24,0.32
3,4.0,-0.12,-0.14,-0.05,-0.08,0.58,0.47,0.16,0.30,-0.48,0.15,0.04,0.12,-0.02
4,5.0,-0.00,0.58,-0.77,0.60,0.58,0.55,-0.56,0.62,-0.36,-0.73,0.20,-0.10,0.04
5,6.0,-0.17,-0.59,-0.18,-0.07,0.13,0.92,-0.11,0.22,0.51,-0.62,-0.18,0.18,0.47
6,7.0,-0.20,-0.44,-0.53,0.41,-0.35,0.31,-0.09,-0.17,-0.42,-0.51,-0.22,-0.18,0.08
7,8.0,0.41,-0.40,-0.21,-0.90,0.02,0.32,-0.23,0.35,0.49,-0.09,-0.22,0.17,0.70
8,9.0,-0.05,0.65,-0.19,0.68,0.01,-0.72,-0.82,-0.10,0.39,-0.06,0.22,-0.26,0.50
9,10.0,-0.51,-0.28,-0.16,0.31,0.45,-0.09,0.17,-0.03,0.05,-0.45,-0.04,-0.07,0.49

***AMY***

,Subs,A1,A2,A3,A4,A5,D1,D2,D3,D4,D5,Avg_Asc,Avg_Des,Overall
0,1.0,-0.58,-0.42,0.32,-0.07,-0.05,0.47,0.30,0.12,0.16,0.36,-0.16,0.28,0.19
1,2.0,-0.28,0.33,0.00,0.20,-0.20,-0.65,-0.89,-0.18,-0.53,-0.05,0.01,-0.46,0.48
2,3.0,0.16,-0.20,0.57,-0.07,0.27,0.41,0.10,-0.24,-0.55,-0.49,0.15,-0.15,0.56
3,4.0,-0.40,0.01,-0.37,0.27,-0.64,-0.04,-0.68,0.41,0.32,-0.31,-0.23,-0.06,0.15
4,5.0,0.26,-0.54,0.41,0.28,0.37,0.75,-0.54,0.07,0.43,0.51,0.16,0.24,-0.06
5,6.0,0.22,-0.48,0.04,-0.49,-0.50,0.54,-0.10,0.13,-0.59,0.13,-0.24,0.02,0.57
6,7.0,-0.02,-0.35,0.33,0.10,0.27,0.82,0.15,-0.48,-0.38,-0.35,0.07,-0.05,0.20
7,8.0,-0.64,0.08,0.29,0.21,-0.80,-0.37,0.65,-0.29,-0.65,0.62,-0.17,-0.01,0.73
8,9.0,0.05,0.73,0.69,0.30,-0.21,-0.79,-0.36,-0.09,0.15,-0.56,0.31,-0.33,0.13
9,10.0,-0.17,-0.25,0.17,0.14,0.63,0.07,-0.10,0.03,-0.65,-0.27,0.10,-0.18,0.14

***Cau***

,Subs,A1,A2,A3,A4,A5,D1,D2,D3,D4,D5,Avg_Asc,Avg_Des,Overall
0,1.0,-0.07,0.14,0.17,0.29,0.27,0.31,-0.90,0.06,-0.11,0.44,0.16,-0.04,0.25
1,2.0,0.33,0.44,0.05,0.19,0.19,0.06,0.47,0.56,0.61,0.25,0.24,0.39,0.70
2,3.0,0.22,-0.00,-0.59,0.36,0.70,-0.68,-0.47,0.15,-0.14,0.47,0.14,-0.13,0.43
3,4.0,0.39,0.34,0.39,0.16,-0.43,-0.52,-0.70,0.13,-0.49,0.33,0.17,-0.25,0.17
4,5.0,0.15,-0.34,0.14,0.01,-0.13,-0.46,-0.83,0.28,-0.44,0.38,-0.03,-0.21,0.48
5,6.0,-0.15,-0.17,-0.28,-0.03,-0.46,0.51,0.85,-0.32,-0.53,-0.49,-0.22,0.00,0.14
6,7.0,-0.53,-0.34,0.50,0.05,0.52,-0.12,0.24,0.16,-0.89,0.07,0.04,-0.11,0.01
7,8.0,0.38,0.28,0.41,-0.19,-0.27,0.18,0.73,-0.10,-0.57,0.30,0.12,0.11,0.32
8,9.0,0.29,0.58,0.06,0.22,0.25,0.84,-0.25,0.56,0.17,-0.03,0.28,0.26,0.70
9,10.0,0.13,-0.16,0.48,0.06,-0.22,-0.02,0.83,0.47,-0.45,0.57,0.06,0.28,0.38

***dlPFC***

,Subs,A1,A2,A3,A4,A5,D1,D2,D3,D4,D5,Avg_Asc,Avg_Des,Overall
0,1.0,0.21,-0.72,0.14,0.09,0.65,-0.37,-0.63,-0.54,-0.62,0.40,0.07,-0.35,0.23
1,2.0,-0.17,0.17,0.11,0.21,-0.24,0.28,0.85,0.55,0.21,0.32,0.02,0.44,0.32
2,3.0,-0.25,-0.47,0.41,0.25,0.85,-0.11,0.68,-0.23,-0.55,0.49,0.16,0.06,0.29
3,4.0,-0.76,0.41,0.21,-0.07,0.05,0.05,1.00,-0.04,0.07,0.42,-0.03,0.30,0.07
4,5.0,-0.14,-0.09,-0.16,-0.40,-0.47,-0.98,0.71,0.22,-0.68,-0.25,-0.25,-0.20,0.14
5,6.0,0.19,-0.13,0.34,0.19,-0.16,-0.06,0.43,-0.02,-0.64,-0.20,0.09,-0.10,0.09
6,7.0,-0.03,0.58,-0.31,0.23,-0.74,0.04,0.71,-0.19,0.65,0.16,-0.05,0.27,0.18
7,8.0,-0.61,-0.66,0.49,0.35,-0.25,-0.60,0.78,-0.28,0.19,-0.29,-0.14,-0.04,-0.01
8,9.0,0.18,-0.01,0.18,-0.20,-0.79,-0.08,0.28,0.37,0.12,-0.65,-0.13,0.01,0.36
9,10.0,0.62,0.15,0.37,0.40,0.07,0.69,0.76,0.28,0.40,0.43,0.32,0.51,0.46

***INS***

,Subs,A1,A2,A3,A4,A5,D1,D2,D3,D4,D5,Avg_Asc,Avg_Des,Overall
0,1.0,0.52,-0.49,0.83,-0.06,-0.59,-0.20,0.73,-0.05,-0.11,0.35,0.04,0.14,0.37
1,2.0,0.41,0.58,0.73,0.64,0.63,0.39,-0.93,0.08,0.45,-0.04,0.60,-0.01,0.78
2,3.0,0.58,-0.51,0.64,0.17,0.87,-0.11,0.42,0.52,0.74,0.67,0.35,0.45,0.51
3,4.0,0.27,0.41,0.70,0.14,-0.68,-0.04,0.85,0.26,0.26,0.15,0.17,0.30,0.41
4,5.0,-0.06,0.21,0.79,-0.18,0.61,-0.76,-0.18,0.23,0.81,0.25,0.27,0.07,-0.09
5,6.0,0.54,-0.06,-0.30,0.05,-0.06,-0.23,-0.21,0.16,-0.81,0.75,0.03,-0.07,0.34
6,7.0,0.25,-0.18,0.47,0.43,-0.23,-0.43,0.03,0.22,-0.53,0.12,0.15,-0.12,-0.09
7,8.0,0.51,0.52,0.91,-0.07,-0.72,0.27,-0.71,0.35,0.60,0.18,0.23,0.14,0.43
8,9.0,-0.20,-0.16,0.75,-0.05,0.70,0.29,-0.86,-0.34,-0.01,-0.54,0.21,-0.29,-0.02
9,10.0,0.71,-0.26,0.76,0.40,-0.81,0.36,0.86,-0.06,0.77,0.40,0.16,0.47,0.26

***IPL***

,Subs,A1,A2,A3,A4,A5,D1,D2,D3,D4,D5,Avg_Asc,Avg_Des,Overall
0,1.0,0.16,0.15,0.33,0.41,-0.12,0.71,0.91,-0.14,0.07,0.07,0.19,0.32,0.47
1,2.0,0.65,0.33,-0.08,-0.11,0.84,0.22,0.71,0.44,-0.70,0.18,0.33,0.17,0.18
2,3.0,0.81,-0.63,0.49,-0.23,-0.37,0.07,0.83,0.21,0.03,0.25,0.01,0.28,0.54
3,4.0,0.05,-0.23,0.70,0.17,-0.42,0.63,0.84,0.28,-0.56,0.27,0.05,0.29,0.54
4,5.0,0.54,0.38,0.09,0.55,0.74,-0.48,0.82,0.60,0.00,0.20,0.46,0.23,0.42
5,6.0,0.06,-0.07,0.57,-0.50,-0.20,0.87,0.99,0.42,0.44,0.24,-0.03,0.59,0.37
6,7.0,0.72,0.12,-0.72,-0.11,0.85,0.73,0.94,-0.04,-0.64,-0.21,0.17,0.16,0.63
7,8.0,0.65,0.46,0.37,-0.51,0.20,0.94,0.98,0.49,-0.47,-0.56,0.23,0.28,0.58
8,9.0,-0.13,0.01,0.28,-0.15,0.26,0.24,0.89,0.19,-0.09,-0.73,0.05,0.10,0.43
9,10.0,0.35,0.49,0.62,0.50,0.30,0.67,0.45,-0.22,-0.61,-0.19,0.45,0.02,0.40

***mCC***

,Subs,A1,A2,A3,A4,A5,D1,D2,D3,D4,D5,Avg_Asc,Avg_Des,Overall
0,1.0,-0.23,0.07,-0.53,-0.04,-0.04,-0.42,0.16,-0.53,-0.15,0.37,-0.15,-0.11,0.17
1,2.0,-0.09,-0.28,0.01,0.66,0.02,-0.30,-0.63,-0.14,0.21,0.17,0.06,-0.14,0.01
2,3.0,0.34,-0.13,0.58,0.22,-0.52,0.36,0.52,-0.40,0.50,0.54,0.10,0.30,0.46
3,4.0,0.19,0.09,-0.29,0.22,-0.16,-0.54,0.85,-0.49,0.09,-0.34,0.01,-0.09,0.15
4,5.0,-0.05,-0.74,-0.21,0.12,0.11,-0.64,-0.61,0.14,0.40,-0.85,-0.15,-0.31,0.49
5,6.0,0.06,0.16,0.44,-0.10,0.31,-0.49,-0.93,0.01,0.64,0.39,0.17,-0.08,0.87
6,7.0,-0.47,0.49,-0.62,-0.01,-0.34,-0.90,-0.55,0.32,0.19,0.22,-0.19,-0.14,0.19
7,8.0,0.47,-0.03,-0.38,-0.14,0.22,-0.63,0.81,-0.01,-0.30,-0.20,0.03,-0.07,0.51
8,9.0,-0.27,-0.36,0.28,-0.06,0.11,0.65,-0.62,0.04,-0.35,-0.31,-0.06,-0.12,0.31
9,10.0,-0.02,-0.29,-0.68,-0.13,0.06,-0.75,-0.50,0.04,0.39,-0.28,-0.21,-0.22,0.22

***Nac***

,Subs,A1,A2,A3,A4,A5,D1,D2,D3,D4,D5,Avg_Asc,Avg_Des,Overall
0,1.0,0.05,0.63,0.36,0.05,0.36,0.45,-0.88,0.10,-0.15,0.31,0.29,-0.03,0.27
1,2.0,0.06,0.75,0.10,0.11,0.07,0.15,0.64,0.69,0.55,0.15,0.22,0.44,0.52
2,3.0,0.31,0.02,-0.42,0.58,0.10,-0.50,-0.62,0.01,-0.50,0.49,0.12,-0.22,0.34
3,4.0,0.16,0.35,0.34,0.01,-0.51,-0.29,-0.71,-0.04,-0.54,-0.32,0.07,-0.38,0.45
4,5.0,0.43,-0.57,0.05,0.08,-0.03,-0.45,-0.38,-0.08,-0.41,0.33,-0.01,-0.20,0.38
5,6.0,0.37,-0.05,-0.35,0.36,0.04,-0.21,-0.03,-0.56,-0.89,-0.52,0.07,-0.44,0.15
6,7.0,-0.57,-0.11,0.28,0.02,0.56,-0.31,0.27,0.04,-0.71,0.15,0.04,-0.11,0.06
7,8.0,0.28,0.48,0.42,0.15,0.06,0.12,0.69,0.18,-0.84,0.11,0.28,0.05,0.34
8,9.0,-0.03,0.83,0.27,0.29,0.28,0.87,0.07,0.76,0.18,-0.09,0.33,0.36,0.84
9,10.0,0.04,0.29,0.27,-0.11,0.36,-0.26,0.80,0.45,-0.13,0.26,0.17,0.22,0.20

***PCC***

,Subs,A1,A2,A3,A4,A5,D1,D2,D3,D4,D5,Avg_Asc,Avg_Des,Overall
0,1.0,-0.59,0.26,0.44,0.31,0.79,0.73,0.78,0.19,0.20,0.73,0.24,0.53,0.27
1,2.0,-0.82,-0.30,-0.57,-0.19,0.28,-0.81,-0.25,0.22,-0.60,0.07,-0.32,-0.27,0.43
2,3.0,0.04,-0.34,-0.35,0.43,0.86,0.89,0.18,0.43,0.19,0.58,0.13,0.45,0.54
3,4.0,0.58,-0.31,0.01,0.23,0.86,0.70,0.68,0.43,0.73,-0.54,0.27,0.40,0.25
4,5.0,-0.03,-0.21,-0.65,0.49,0.30,0.59,-0.22,-0.51,-0.57,-0.19,-0.02,-0.18,0.00
5,6.0,0.19,-0.07,0.10,0.41,-0.06,0.88,-0.99,0.24,0.39,-0.76,0.11,-0.05,0.65
6,7.0,-0.30,-0.08,0.01,0.34,0.25,0.09,-0.79,0.31,0.62,-0.22,0.04,0.00,0.21
7,8.0,-0.61,-0.80,0.45,0.62,0.17,0.86,-0.67,0.36,0.08,0.00,-0.03,0.13,0.59
8,9.0,-0.48,0.03,-0.78,0.02,0.53,-0.37,-0.29,0.41,-0.14,0.05,-0.14,-0.07,0.12
9,10.0,-0.39,-0.16,0.53,0.53,0.83,0.64,-0.83,-0.27,0.00,-0.03,0.27,-0.10,0.48

***PCG***

,Subs,A1,A2,A3,A4,A5,D1,D2,D3,D4,D5,Avg_Asc,Avg_Des,Overall
0,1.0,-0.28,-0.49,-0.46,0.37,0.88,-0.37,0.46,0.14,-0.06,0.73,0.00,0.18,0.38
1,2.0,0.61,0.54,-0.51,-0.53,0.85,0.44,-0.19,-0.01,-0.38,0.18,0.19,0.01,0.27
2,3.0,0.24,-0.43,0.78,-0.22,-0.82,-0.46,-0.46,-0.21,-0.09,0.42,-0.09,-0.16,0.31
3,4.0,0.07,0.26,-0.12,-0.69,0.68,0.41,-0.99,-0.09,-0.04,0.31,0.04,-0.08,0.07
4,5.0,0.44,0.64,-0.32,-0.45,-0.99,-0.67,0.33,0.65,-0.75,-0.50,-0.14,-0.19,0.08
5,6.0,0.12,-0.09,-0.03,-0.28,0.52,0.03,0.62,0.11,-0.66,0.37,0.05,0.09,0.50
6,7.0,-0.07,0.29,-0.84,-0.14,-0.20,0.01,-0.07,0.10,0.26,0.44,-0.19,0.15,0.21
7,8.0,0.13,-0.54,-0.55,-0.26,0.68,-0.17,-0.11,0.64,-0.01,-0.23,-0.11,0.02,0.33
8,9.0,-0.54,-0.36,-0.60,-0.65,-0.16,0.15,0.08,0.51,0.82,-0.45,-0.46,0.22,0.46
9,10.0,0.08,0.78,-0.50,-0.26,0.92,0.97,-0.03,0.02,0.08,0.31,0.20,0.27,0.55

***Prec***

,Subs,A1,A2,A3,A4,A5,D1,D2,D3,D4,D5,Avg_Asc,Avg_Des,Overall
0,1.0,-0.07,-0.53,0.69,0.64,0.37,0.69,0.40,-0.22,0.68,0.09,0.22,0.33,0.29
1,2.0,-0.33,-0.01,-0.46,0.19,-0.60,-0.90,-0.20,-0.72,-0.25,-0.22,-0.24,-0.46,0.49
2,3.0,0.17,0.33,0.04,0.90,0.89,0.91,0.60,-0.38,0.69,0.74,0.47,0.51,0.54
3,4.0,-0.13,-0.20,0.79,0.37,0.81,0.28,-0.94,-0.60,-0.23,0.56,0.33,-0.19,0.33
4,5.0,-0.41,-0.53,0.63,0.57,0.87,0.78,0.01,-0.29,0.66,0.63,0.23,0.36,0.14
5,6.0,-0.14,-0.53,0.41,-0.07,0.26,0.10,0.40,-0.29,-0.39,-0.33,-0.01,-0.10,0.61
6,7.0,0.44,-0.37,0.78,0.30,0.15,-0.27,-0.45,0.36,-0.53,-0.40,0.26,-0.26,0.40
7,8.0,-0.27,-0.06,0.78,0.29,0.51,0.90,-0.52,0.36,-0.48,0.64,0.25,0.18,0.65
8,9.0,0.38,0.44,0.01,0.71,0.87,-0.52,-0.40,0.04,0.13,0.28,0.48,-0.09,0.33
9,10.0,-0.02,-0.36,0.75,0.41,0.70,0.70,-0.41,-0.20,-0.75,0.62,0.30,-0.01,0.48

***TP***

,Subs,A1,A2,A3,A4,A5,D1,D2,D3,D4,D5,Avg_Asc,Avg_Des,Overall
0,1.0,0.13,0.26,-0.15,0.08,0.28,0.31,-0.35,0.07,-0.69,-0.59,0.12,-0.25,0.69
1,2.0,0.16,0.41,0.05,0.17,-0.08,0.36,0.85,0.14,0.34,0.50,0.14,0.44,0.67
2,3.0,-0.32,0.19,0.28,0.08,0.08,0.14,0.22,0.44,-0.53,0.66,0.06,0.19,0.82
3,4.0,0.01,0.31,0.67,-0.30,-0.14,0.58,-0.37,0.51,0.37,0.13,0.11,0.24,0.41
4,5.0,0.28,0.29,0.33,-0.37,-0.31,-0.44,-0.92,-0.31,-0.28,-0.72,0.04,-0.53,0.77
5,6.0,-0.00,0.04,-0.49,0.35,-0.29,0.23,0.09,-0.54,0.40,-0.40,-0.08,-0.04,0.37
6,7.0,-0.62,-0.04,-0.47,0.52,0.12,-0.92,0.67,0.50,-0.37,0.05,-0.10,-0.01,0.29
7,8.0,-0.45,-0.09,0.46,-0.28,-0.50,0.12,0.04,0.69,0.85,0.60,-0.17,0.46,0.75
8,9.0,-0.27,-0.17,0.20,-0.35,-0.60,0.40,-0.77,0.63,0.03,-0.11,-0.24,0.04,0.71
9,10.0,-0.53,-0.16,0.32,0.17,-0.10,0.35,0.46,-0.05,0.66,0.69,-0.06,0.42,0.69

***Put***

,Subs,A1,A2,A3,A4,A5,D1,D2,D3,D4,D5,Avg_Asc,Avg_Des,Overall
0,1.0,-0.20,-0.35,-0.51,-0.28,-0.20,0.36,-0.52,0.06,-0.74,0.27,-0.31,-0.11,0.29
1,2.0,-0.43,-0.35,-0.22,-0.10,-0.69,0.34,0.73,-0.38,-0.36,0.14,-0.36,0.09,0.11
2,3.0,0.43,0.07,0.03,-0.02,0.65,0.61,0.62,0.23,-0.04,0.48,0.23,0.38,0.64
3,4.0,0.21,-0.34,-0.52,-0.13,0.34,0.36,-0.48,0.12,-0.10,-0.81,-0.09,-0.18,0.07
4,5.0,-0.08,0.72,-0.35,-0.29,-0.01,-0.84,-0.06,0.10,0.72,-0.52,-0.00,-0.12,0.32
5,6.0,0.28,0.49,-0.16,-0.40,-0.92,-0.55,-0.35,-0.48,0.70,-0.78,-0.14,-0.29,0.22
6,7.0,0.32,0.03,-0.42,0.22,0.10,-0.97,0.50,0.54,-0.03,0.39,0.05,0.09,0.14
7,8.0,-0.19,-0.23,0.31,0.39,-0.48,-0.67,0.62,0.64,0.21,0.15,-0.04,0.19,0.47
8,9.0,-0.37,-0.01,-0.41,-0.23,0.13,0.60,-0.65,0.12,-0.78,0.10,-0.18,-0.12,0.35
9,10.0,-0.40,-0.27,-0.68,-0.05,-0.20,-0.09,0.99,-0.21,-0.47,-0.64,-0.32,-0.08,0.02

***pSTS***

,Subs,A1,A2,A3,A4,A5,D1,D2,D3,D4,D5,Avg_Asc,Avg_Des,Overall
0,1.0,-0.00,0.12,-0.77,0.30,0.03,0.30,0.26,0.36,0.52,0.17,-0.06,0.32,0.50
1,2.0,-0.16,0.01,-0.03,-0.49,0.50,0.60,0.51,0.10,0.34,-0.11,-0.03,0.29,0.42
2,3.0,0.78,-0.77,0.11,0.34,-0.79,-0.36,0.54,0.11,-0.43,0.50,-0.07,0.07,0.65
3,4.0,-0.59,-0.36,-0.01,0.33,-0.77,0.13,0.63,0.25,0.70,-0.25,-0.28,0.29,0.43
4,5.0,0.16,0.20,-0.29,0.12,0.01,-0.01,0.86,-0.29,0.01,-0.48,0.04,0.02,0.32
5,6.0,-0.47,-0.00,-0.08,-0.05,-0.74,0.15,0.99,0.08,0.61,-0.51,-0.27,0.26,0.58
6,7.0,0.33,0.34,-0.30,0.30,0.33,0.25,0.77,0.28,0.62,-0.39,0.20,0.31,0.15
7,8.0,0.30,-0.03,0.49,0.23,0.14,-0.01,0.67,0.06,0.57,0.06,0.23,0.27,0.69
8,9.0,0.46,0.03,0.05,0.40,-0.20,0.46,0.84,-0.09,-0.45,-0.14,0.15,0.12,0.28
9,10.0,0.53,0.94,0.78,0.62,0.53,0.85,0.66,0.12,0.60,0.06,0.68,0.46,0.09

***VC***

,Subs,A1,A2,A3,A4,A5,D1,D2,D3,D4,D5,Avg_Asc,Avg_Des,Overall
0,1.0,-0.11,-0.43,0.15,0.60,-0.59,0.88,-0.58,0.27,-0.31,0.78,-0.08,0.21,0.59
1,2.0,0.14,0.86,0.20,-0.42,-0.20,0.85,-0.33,0.77,-0.00,0.10,0.12,0.28,0.53
2,3.0,0.85,0.39,-0.78,0.02,0.46,-0.55,-0.98,0.80,-0.05,0.91,0.19,0.03,0.65
3,4.0,0.15,0.63,0.50,0.24,-0.23,0.46,-0.41,0.56,-0.24,0.62,0.26,0.20,0.68
4,5.0,0.57,-0.08,0.67,0.47,0.90,-0.22,0.17,0.45,-0.35,0.42,0.51,0.09,0.67
5,6.0,0.60,-0.34,0.63,0.25,-0.28,0.74,-0.60,0.42,-0.63,-0.20,0.17,-0.05,0.52
6,7.0,0.07,0.59,-0.30,0.12,-0.90,0.92,-0.30,-0.05,-0.05,0.31,-0.08,0.17,0.44
7,8.0,0.69,0.16,0.54,0.38,0.44,-0.33,0.25,0.33,-0.40,-0.75,0.44,-0.18,0.67
8,9.0,-0.67,0.41,0.33,-0.12,0.79,0.63,-0.60,0.59,0.09,-0.26,0.15,0.09,0.58
9,10.0,0.45,0.78,0.45,0.61,0.28,0.95,0.23,0.72,-0.07,0.54,0.51,0.47,0.60

***vlPFC***

,Subs,A1,A2,A3,A4,A5,D1,D2,D3,D4,D5,Avg_Asc,Avg_Des,Overall
0,1.0,0.20,-0.47,0.08,-0.04,0.09,-0.49,-0.08,-0.71,0.06,0.56,-0.03,-0.13,0.24
1,2.0,0.54,0.11,0.11,-0.11,-0.00,0.08,0.76,-0.04,-0.03,0.42,0.13,0.24,0.06
2,3.0,0.68,-0.54,0.75,0.00,0.33,-0.66,0.40,0.69,-0.18,0.21,0.24,0.09,0.49
3,4.0,-0.46,0.26,0.44,-0.01,-0.19,0.25,0.26,0.03,0.68,0.51,0.01,0.35,0.29
4,5.0,0.12,0.08,0.41,-0.65,0.16,-0.99,0.99,0.05,-0.06,0.36,0.02,0.07,0.44
5,6.0,0.35,-0.27,0.39,-0.42,-0.91,0.64,0.80,0.59,-0.58,-0.12,-0.17,0.27,0.22
6,7.0,0.54,0.50,0.12,-0.19,0.56,0.36,0.86,-0.08,-0.58,0.45,0.31,0.20,0.22
7,8.0,0.26,-0.07,0.30,-0.14,-0.42,0.83,0.91,0.04,-0.07,-0.40,-0.01,0.26,0.46
8,9.0,-0.01,0.21,0.27,-0.11,-0.09,0.36,0.98,-0.33,-0.34,-0.24,0.05,0.09,0.52
9,10.0,0.68,0.24,0.65,0.31,-0.23,0.48,0.99,0.61,-0.03,0.56,0.33,0.52,0.13

***mOFC***

,Subs,A1,A2,A3,A4,A5,D1,D2,D3,D4,D5,Avg_Asc,Avg_Des,Overall
0,1.0,0.06,-0.29,0.46,-0.08,0.27,0.33,0.92,-0.31,-0.57,0.21,0.08,0.12,0.10
1,2.0,-0.02,0.11,0.35,-0.14,0.76,-0.37,-0.07,0.24,-0.43,-0.07,0.21,-0.14,0.44
2,3.0,-0.44,0.03,-0.53,0.30,0.68,0.04,0.45,0.20,0.92,-0.49,0.01,0.22,0.86
3,4.0,0.15,0.58,0.54,0.47,-0.67,0.73,0.86,0.17,0.12,0.04,0.21,0.38,0.88
4,5.0,0.42,0.32,-0.24,0.38,0.63,0.13,0.61,-0.18,0.63,0.51,0.30,0.34,0.54
5,6.0,0.23,0.88,-0.22,-0.06,0.11,0.99,-0.51,-0.45,-0.28,-0.55,0.19,-0.16,0.74
6,7.0,-0.58,-0.60,-0.62,0.46,0.19,0.03,-0.73,0.36,-0.75,0.23,-0.23,-0.17,-0.18
7,8.0,0.22,-0.06,-0.64,-0.24,-0.52,0.99,-0.11,0.77,0.42,0.10,-0.25,0.43,0.92
8,9.0,-0.36,0.91,-0.75,-0.04,0.65,-0.97,0.50,0.32,0.18,0.36,0.08,0.08,0.90
9,10.0,0.04,-0.06,-0.29,0.41,-0.41,0.21,-0.66,0.16,0.39,-0.09,-0.06,0.00,0.33

***mPFC***

,Subs,A1,A2,A3,A4,A5,D1,D2,D3,D4,D5,Avg_Asc,Avg_Des,Overall
0,1.0,0.30,-0.26,0.66,-0.18,-0.36,0.88,0.51,0.06,-0.36,0.11,0.03,0.24,0.26
1,2.0,0.52,0.55,-0.52,0.00,-0.44,-0.89,-0.23,0.03,-0.33,-0.61,0.02,-0.41,0.18
2,3.0,0.58,-0.94,-0.43,0.18,0.01,0.78,0.34,-0.61,0.06,0.40,-0.12,0.19,0.37
3,4.0,-0.30,-0.05,0.38,-0.09,0.33,0.92,-0.49,0.19,0.33,0.72,0.05,0.33,0.71
4,5.0,-0.45,-0.17,0.17,0.23,0.21,0.31,0.71,0.44,0.23,-0.35,-0.00,0.27,0.27
5,6.0,-0.35,-0.18,0.38,0.01,0.07,0.41,-0.50,0.23,0.19,-0.89,-0.01,-0.11,0.23
6,7.0,0.22,0.24,0.73,-0.07,0.25,0.45,0.07,0.13,0.79,-0.18,0.27,0.25,0.21
7,8.0,-0.03,0.10,0.76,-0.20,-0.21,0.95,0.46,0.77,0.67,0.40,0.08,0.65,0.75
8,9.0,0.23,-0.49,0.14,-0.47,-0.08,-0.75,-0.77,-0.37,-0.00,-0.79,-0.13,-0.54,0.09
9,10.0,0.65,0.60,0.91,0.64,-0.14,0.84,-0.87,0.26,0.65,0.61,0.53,0.30,-0.05

***lOFC***

,Subs,A1,A2,A3,A4,A5,D1,D2,D3,D4,D5,Avg_Asc,Avg_Des,Overall
0,1.0,0.44,-0.61,-0.31,-0.04,-0.45,0.51,0.74,0.13,-0.58,0.04,-0.19,0.17,0.56
1,2.0,0.55,-0.20,-0.62,-0.49,-0.24,-0.58,0.07,0.67,-0.70,0.09,-0.20,-0.09,0.25
2,3.0,-0.14,0.29,-0.04,0.56,-0.15,-0.19,-0.94,0.63,0.44,0.32,0.10,0.05,0.57
3,4.0,-0.29,0.32,0.11,0.65,-0.08,0.17,-0.04,-0.02,0.40,-0.01,0.14,0.10,0.72
4,5.0,-0.54,0.02,-0.71,0.37,0.35,-0.60,-0.86,-0.18,0.14,0.58,-0.10,-0.18,0.40
5,6.0,0.53,-0.04,-0.27,0.09,-0.27,0.36,-0.59,-0.57,-0.34,0.05,0.01,-0.22,0.13
6,7.0,-0.04,-0.36,-0.39,0.59,0.38,0.52,-0.43,-0.30,-0.12,-0.14,0.04,-0.09,0.21
7,8.0,0.25,-0.25,0.27,0.31,-0.80,0.50,-0.24,0.02,-0.32,-0.43,-0.04,-0.09,0.87
8,9.0,0.27,0.86,-0.49,-0.23,0.19,0.55,-0.11,-0.43,0.64,-0.59,0.12,0.01,0.92
9,10.0,0.39,0.34,0.06,0.57,-0.15,-0.44,-0.95,0.30,0.35,-0.09,0.24,-0.17,0.07

***Average across test subjects Correlation Coefficient between predicted and actual average BOLD values of each Ascent and Descent for ROIs***

,ROIs,A1,A2,A3,A4,A5,D1,D2,D3,D4,D5,Avg_Asc,Avg_Des,Overall
0,dmPFC,0.25,-0.36,0.02,0.18,-0.09,-0.08,-0.38,-0.14,0.08,0.02,0.00,-0.10,0.24
1,ACC,-0.00,-0.09,-0.35,0.13,0.18,0.17,-0.17,0.13,-0.03,-0.26,-0.03,-0.03,0.35
2,AMY,-0.14,-0.11,0.25,0.09,-0.09,0.12,-0.15,-0.05,-0.23,-0.04,0.00,-0.07,0.31
3,Cau,0.11,0.08,0.14,0.11,0.04,0.01,-0.00,0.20,-0.28,0.23,0.10,0.03,0.36
4,dlPFC,-0.08,-0.08,0.18,0.10,-0.10,-0.11,0.56,0.01,-0.09,0.08,0.01,0.09,0.21
5,INS,0.35,0.01,0.63,0.15,-0.03,-0.05,0.00,0.14,0.22,0.23,0.22,0.11,0.29
6,IPL,0.39,0.10,0.26,0.00,0.21,0.46,0.84,0.22,-0.25,-0.05,0.19,0.24,0.46
7,mCC,-0.01,-0.10,-0.14,0.08,-0.02,-0.37,-0.15,-0.10,0.16,-0.03,-0.04,-0.10,0.34
8,Nac,0.11,0.26,0.13,0.16,0.13,-0.04,-0.02,0.16,-0.35,0.09,0.16,-0.03,0.36
9,PCC,-0.24,-0.20,-0.08,0.32,0.48,0.42,-0.24,0.18,0.09,-0.03,0.06,0.08,0.36
10,PCG,0.08,0.06,-0.32,-0.31,0.24,0.03,-0.04,0.19,-0.08,0.16,-0.05,0.05,0.32
11,Prec,-0.04,-0.18,0.44,0.43,0.48,0.27,-0.15,-0.19,-0.05,0.26,0.23,0.03,0.43
12,TP,-0.16,0.10,0.12,0.01,-0.15,0.11,-0.01,0.21,0.08,0.08,-0.02,0.09,0.62
13,Put,-0.04,-0.03,-0.29,-0.09,-0.13,-0.08,0.14,0.07,-0.09,-0.12,-0.12,-0.02,0.26
14,pSTS,0.13,0.05,-0.00,0.21,-0.10,0.24,0.67,0.10,0.31,-0.11,0.06,0.24,0.41
15,VC,0.27,0.30,0.24,0.21,0.07,0.43,-0.32,0.49,-0.20,0.25,0.22,0.13,0.59
16,vlPFC,0.29,0.00,0.35,-0.14,-0.07,0.09,0.69,0.08,-0.11,0.23,0.09,0.20,0.31
17,mOFC,-0.03,0.18,-0.19,0.14,0.17,0.21,0.13,0.13,0.06,0.02,0.05,0.11,0.55
18,mPFC,0.14,-0.06,0.32,0.01,-0.04,0.39,-0.08,0.11,0.22,-0.06,0.07,0.12,0.30
19,lOFC,0.14,0.04,-0.24,0.24,-0.12,0.08,-0.34,0.02,-0.01,-0.02,0.01,-0.05,0.47

#### Model-9

We will start off by building a LSTM Model:
- `Number of LSTM Layers = 1`
- `Number of Dense Layers = 2`
- `hidden units = 16`
- `dropout = 0.3`

In [79]:
HIDDEN_UNITS = 16
DROPOUT_PROB = 0.3
LSTM_LAYERS = 1
DENSE_LAYERS = 2

In [80]:
sample_model = avg_bold_model()
sample_model.build(input_shape=batch_x.shape)
sample_model.summary()

Model: "sequential_168"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 lstm_210 (LSTM)             (10, 188, 16)             1152

 dropout_168 (Dropout)       (10, 188, 16)             0

 time_distributed_315 (TimeD  (10, 188, 16)            272
 istributed)

 time_distributed_316 (TimeD  (10, 188, 1)             17
 istributed)

=================================================================
Total params: 1,441
Trainable params: 1,441
Non-trainable params: 0
_________________________________________________________________

In [81]:
models = [avg_bold_model() for _ in range(len(ROI_names))]

In [82]:
for i in range(len(ROI_names)):
  models[i].compile(optimizer = 'adam', loss = 'mean_squared_error')

In [83]:
for i in range(len(ROI_names)):
  models[i].load_weights(f"./Models/YOUNG/LSTM/AVG-BOLD/{ROI_names[i]}/model_weights-{LSTM_LAYERS}L-{HIDDEN_UNITS}H-{DENSE_LAYERS}D-{int(DROPOUT_PROB*10)}Drop-{LOOK_AHEAD}Ahead-{ROI_names[i]}")

In [ ]:
preds = [models[i].predict(next(test_data_generator[i].generate())[0]) for i in range(len(ROI_names))]

In [85]:
generate_each_sub_n_overall_pred_corr(preds)

***Each Test Subject's Correlation Coefficient between predicted and actual average BOLD values of each Ascent and Descent for ROIs***


***dmPFC***

,Subs,A1,A2,A3,A4,A5,D1,D2,D3,D4,D5,Avg_Asc,Avg_Des,Overall
0,1.0,0.11,-0.19,0.48,0.17,-0.02,-0.02,0.36,-0.19,0.30,0.44,0.11,0.18,0.27
1,2.0,0.57,-0.32,-0.48,0.16,-0.16,-0.69,-0.48,-0.02,0.60,0.17,-0.05,-0.08,0.49
2,3.0,0.58,-0.49,-0.30,0.37,0.04,-0.47,-0.61,0.40,-0.62,0.18,0.04,-0.22,0.35
3,4.0,-0.42,-0.17,-0.37,-0.01,-0.20,-0.26,-0.67,-0.30,0.46,-0.35,-0.23,-0.22,0.29
4,5.0,-0.28,-0.83,-0.24,0.36,-0.13,0.09,0.63,-0.00,0.10,-0.83,-0.22,-0.00,0.07
5,6.0,-0.37,-0.47,0.21,-0.22,-0.16,-0.70,-0.40,-0.59,0.62,-0.08,-0.20,-0.23,0.42
6,7.0,0.71,-0.48,0.30,0.12,0.25,0.80,-0.95,-0.78,-0.04,0.39,0.18,-0.12,0.17
7,8.0,0.51,-0.48,-0.13,0.12,0.17,0.28,-0.37,0.11,0.11,0.18,0.04,0.06,0.50
8,9.0,0.21,0.08,-0.08,-0.00,-0.30,-0.12,-0.49,0.34,-0.70,0.37,-0.02,-0.12,0.37
9,10.0,0.52,-0.62,0.51,0.34,-0.71,0.76,-0.63,-0.44,-0.06,-0.40,0.01,-0.15,0.08

***ACC***

,Subs,A1,A2,A3,A4,A5,D1,D2,D3,D4,D5,Avg_Asc,Avg_Des,Overall
0,1.0,0.17,0.07,-0.55,0.26,-0.07,0.05,-0.31,0.17,-0.21,-0.73,-0.02,-0.21,0.24
1,2.0,-0.15,-0.02,-0.33,-0.06,0.05,-0.64,-0.55,0.33,-0.07,-0.16,-0.10,-0.22,0.44
2,3.0,0.41,-0.49,-0.51,0.08,0.52,0.58,0.74,-0.48,-0.32,0.51,0.00,0.21,0.37
3,4.0,-0.14,-0.11,-0.15,-0.06,0.57,0.42,0.28,0.28,-0.45,0.09,0.02,0.12,0.00
4,5.0,0.12,0.51,-0.77,0.60,0.60,0.58,-0.82,0.68,-0.34,-0.73,0.21,-0.13,0.02
5,6.0,-0.16,-0.62,-0.20,-0.04,0.18,0.90,0.04,0.23,0.48,-0.66,-0.17,0.20,0.33
6,7.0,-0.17,-0.44,-0.61,0.38,-0.32,0.38,-0.04,-0.15,-0.42,-0.49,-0.23,-0.14,0.06
7,8.0,0.35,-0.47,-0.20,-0.88,0.02,0.27,-0.26,0.39,0.45,-0.12,-0.24,0.15,0.59
8,9.0,-0.18,0.68,-0.25,0.71,0.08,-0.73,-0.83,-0.25,0.41,-0.12,0.21,-0.30,0.46
9,10.0,-0.53,-0.33,-0.27,0.34,0.49,-0.14,-0.21,0.02,0.08,-0.42,-0.06,-0.13,0.38

***AMY***

,Subs,A1,A2,A3,A4,A5,D1,D2,D3,D4,D5,Avg_Asc,Avg_Des,Overall
0,1.0,-0.56,-0.44,0.34,-0.08,-0.04,0.49,0.32,0.13,0.14,0.38,-0.16,0.29,0.17
1,2.0,-0.30,0.34,-0.01,0.21,-0.19,-0.63,-0.89,-0.17,-0.53,-0.05,0.01,-0.45,0.45
2,3.0,0.11,-0.22,0.58,-0.07,0.28,0.42,0.14,-0.25,-0.54,-0.49,0.14,-0.14,0.55
3,4.0,-0.42,0.02,-0.36,0.28,-0.65,-0.03,-0.68,0.41,0.32,-0.33,-0.23,-0.06,0.14
4,5.0,0.28,-0.55,0.40,0.29,0.37,0.76,-0.53,0.05,0.43,0.51,0.16,0.24,-0.11
5,6.0,0.20,-0.46,0.07,-0.51,-0.51,0.55,-0.09,0.13,-0.59,0.14,-0.24,0.03,0.56
6,7.0,-0.01,-0.34,0.34,0.10,0.29,0.81,0.17,-0.47,-0.40,-0.37,0.08,-0.05,0.19
7,8.0,-0.63,0.09,0.31,0.21,-0.79,-0.35,0.66,-0.29,-0.65,0.62,-0.16,-0.00,0.71
8,9.0,0.05,0.58,0.70,0.26,-0.24,-0.80,-0.37,-0.13,0.13,-0.60,0.27,-0.35,0.14
9,10.0,-0.16,-0.23,0.18,0.13,0.62,0.08,-0.08,0.05,-0.69,-0.28,0.11,-0.18,0.14

***Cau***

,Subs,A1,A2,A3,A4,A5,D1,D2,D3,D4,D5,Avg_Asc,Avg_Des,Overall
0,1.0,0.04,0.45,0.04,0.12,0.39,0.24,-0.87,0.12,-0.04,0.46,0.21,-0.02,0.10
1,2.0,0.43,0.62,-0.20,0.23,0.09,-0.00,0.55,0.56,0.67,0.25,0.23,0.41,0.58
2,3.0,-0.12,-0.12,-0.70,0.30,0.77,-0.80,-0.44,-0.04,-0.41,0.58,0.03,-0.22,0.38
3,4.0,0.22,0.43,0.33,0.13,-0.52,-0.51,-0.76,0.23,-0.60,0.02,0.12,-0.32,0.12
4,5.0,0.21,-0.24,0.03,0.09,-0.17,-0.50,-0.78,0.04,-0.51,0.46,-0.02,-0.26,0.43
5,6.0,-0.14,-0.04,-0.28,-0.09,-0.37,0.59,0.86,-0.51,-0.62,-0.63,-0.18,-0.06,0.05
6,7.0,-0.67,-0.19,0.58,0.04,0.65,-0.06,0.66,0.13,-0.79,0.05,0.08,-0.00,0.03
7,8.0,0.14,0.37,0.46,-0.10,-0.24,0.09,0.74,0.06,-0.51,0.33,0.13,0.14,0.17
8,9.0,-0.02,0.65,-0.02,0.17,0.35,0.86,0.42,0.60,-0.19,-0.33,0.23,0.27,0.66
9,10.0,0.08,-0.12,0.28,-0.03,-0.18,0.05,0.83,0.39,-0.39,0.45,0.01,0.27,0.25

***dlPFC***

,Subs,A1,A2,A3,A4,A5,D1,D2,D3,D4,D5,Avg_Asc,Avg_Des,Overall
0,1.0,0.20,-0.82,0.03,0.08,0.66,-0.26,-0.65,-0.57,-0.63,0.47,0.03,-0.33,0.14
1,2.0,-0.17,0.19,0.03,0.26,-0.31,0.33,0.92,0.57,0.22,0.30,0.00,0.47,0.32
2,3.0,-0.34,-0.37,0.34,0.30,0.89,0.06,0.68,-0.42,-0.53,0.48,0.16,0.05,0.16
3,4.0,-0.80,0.43,0.23,-0.04,0.06,0.12,1.00,-0.10,0.05,0.44,-0.02,0.30,-0.15
4,5.0,-0.17,-0.15,-0.22,-0.45,-0.51,-0.98,0.75,0.24,-0.65,-0.27,-0.30,-0.18,0.13
5,6.0,0.22,-0.26,0.34,0.16,-0.01,-0.04,0.42,-0.25,-0.62,-0.23,0.09,-0.14,0.05
6,7.0,0.04,0.61,-0.24,0.25,-0.79,0.06,0.74,-0.21,0.64,0.17,-0.03,0.28,0.07
7,8.0,-0.57,-0.50,0.45,0.35,-0.33,-0.52,0.80,-0.26,0.20,-0.30,-0.12,-0.02,-0.05
8,9.0,0.09,-0.19,0.14,-0.23,-0.85,-0.05,0.91,0.33,0.13,-0.69,-0.21,0.13,0.24
9,10.0,0.59,0.17,0.35,0.41,0.12,0.71,0.84,0.32,0.40,0.47,0.33,0.55,0.36

***INS***

,Subs,A1,A2,A3,A4,A5,D1,D2,D3,D4,D5,Avg_Asc,Avg_Des,Overall
0,1.0,0.52,-0.54,0.83,-0.17,-0.60,-0.19,0.71,-0.05,-0.06,0.33,0.01,0.15,0.35
1,2.0,0.41,0.58,0.74,0.65,0.65,0.39,-0.93,0.07,0.45,-0.03,0.61,-0.01,0.71
2,3.0,0.58,-0.54,0.64,0.09,0.87,-0.11,0.48,0.49,0.68,0.68,0.33,0.44,0.49
3,4.0,0.25,0.41,0.69,0.13,-0.71,-0.04,0.86,0.27,0.31,0.15,0.15,0.31,0.31
4,5.0,-0.03,0.20,0.78,-0.19,0.61,-0.76,-0.18,0.24,0.82,0.26,0.27,0.08,-0.12
5,6.0,0.52,-0.06,-0.30,0.03,-0.10,-0.24,-0.19,0.09,-0.82,0.73,0.02,-0.09,0.34
6,7.0,0.22,-0.17,0.48,0.42,-0.19,-0.42,0.14,0.22,-0.52,0.12,0.15,-0.09,-0.08
7,8.0,0.44,0.49,0.92,-0.06,-0.73,0.30,-0.73,0.34,0.61,0.16,0.21,0.14,0.44
8,9.0,-0.23,-0.21,0.75,-0.13,0.70,0.32,-0.90,-0.35,0.01,-0.56,0.18,-0.30,-0.10
9,10.0,0.70,-0.30,0.76,0.39,-0.81,0.36,0.61,-0.13,0.78,0.39,0.15,0.40,0.27

***IPL***

,Subs,A1,A2,A3,A4,A5,D1,D2,D3,D4,D5,Avg_Asc,Avg_Des,Overall
0,1.0,0.18,0.16,0.34,0.19,-0.25,0.70,0.91,-0.13,0.03,0.02,0.12,0.31,0.39
1,2.0,0.65,0.32,-0.11,-0.07,0.84,0.22,0.74,0.48,-0.71,0.17,0.33,0.18,0.18
2,3.0,0.74,-0.63,0.42,-0.41,-0.36,0.04,0.83,0.10,-0.08,0.23,-0.05,0.22,0.50
3,4.0,-0.04,-0.32,0.69,0.21,-0.61,0.59,0.85,0.33,-0.58,0.17,-0.01,0.27,0.50
4,5.0,0.53,0.39,0.11,0.58,0.72,-0.52,0.81,0.60,0.02,0.17,0.47,0.22,0.35
5,6.0,0.03,-0.08,0.56,-0.49,-0.21,0.87,0.99,0.34,0.45,0.15,-0.04,0.56,0.30
6,7.0,0.70,0.11,-0.73,-0.18,0.89,0.72,0.96,-0.03,-0.64,-0.22,0.16,0.16,0.56
7,8.0,0.57,0.25,0.34,-0.55,0.17,0.92,0.99,0.48,-0.51,-0.58,0.16,0.26,0.59
8,9.0,-0.11,-0.04,0.23,-0.30,0.28,0.24,0.88,0.09,-0.05,-0.79,0.01,0.07,0.38
9,10.0,0.32,0.50,0.58,0.53,0.24,0.68,0.45,-0.16,-0.61,-0.25,0.43,0.02,0.32

***mCC***

,Subs,A1,A2,A3,A4,A5,D1,D2,D3,D4,D5,Avg_Asc,Avg_Des,Overall
0,1.0,-0.23,0.03,-0.48,0.15,-0.08,-0.41,0.20,-0.44,-0.15,0.30,-0.12,-0.10,0.24
1,2.0,-0.11,-0.34,-0.07,0.64,-0.02,-0.31,-0.58,-0.21,0.05,0.13,0.02,-0.18,0.08
2,3.0,0.52,-0.21,0.57,0.30,-0.50,0.34,0.61,-0.28,0.52,0.53,0.14,0.34,0.58
3,4.0,0.16,0.07,-0.33,0.15,-0.09,-0.28,0.91,-0.50,0.05,-0.45,-0.01,-0.05,0.17
4,5.0,-0.11,-0.74,-0.17,0.13,0.09,-0.62,-0.67,0.13,0.39,-0.83,-0.16,-0.32,0.48
5,6.0,0.07,0.11,0.39,-0.13,0.25,-0.58,-0.97,-0.04,0.62,0.26,0.14,-0.14,0.87
6,7.0,-0.54,0.42,-0.60,0.01,-0.33,-0.82,-0.57,0.33,0.20,0.21,-0.21,-0.13,0.11
7,8.0,0.57,-0.24,-0.36,-0.11,0.17,-0.50,0.41,0.01,-0.36,-0.26,0.01,-0.14,0.51
8,9.0,-0.29,-0.50,0.32,-0.05,0.09,0.56,-0.61,0.04,-0.44,-0.20,-0.09,-0.13,0.28
9,10.0,0.02,-0.41,-0.62,-0.11,0.11,-0.70,-0.67,0.07,0.43,-0.39,-0.20,-0.25,0.29

***Nac***

,Subs,A1,A2,A3,A4,A5,D1,D2,D3,D4,D5,Avg_Asc,Avg_Des,Overall
0,1.0,0.23,0.70,0.27,-0.11,0.40,0.38,-0.83,0.19,-0.08,0.34,0.30,0.00,0.06
1,2.0,0.19,0.76,-0.20,0.13,0.17,0.10,0.73,0.66,0.56,0.26,0.21,0.46,0.40
2,3.0,-0.04,-0.13,-0.66,0.44,0.16,-0.58,-0.67,-0.25,-0.76,0.58,-0.05,-0.34,0.21
3,4.0,-0.09,0.39,0.29,0.02,-0.48,-0.24,-0.73,0.08,-0.62,-0.24,0.03,-0.35,0.44
4,5.0,0.46,-0.45,-0.07,0.15,-0.06,-0.57,-0.29,-0.17,-0.45,0.36,0.01,-0.22,0.42
5,6.0,0.56,0.09,-0.34,0.36,0.12,-0.12,0.03,-0.64,-0.85,-0.32,0.16,-0.38,0.15
6,7.0,-0.79,0.07,0.39,0.04,0.53,-0.26,0.83,0.01,-0.46,0.20,0.05,0.06,0.07
7,8.0,0.05,0.52,0.41,0.22,0.08,0.18,0.70,0.22,-0.79,0.18,0.26,0.10,0.30
8,9.0,-0.27,0.88,0.24,0.28,0.38,0.84,0.37,0.83,-0.28,-0.39,0.30,0.27,0.71
9,10.0,0.08,0.31,0.01,-0.17,0.28,-0.26,0.82,0.37,-0.05,0.32,0.10,0.24,-0.12

***PCC***

,Subs,A1,A2,A3,A4,A5,D1,D2,D3,D4,D5,Avg_Asc,Avg_Des,Overall
0,1.0,-0.66,0.07,0.44,0.16,0.78,0.74,0.78,0.11,0.21,0.75,0.16,0.52,0.18
1,2.0,-0.79,-0.38,-0.60,-0.17,0.30,-0.83,-0.21,0.26,-0.56,0.10,-0.33,-0.25,0.31
2,3.0,-0.45,-0.48,-0.36,0.35,0.87,0.89,-0.29,0.12,0.03,0.52,-0.01,0.25,0.33
3,4.0,0.58,-0.38,0.07,0.27,0.87,0.68,0.74,0.44,0.76,-0.68,0.28,0.39,0.56
4,5.0,-0.01,-0.19,-0.62,0.51,0.32,0.63,0.55,-0.47,-0.58,-0.31,0.00,-0.04,0.15
5,6.0,0.24,-0.11,0.14,0.43,-0.08,0.87,-0.99,0.15,0.39,-0.79,0.12,-0.07,0.57
6,7.0,-0.33,-0.01,0.05,0.38,0.27,0.04,-0.74,0.28,0.64,-0.20,0.07,0.00,0.36
7,8.0,-0.70,-0.87,0.51,0.60,0.14,0.86,-0.69,0.39,0.05,0.00,-0.06,0.12,0.49
8,9.0,-0.57,-0.10,-0.79,-0.02,0.57,-0.43,-0.35,0.08,-0.13,-0.20,-0.18,-0.21,0.26
9,10.0,-0.33,-0.15,0.58,0.56,0.83,0.66,-0.78,-0.32,0.02,-0.05,0.30,-0.09,0.29

***PCG***

,Subs,A1,A2,A3,A4,A5,D1,D2,D3,D4,D5,Avg_Asc,Avg_Des,Overall
0,1.0,-0.33,-0.41,-0.41,0.64,0.88,-0.52,0.42,0.16,-0.01,0.75,0.07,0.16,0.43
1,2.0,0.59,0.53,-0.46,-0.54,0.85,0.37,-0.14,-0.09,-0.36,0.24,0.19,0.00,0.36
2,3.0,0.40,-0.24,0.87,-0.09,-0.84,-0.48,-0.30,0.08,0.18,0.56,0.02,0.01,0.31
3,4.0,0.05,0.24,-0.06,-0.69,0.61,0.42,-0.97,-0.06,-0.05,0.33,0.03,-0.07,-0.06
4,5.0,0.44,0.56,-0.34,-0.47,-0.97,-0.64,0.43,0.63,-0.70,-0.51,-0.16,-0.16,0.02
5,6.0,0.16,-0.05,-0.00,-0.28,0.48,0.05,0.65,0.44,-0.69,0.46,0.06,0.18,0.56
6,7.0,-0.05,0.28,-0.78,-0.03,-0.19,-0.05,-0.04,0.07,0.25,0.44,-0.15,0.13,0.26
7,8.0,0.28,-0.36,-0.52,-0.22,0.67,-0.06,0.10,0.64,0.01,-0.18,-0.03,0.10,0.27
8,9.0,-0.51,-0.24,-0.55,-0.49,-0.14,-0.03,0.01,0.52,0.78,-0.30,-0.39,0.20,0.51
9,10.0,0.13,0.78,-0.55,-0.24,0.91,0.97,0.04,-0.02,0.09,0.33,0.21,0.28,0.61

***Prec***

,Subs,A1,A2,A3,A4,A5,D1,D2,D3,D4,D5,Avg_Asc,Avg_Des,Overall
0,1.0,-0.07,-0.56,0.68,0.62,0.37,0.68,-0.00,-0.27,0.70,0.07,0.21,0.24,0.25
1,2.0,-0.35,-0.04,-0.47,0.19,-0.58,-0.90,-0.12,-0.72,-0.26,-0.21,-0.25,-0.44,0.48
2,3.0,0.16,0.29,0.04,0.89,0.89,0.91,0.62,-0.44,0.68,0.74,0.45,0.50,0.53
3,4.0,-0.22,-0.18,0.79,0.37,0.80,0.26,-0.96,-0.61,-0.24,0.56,0.31,-0.20,0.29
4,5.0,-0.43,-0.55,0.63,0.57,0.88,0.79,0.03,-0.29,0.66,0.63,0.22,0.36,0.12
5,6.0,-0.14,-0.55,0.41,-0.07,0.25,0.09,0.45,-0.42,-0.41,-0.35,-0.02,-0.13,0.60
6,7.0,0.42,-0.40,0.78,0.29,0.15,-0.30,-0.38,0.36,-0.55,-0.41,0.25,-0.26,0.37
7,8.0,-0.29,-0.12,0.78,0.29,0.51,0.90,-0.54,0.37,-0.49,0.64,0.23,0.18,0.65
8,9.0,0.33,0.43,-0.01,0.72,0.87,-0.53,-0.49,-0.02,0.12,0.35,0.47,-0.11,0.29
9,10.0,-0.07,-0.38,0.72,0.40,0.68,0.68,-0.43,-0.22,-0.77,0.62,0.27,-0.02,0.46

***TP***

,Subs,A1,A2,A3,A4,A5,D1,D2,D3,D4,D5,Avg_Asc,Avg_Des,Overall
0,1.0,0.15,0.36,-0.35,-0.35,0.41,0.24,-0.24,-0.29,-0.78,-0.75,0.04,-0.36,0.49
1,2.0,0.22,0.43,0.12,0.25,-0.04,0.38,0.84,0.02,0.42,0.69,0.20,0.47,0.49
2,3.0,-0.54,0.18,0.39,0.10,0.08,0.14,0.36,0.35,-0.91,0.56,0.04,0.10,0.62
3,4.0,0.07,0.35,0.56,-0.28,-0.07,0.47,-0.43,0.29,0.48,0.22,0.13,0.21,0.33
4,5.0,-0.06,0.33,0.39,-0.48,-0.24,-0.42,-0.93,-0.43,-0.31,-0.71,-0.01,-0.56,0.61
5,6.0,0.07,0.09,-0.34,0.42,-0.43,0.17,0.93,-0.59,0.45,-0.40,-0.04,0.11,0.31
6,7.0,-0.54,-0.07,-0.39,0.51,0.17,-0.97,0.64,0.56,-0.11,-0.04,-0.06,0.02,0.17
7,8.0,-0.60,-0.09,0.54,-0.27,-0.45,-0.05,-0.04,0.65,0.87,0.61,-0.17,0.41,0.62
8,9.0,-0.26,-0.03,0.48,-0.31,-0.66,0.42,-0.89,0.60,-0.74,-0.47,-0.16,-0.22,0.66
9,10.0,-0.43,-0.56,0.29,0.19,-0.07,0.42,-0.37,0.01,0.69,0.51,-0.12,0.25,0.49

***Put***

,Subs,A1,A2,A3,A4,A5,D1,D2,D3,D4,D5,Avg_Asc,Avg_Des,Overall
0,1.0,-0.18,-0.29,-0.53,-0.55,-0.18,0.35,-0.49,0.02,-0.72,0.24,-0.35,-0.12,0.28
1,2.0,-0.47,-0.36,-0.12,-0.08,-0.75,0.34,0.63,-0.37,-0.34,0.07,-0.36,0.07,0.11
2,3.0,0.48,-0.14,0.08,-0.08,0.64,0.65,0.64,0.17,-0.17,0.49,0.20,0.36,0.63
3,4.0,0.26,-0.37,-0.44,-0.14,0.37,0.36,-0.47,0.07,-0.10,-0.78,-0.06,-0.18,0.10
4,5.0,-0.01,0.75,-0.35,-0.31,-0.06,-0.86,-0.04,0.06,0.72,-0.55,0.00,-0.13,0.30
5,6.0,0.29,0.52,-0.02,-0.42,-0.90,-0.56,-0.74,-0.53,0.71,-0.87,-0.11,-0.40,0.16
6,7.0,0.32,0.02,-0.42,0.07,0.15,-0.97,0.50,0.38,0.01,0.45,0.03,0.07,0.12
7,8.0,-0.11,-0.42,0.38,0.46,-0.43,-0.68,0.73,0.57,0.21,0.16,-0.02,0.20,0.46
8,9.0,-0.45,-0.04,-0.39,-0.37,0.08,0.61,-0.67,0.07,-0.83,-0.07,-0.23,-0.18,0.35
9,10.0,-0.32,-0.27,-0.77,-0.07,-0.23,-0.12,0.99,-0.17,-0.46,-0.58,-0.33,-0.07,0.15

***pSTS***

,Subs,A1,A2,A3,A4,A5,D1,D2,D3,D4,D5,Avg_Asc,Avg_Des,Overall
0,1.0,-0.01,0.13,-0.74,0.37,0.02,0.29,0.25,0.38,0.55,0.16,-0.05,0.33,0.53
1,2.0,-0.14,0.02,-0.00,-0.48,0.49,0.60,0.48,0.10,0.33,-0.10,-0.02,0.28,0.42
2,3.0,0.79,-0.76,0.17,0.38,-0.78,-0.35,0.55,0.15,-0.42,0.51,-0.04,0.09,0.70
3,4.0,-0.54,-0.36,0.02,0.34,-0.81,0.13,0.63,0.27,0.70,-0.21,-0.27,0.30,0.35
4,5.0,0.19,0.20,-0.23,0.14,0.00,0.01,0.86,-0.30,0.07,-0.47,0.06,0.03,0.40
5,6.0,-0.43,0.02,-0.03,-0.03,-0.72,0.15,0.99,0.15,0.71,-0.49,-0.24,0.30,0.61
6,7.0,0.37,0.35,-0.27,0.32,0.33,0.26,0.76,0.27,0.61,-0.39,0.22,0.30,0.23
7,8.0,0.39,0.04,0.51,0.23,0.12,-0.04,0.68,0.04,0.71,0.06,0.26,0.29,0.68
8,9.0,0.46,0.08,0.10,0.42,-0.19,0.45,0.84,-0.04,-0.49,-0.03,0.17,0.15,0.35
9,10.0,0.54,0.93,0.80,0.62,0.53,0.85,0.64,0.13,0.57,0.07,0.68,0.45,-0.01

***VC***

,Subs,A1,A2,A3,A4,A5,D1,D2,D3,D4,D5,Avg_Asc,Avg_Des,Overall
0,1.0,0.01,-0.59,0.03,0.09,-0.72,0.90,0.28,0.41,-0.43,0.73,-0.24,0.38,0.34
1,2.0,0.10,0.84,0.02,-0.56,-0.51,0.90,-0.28,0.73,0.31,-0.10,-0.02,0.31,0.35
2,3.0,0.75,0.77,-0.81,-0.55,0.40,-0.52,-0.91,0.51,-0.80,0.77,0.11,-0.19,0.44
3,4.0,0.00,0.65,0.44,0.36,-0.38,0.53,-0.65,0.61,-0.14,0.71,0.21,0.21,0.55
4,5.0,0.59,-0.14,0.77,0.37,0.85,-0.31,-0.01,0.33,-0.34,0.54,0.49,0.04,0.53
5,6.0,0.61,-0.38,0.58,0.30,-0.18,0.64,-0.60,0.12,-0.43,-0.15,0.19,-0.08,0.12
6,7.0,0.02,0.50,-0.11,-0.01,-0.97,0.93,-0.35,-0.11,0.38,0.20,-0.11,0.21,0.34
7,8.0,0.46,0.69,0.65,0.35,0.47,-0.86,0.57,0.14,-0.18,-0.94,0.52,-0.25,0.47
8,9.0,-0.90,-0.16,0.26,-0.29,0.70,0.59,-0.39,0.33,0.66,-0.84,-0.08,0.07,0.39
9,10.0,0.54,0.81,0.35,0.62,0.26,0.96,0.74,0.71,0.30,0.29,0.52,0.60,0.38

***vlPFC***

,Subs,A1,A2,A3,A4,A5,D1,D2,D3,D4,D5,Avg_Asc,Avg_Des,Overall
0,1.0,0.21,-0.42,0.02,0.16,0.20,-0.53,-0.17,-0.66,0.03,0.54,0.03,-0.16,0.35
1,2.0,0.49,0.09,0.13,-0.09,-0.01,-0.05,0.74,-0.10,0.07,0.43,0.12,0.22,0.14
2,3.0,0.79,-0.76,0.78,0.21,0.49,-0.63,0.40,0.74,0.04,0.08,0.30,0.13,0.61
3,4.0,-0.41,0.21,0.30,-0.02,-0.44,0.16,0.29,0.06,0.56,0.59,-0.07,0.33,0.39
4,5.0,0.06,0.17,0.40,-0.69,0.15,-0.97,0.99,0.08,-0.04,0.35,0.02,0.08,0.28
5,6.0,0.36,-0.12,0.27,-0.38,-0.88,0.63,0.78,0.58,-0.60,-0.09,-0.15,0.26,0.36
6,7.0,0.51,0.45,0.08,-0.09,0.52,0.31,0.86,-0.08,-0.57,0.46,0.29,0.20,0.31
7,8.0,0.44,-0.44,0.34,-0.13,-0.39,0.78,0.91,0.10,-0.19,-0.41,-0.04,0.24,0.56
8,9.0,0.21,0.33,0.30,-0.09,-0.22,0.30,0.99,-0.05,-0.44,-0.00,0.11,0.16,0.54
9,10.0,0.65,0.21,0.66,0.32,-0.31,0.41,0.99,0.57,0.14,0.54,0.31,0.53,0.19

***mOFC***

,Subs,A1,A2,A3,A4,A5,D1,D2,D3,D4,D5,Avg_Asc,Avg_Des,Overall
0,1.0,0.08,-0.34,0.37,-0.15,0.28,0.32,0.94,-0.21,-0.57,0.22,0.05,0.14,0.24
1,2.0,0.01,0.16,0.38,-0.16,0.76,-0.34,-0.07,0.24,-0.52,-0.07,0.23,-0.15,0.58
2,3.0,-0.45,0.06,-0.56,0.31,0.72,0.06,0.47,0.18,0.93,-0.51,0.02,0.23,0.88
3,4.0,0.15,0.46,0.60,0.40,-0.68,0.69,0.85,0.12,0.12,0.08,0.19,0.37,0.91
4,5.0,0.43,0.19,-0.21,0.37,0.66,0.16,0.60,-0.22,0.61,0.43,0.29,0.32,0.61
5,6.0,0.32,0.88,-0.11,-0.12,0.18,0.98,-0.49,-0.45,0.03,-0.58,0.23,-0.10,0.73
6,7.0,-0.57,-0.54,-0.54,0.45,0.19,0.04,-0.71,0.41,-0.71,0.26,-0.20,-0.14,-0.16
7,8.0,0.18,-0.11,-0.71,-0.23,-0.54,0.99,-0.06,0.77,0.45,0.12,-0.28,0.45,0.83
8,9.0,-0.39,0.91,-0.76,-0.13,0.70,-0.94,0.59,0.31,0.20,0.12,0.07,0.06,0.89
9,10.0,-0.02,-0.28,-0.35,0.44,-0.40,0.16,-0.68,0.20,0.38,-0.14,-0.12,-0.02,0.09

***mPFC***

,Subs,A1,A2,A3,A4,A5,D1,D2,D3,D4,D5,Avg_Asc,Avg_Des,Overall
0,1.0,0.23,-0.22,0.58,-0.34,-0.34,0.89,0.54,0.07,-0.47,-0.04,-0.02,0.20,0.18
1,2.0,0.51,0.49,-0.46,-0.06,-0.48,-0.91,-0.23,0.03,-0.24,-0.56,0.00,-0.38,0.14
2,3.0,0.63,-0.81,-0.45,0.20,-0.02,0.78,0.33,-0.58,0.03,0.41,-0.09,0.19,0.36
3,4.0,-0.29,-0.14,0.39,-0.09,0.37,0.93,-0.54,0.25,0.31,0.68,0.05,0.33,0.65
4,5.0,-0.45,-0.13,0.29,0.17,0.30,0.26,0.70,0.47,0.09,-0.28,0.04,0.25,0.25
5,6.0,-0.36,-0.11,0.37,0.01,0.01,0.40,-0.56,0.19,0.25,-0.83,-0.02,-0.11,0.19
6,7.0,0.29,0.20,0.71,-0.06,0.26,0.42,0.02,0.14,0.79,-0.14,0.28,0.25,0.23
7,8.0,-0.17,-0.07,0.70,-0.16,-0.20,0.95,0.43,0.74,0.67,0.28,0.02,0.61,0.71
8,9.0,0.16,-0.43,0.19,-0.43,-0.13,-0.78,-0.78,-0.38,-0.13,-0.95,-0.13,-0.60,0.12
9,10.0,0.67,0.55,0.84,0.66,-0.09,0.84,-0.85,0.32,0.52,0.56,0.53,0.28,-0.05

***lOFC***

,Subs,A1,A2,A3,A4,A5,D1,D2,D3,D4,D5,Avg_Asc,Avg_Des,Overall
0,1.0,0.47,-0.62,-0.37,-0.27,-0.29,0.55,0.76,0.24,-0.61,-0.00,-0.22,0.19,0.46
1,2.0,0.54,-0.20,-0.54,-0.40,-0.48,-0.49,0.06,0.71,-0.78,0.14,-0.22,-0.07,0.21
2,3.0,-0.30,0.38,0.06,0.55,-0.26,-0.13,-0.99,0.43,0.36,-0.07,0.09,-0.08,0.64
3,4.0,-0.37,0.23,0.26,0.54,0.15,0.18,-0.11,0.01,0.38,-0.01,0.16,0.09,0.76
4,5.0,-0.57,-0.26,-0.77,0.30,0.28,-0.41,-0.89,-0.13,0.13,0.63,-0.20,-0.13,0.19
5,6.0,0.54,-0.04,-0.23,0.04,-0.27,0.43,-0.42,-0.48,-0.33,0.18,0.01,-0.12,0.10
6,7.0,0.02,-0.29,-0.40,0.58,0.38,0.59,-0.31,-0.27,-0.07,-0.17,0.06,-0.05,0.19
7,8.0,0.14,0.10,0.29,0.30,-0.73,0.53,-0.15,-0.01,-0.27,-0.37,0.02,-0.05,0.79
8,9.0,0.24,0.86,-0.55,-0.29,0.26,0.55,0.04,-0.39,0.59,-0.76,0.10,0.01,0.80
9,10.0,0.38,0.31,0.04,0.61,-0.09,-0.51,-0.98,0.35,0.31,-0.10,0.25,-0.19,-0.11

***Average across test subjects Correlation Coefficient between predicted and actual average BOLD values of each Ascent and Descent for ROIs***

,ROIs,A1,A2,A3,A4,A5,D1,D2,D3,D4,D5,Avg_Asc,Avg_Des,Overall
0,dmPFC,0.21,-0.40,-0.01,0.14,-0.12,-0.03,-0.36,-0.15,0.08,0.01,-0.03,-0.09,0.30
1,ACC,-0.03,-0.12,-0.38,0.13,0.21,0.17,-0.20,0.12,-0.04,-0.28,-0.04,-0.05,0.29
2,AMY,-0.14,-0.12,0.25,0.08,-0.09,0.13,-0.14,-0.05,-0.24,-0.05,-0.00,-0.07,0.29
3,Cau,0.02,0.18,0.05,0.09,0.08,-0.00,0.12,0.16,-0.34,0.16,0.08,0.02,0.28
4,dlPFC,-0.09,-0.09,0.14,0.11,-0.11,-0.06,0.64,-0.03,-0.08,0.08,-0.01,0.11,0.13
5,INS,0.34,-0.01,0.63,0.12,-0.03,-0.04,-0.01,0.12,0.23,0.22,0.21,0.10,0.26
6,IPL,0.36,0.07,0.24,-0.05,0.17,0.45,0.84,0.21,-0.27,-0.09,0.16,0.23,0.41
7,mCC,0.00,-0.18,-0.14,0.10,-0.03,-0.33,-0.19,-0.09,0.13,-0.07,-0.05,-0.11,0.36
8,Nac,0.04,0.31,0.03,0.14,0.16,-0.05,0.10,0.13,-0.38,0.13,0.14,-0.02,0.27
9,PCC,-0.30,-0.26,-0.06,0.31,0.49,0.41,-0.20,0.10,0.08,-0.09,0.04,0.06,0.35
10,PCG,0.12,0.11,-0.28,-0.24,0.23,0.00,0.02,0.24,-0.05,0.21,-0.01,0.08,0.33
11,Prec,-0.07,-0.21,0.44,0.43,0.48,0.26,-0.18,-0.23,-0.06,0.26,0.21,0.01,0.40
12,TP,-0.19,0.10,0.17,-0.02,-0.13,0.08,-0.01,0.12,0.01,0.02,-0.01,0.04,0.48
13,Put,-0.02,-0.06,-0.26,-0.15,-0.13,-0.09,0.11,0.03,-0.10,-0.14,-0.12,-0.04,0.27
14,pSTS,0.16,0.06,0.03,0.23,-0.10,0.23,0.67,0.12,0.33,-0.09,0.08,0.25,0.43
15,VC,0.22,0.30,0.22,0.07,-0.01,0.38,-0.16,0.38,-0.07,0.12,0.16,0.13,0.39
16,vlPFC,0.33,-0.03,0.33,-0.08,-0.09,0.04,0.68,0.12,-0.10,0.25,0.09,0.20,0.37
17,mOFC,-0.03,0.14,-0.19,0.12,0.19,0.21,0.14,0.13,0.09,-0.01,0.05,0.12,0.56
18,mPFC,0.12,-0.07,0.32,-0.01,-0.03,0.38,-0.10,0.13,0.18,-0.09,0.07,0.10,0.28
19,lOFC,0.11,0.05,-0.22,0.20,-0.11,0.13,-0.30,0.05,-0.03,-0.05,0.00,-0.04,0.40